.tab-jJ_D7IlA {
  all: unset;
  position: relative;
}
.accessible-jJ_D7IlA:before {
  border-radius: 4px;
  content: "";
  height: 100%;
  left: 0;
  outline: 2px none #2962ff;
  position: absolute;
  top: 0;
  width: 100%;
}
.accessible-jJ_D7IlA:focus-visible:before {
  outline-style: solid;
}
