.container-Tv7LSjUz {
  cursor: default;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.overlayScrollWrap-Tv7LSjUz {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}
.wrapper-Tv7LSjUz {
  max-height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}
.wrapper-Tv7LSjUz.sb-scrollbar-wrap {
  display: none;
}
.wrapper-Tv7LSjUz::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
}
.wrapper-Tv7LSjUz::-webkit-scrollbar-thumb,
.wrapper-Tv7LSjUz::-webkit-scrollbar-track {
  display: none;
}
.wrapper-Tv7LSjUz::-webkit-scrollbar-corner {
  display: none;
}
