.container-qm7Rg5MB {
  align-items: center;
  border-bottom: 1px solid #e0e3eb;
  border-color: #e0e3eb currentcolor;
  border-top: 1px solid #e0e3eb;
  cursor: default;
  display: flex;
  flex-shrink: 0;
  position: relative;
}
html.theme-dark .container-qm7Rg5MB {
  border-color: #434651;
}
.inputContainer-qm7Rg5MB {
  height: 24px;
  padding: 8px 47px 8px 16px;
  width: 100%;
}
.inputContainer-qm7Rg5MB.withCancel-qm7Rg5MB {
  padding-left: 70px;
}
.input-qm7Rg5MB {
  background-color: initial;
  border: none;
  color: #131722;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
html.theme-dark .input-qm7Rg5MB {
  color: #a3a6af;
}
.input-qm7Rg5MB::placeholder {
  color: #a3a6af;
  font-weight: 400;
}
html.theme-dark .input-qm7Rg5MB::placeholder {
  color: #434651;
}
.icon-qm7Rg5MB {
  color: #a3a6af;
  height: 18px;
  pointer-events: none;
  position: absolute;
  right: 20px;
  top: calc(50% - 9px);
}
.cancel-qm7Rg5MB {
  color: #6a6d78;
  left: 20px;
  position: absolute;
}
html.theme-dark .cancel-qm7Rg5MB {
  color: #868993;
}
.highlighted-cwp8YRo6,
html.theme-dark .highlighted-cwp8YRo6 {
  color: #2962ff;
}
