.autocomplete-uszkUMOz {
  flex: 1 1 auto;
  position: relative;
}
.autocomplete-uszkUMOz .caret-uszkUMOz {
  border-radius: 4px;
  display: flex;
  height: calc(100% - 2px);
  justify-content: center;
  margin: 1px 0;
  width: 21px;
}
@media (any-hover: hover) {
  .autocomplete-uszkUMOz .caret-uszkUMOz:hover {
    background-color: #f0f3fa;
  }
  html.theme-dark .autocomplete-uszkUMOz .caret-uszkUMOz:hover {
    background-color: #363a45;
  }
  .autocomplete-uszkUMOz .caret-uszkUMOz:hover .icon-uszkUMOz {
    color: #131722;
  }
  html.theme-dark .autocomplete-uszkUMOz .caret-uszkUMOz:hover .icon-uszkUMOz {
    color: #d1d4dc;
  }
}
.autocomplete-uszkUMOz .caret-uszkUMOz .icon-uszkUMOz {
  color: #6a6d78;
}
html.theme-dark .autocomplete-uszkUMOz .caret-uszkUMOz .icon-uszkUMOz {
  color: #868993;
}
.suggestions-uszkUMOz {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.275);
  font-size: 13px;
  max-height: 0;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 0;
  position: absolute;
  transform: translateZ(0);
  visibility: hidden;
  width: 100%;
  z-index: 150;
}
html.theme-dark .suggestions-uszkUMOz {
  background-color: #1e222d;
}
.suggestions-uszkUMOz::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.suggestions-uszkUMOz::-webkit-scrollbar-thumb {
  background-color: #9598a1;
  border: 1px solid #f0f3fa;
  border-radius: 3px;
}
html.theme-dark .suggestions-uszkUMOz::-webkit-scrollbar-thumb {
  background-color: #363a45;
  border-color: #1e222d;
}
.suggestions-uszkUMOz::-webkit-scrollbar-track {
  background-color: initial;
  border-radius: 3px;
}
.suggestions-uszkUMOz::-webkit-scrollbar-corner {
  display: none;
}
.suggestions-uszkUMOz .noResults-uszkUMOz,
.suggestions-uszkUMOz .suggestion-uszkUMOz {
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.suggestions-uszkUMOz .suggestion-uszkUMOz {
  cursor: pointer;
}
.suggestions-uszkUMOz .suggestion-uszkUMOz.selected-uszkUMOz {
  background-color: #e3effd;
  color: #4a4a4a;
}
html.theme-dark .suggestions-uszkUMOz .suggestion-uszkUMOz.selected-uszkUMOz {
  background-color: #142e61;
  color: #868993;
}
@media (any-hover: hover) {
  .suggestions-uszkUMOz .suggestion-uszkUMOz:hover {
    background-color: #e0e3eb;
    color: #4a4a4a;
  }
  html.theme-dark .suggestions-uszkUMOz .suggestion-uszkUMOz:hover {
    background-color: #1e222d;
    color: #868993;
  }
}
.suggestions-uszkUMOz .suggestion-uszkUMOz:active {
  background-color: #e0e3eb;
  color: #4a4a4a;
}
html.theme-dark .suggestions-uszkUMOz .suggestion-uszkUMOz:active {
  background-color: #2a2e39;
  color: #868993;
}
.suggestions-uszkUMOz .noResults-uszkUMOz {
  color: #6a6d78;
}
html.theme-dark .suggestions-uszkUMOz .noResults-uszkUMOz {
  color: #868993;
}
.opened-uszkUMOz.suggestions-uszkUMOz {
  max-height: 45vh;
  visibility: visible;
}
.opened-uszkUMOz.suggestions-uszkUMOz::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.opened-uszkUMOz.suggestions-uszkUMOz::-webkit-scrollbar-thumb {
  background-color: #9598a1;
  border: 1px solid #f0f3fa;
  border-radius: 3px;
}
html.theme-dark .opened-uszkUMOz.suggestions-uszkUMOz::-webkit-scrollbar-thumb {
  background-color: #363a45;
  border-color: #1e222d;
}
.opened-uszkUMOz.suggestions-uszkUMOz::-webkit-scrollbar-track {
  background-color: initial;
  border-radius: 3px;
}
.opened-uszkUMOz.suggestions-uszkUMOz::-webkit-scrollbar-corner {
  display: none;
}
