.wrap-VeoIyDt4 {
  -webkit-overflow-scrolling: touch;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateZ(0);
}
.wrap-VeoIyDt4::-webkit-scrollbar {
  display: none;
}
.container-VeoIyDt4 {
  height: 100%;
  text-align: center;
}
.container-VeoIyDt4:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.backdrop-VeoIyDt4 {
  background-color: #9598a180;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateZ(0);
  z-index: -1;
}
html.theme-dark .backdrop-VeoIyDt4 {
  background-color: #0c0e1580;
}
.modal-VeoIyDt4 {
  display: inline-block;
  vertical-align: middle;
}
.dialog-VeoIyDt4 {
  margin: 0 auto;
}
.close-button-FuMQAaGA {
  background: #0000;
  border: none;
  border-radius: 4px;
  box-sizing: initial;
  color: #131722;
  margin: 0;
  padding: 8px;
}
html.theme-dark .close-button-FuMQAaGA {
  color: #d1d4dc;
}
.close-button-FuMQAaGA:hover {
  background: #f0f3fa;
}
html.theme-dark .close-button-FuMQAaGA:hover {
  background: #2a2e39;
}
.close-button-FuMQAaGA:active {
  background: #e0e3eb;
}
html.theme-dark .close-button-FuMQAaGA:active {
  background: #1e222d;
}
.close-button-FuMQAaGA {
  outline: none;
  overflow: visible;
  position: absolute;
}
.close-button-FuMQAaGA:focus {
  outline: none;
}
.close-button-FuMQAaGA:focus-visible {
  outline: none;
}
.close-button-FuMQAaGA:after {
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  content: "";
  display: none;
  height: calc(100% + 8px);
  pointer-events: none;
  position: absolute;
  right: -4px;
  top: -4px;
  width: calc(100% + 8px);
  z-index: 1;
}
.close-button-FuMQAaGA:focus:after {
  display: block;
}
.close-button-FuMQAaGA:focus-visible:after {
  display: block;
}
.close-button-FuMQAaGA:focus:not(:focus-visible):after {
  display: none;
}
.close-button-FuMQAaGA:after {
  border-color: #2962ffcc;
  border-radius: 8px;
}
.close-icon-FuMQAaGA,
.close-icon-FuMQAaGA svg {
  display: block;
  height: 100%;
}
.button-l-FuMQAaGA {
  height: 23px;
  padding: 8px;
  width: 23px;
}
.button-m-FuMQAaGA {
  height: 17px;
  padding: 8px;
  width: 17px;
}
.button-s-FuMQAaGA {
  height: 13px;
  padding: 8px;
  width: 13px;
}
.button-xs-FuMQAaGA {
  height: 11px;
  padding: 4px;
  width: 11px;
}
.button-xxs-FuMQAaGA {
  height: 9px;
  padding: 4px;
  width: 9px;
}
.dialog-bqT9_WoX {
  padding: 40px;
  position: relative;
  width: 1020px;
}
@media screen and (max-width: 1019px) {
  .dialog-bqT9_WoX {
    width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .dialog-bqT9_WoX {
    width: 480px;
  }
}
@media screen and (max-width: 479px) {
  .dialog-bqT9_WoX {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
  }
}
.closeButton-bqT9_WoX {
  left: 8px;
  top: 8px;
}
.actions-bqT9_WoX {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}
@media screen and (max-width: 479px) {
  .actions-bqT9_WoX {
    flex-direction: column;
    justify-content: start;
    margin-top: 20px;
  }
}
.title-KX2tCBZq {
  font-feature-settings: "tnum" on, "lnum" on;
  --ui-lib-typography-line-height: 56px;
  --ui-lib-typography-font-size: 48px;
  color: #131722;
  font-family: EuclidCircularSemibold, sans-serif;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--ui-lib-typography-line-height);
  -webkit-user-select: text;
  user-select: text;
}
html.theme-dark .title-KX2tCBZq {
  color: #d1d4dc;
}
@media screen and (max-width: 767px) {
  .title-KX2tCBZq {
    font-feature-settings: "tnum" on, "lnum" on;
    --ui-lib-typography-line-height: 36px;
    --ui-lib-typography-font-size: 32px;
    font-family: EuclidCircularSemibold, sans-serif;
    font-size: var(--ui-lib-typography-font-size);
    font-style: normal;
    font-weight: 600;
    letter-spacing: -.02em;
    line-height: var(--ui-lib-typography-line-height);
    max-width: calc(100% - 20px);
  }
}
.body-KX2tCBZq {
  font-feature-settings: "tnum" on, "lnum" on;
  --ui-lib-typography-line-height: 30px;
  --ui-lib-typography-font-size: 20px;
  color: #131722;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-lib-typography-line-height);
  margin-top: 32px;
  -webkit-user-select: text;
  user-select: text;
  word-break: break-word;
}
html.theme-dark .body-KX2tCBZq {
  color: #d1d4dc;
}
@media screen and (min-width: 1024px) {
  .body-KX2tCBZq {
    margin-top: 48px;
  }
}
.description-JwsSKrC3 {
  --ui-lib-typography-line-height: 28px;
  --ui-lib-typography-font-size: 18px;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-lib-typography-line-height);
  overflow-wrap: break-word;
}
