.blockHidden-e6PF69Df {
  display: none !important;
}
.pane-button-e6PF69Df {
  background-color: currentColor;
  border: 1px solid #d1d4dc;
  border-radius: 3px;
  cursor: default;
  pointer-events: all;
}
@media (any-hover: hover) {
  .pane-button-e6PF69Df:hover:after {
    background-color: #1317220f;
    border-radius: 3px;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
}
.chart-widget__top--themed-dark .pane-button-e6PF69Df {
  border-color: #363a45;
}
@media (any-hover: hover) {
  .chart-widget__top--themed-dark .pane-button-e6PF69Df:hover:after {
    background-color: #ffffff1a;
  }
}
