.container-zLVm6B4t {
  align-items: flex-start;
  background: #2962ff;
  border-radius: 4px;
  cursor: default;
  display: flex;
  overflow: auto;
  padding: 8px;
}
html.theme-dark .container-zLVm6B4t {
  background: #2962ff;
}
.content-zLVm6B4t {
  padding: 4px 8px;
}
.arrowHolder-zLVm6B4t {
  position: absolute;
}
.arrowHolder-zLVm6B4t:after {
  border: 0 solid #2962ff;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
html.theme-dark .arrowHolder-zLVm6B4t:after {
  border-color: #2962ff;
}
.arrowHolder--above-zLVm6B4t:after,
.arrowHolder--below-zLVm6B4t:after {
  border-left: 6px solid #0000;
  border-right: 6px solid #0000;
  left: 50%;
  margin-left: -6px;
}
html.theme-dark .arrowHolder--above-zLVm6B4t:after,
html.theme-dark .arrowHolder--below-zLVm6B4t:after {
  border-left-color: #0000;
  border-right-color: #0000;
}
.arrowHolder--below-zLVm6B4t:after {
  border-bottom-width: 4px;
  bottom: 100%;
}
.arrowHolder--above-zLVm6B4t:after {
  border-top-width: 4px;
  top: 100%;
}
.arrowHolder--after-zLVm6B4t:after,
.arrowHolder--before-zLVm6B4t:after {
  border-bottom: 6px solid #0000;
  border-top: 6px solid #0000;
  margin-top: -6px;
  top: 50%;
}
html.theme-dark .arrowHolder--after-zLVm6B4t:after,
html.theme-dark .arrowHolder--before-zLVm6B4t:after {
  border-bottom-color: #0000;
  border-top-color: #0000;
}
.arrowHolder--before-zLVm6B4t:after {
  border-right-width: 4px;
  right: 100%;
}
.arrowHolder--after-zLVm6B4t:after {
  border-left-width: 4px;
  left: 100%;
}
.arrowHolder--above-fix-zLVm6B4t {
  bottom: 0;
}
.arrowHolder--after-ltr-fix-zLVm6B4t {
  right: 0;
}
.label-zLVm6B4t {
  display: flex;
  flex: 1 1 auto;
  margin-right: 24px;
}
.closeButton-zLVm6B4t {
  color: #fff;
}
.container-kfvcmk8t {
  display: flex;
  justify-content: center;
  left: 10px;
  pointer-events: none;
  position: absolute;
  right: 10px;
}
.centerElement-kfvcmk8t {
  pointer-events: auto;
  z-index: 1;
}
.text-kfvcmk8t {
  word-wrap: break-word;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: auto;
}
