.wrap-ne5qGlZh {
  align-items: center;
  background-color: #f0f3fa;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  height: 34px;
  justify-content: space-between;
  max-width: 180px;
  min-width: 100px;
  padding: 7px 8px 6px;
}
html.theme-dark .wrap-ne5qGlZh {
  background-color: #131722;
}
@media (any-hover: hover) {
  .wrap-ne5qGlZh:hover {
    background-color: #e0e3eb;
  }
  html.theme-dark .wrap-ne5qGlZh:hover {
    background-color: #434651;
  }
  .wrap-ne5qGlZh:hover .icon-ne5qGlZh {
    color: #131722;
  }
  html.theme-dark .wrap-ne5qGlZh:hover .icon-ne5qGlZh {
    color: #d1d4dc;
  }
}
.text-ne5qGlZh {
  color: #131722;
  cursor: default;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html.theme-dark .text-ne5qGlZh {
  color: #d1d4dc;
}
.icon-ne5qGlZh {
  align-self: flex-start;
  color: #6a6d78;
  height: 18px;
  margin-left: 8px;
}
html.theme-dark .icon-ne5qGlZh {
  color: #868993;
}
.disabled-ne5qGlZh {
  pointer-events: none;
}
.disabled-ne5qGlZh .icon-ne5qGlZh,
.disabled-ne5qGlZh .text-ne5qGlZh {
  color: #b2b5be;
}
html.theme-dark .disabled-ne5qGlZh .icon-ne5qGlZh,
html.theme-dark .disabled-ne5qGlZh .text-ne5qGlZh {
  color: #50535e;
}
