.dialog-VUnQLSMH {
  height: 400px;
}
.buttons-VUnQLSMH {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.button-VUnQLSMH {
  --tv-toolbar-explicit-hover-border-radius: 8px;
  --tv-toolbar-explicit-hover-margin: 0;
  flex: none;
  height: 34px;
  justify-content: center;
  padding: 0;
  transition: none;
  width: 34px;
}
.button-VUnQLSMH.disabled-VUnQLSMH {
  opacity: 0.3;
}
.button-VUnQLSMH.disabled-VUnQLSMH,
.button-VUnQLSMH.disabled-VUnQLSMH:active,
.button-VUnQLSMH.disabled-VUnQLSMH:before {
  background-color: #fff;
}
@media (any-hover: hover) {
  .button-VUnQLSMH.disabled-VUnQLSMH:hover {
    background-color: #fff;
  }
}
html.theme-dark .button-VUnQLSMH.disabled-VUnQLSMH,
html.theme-dark .button-VUnQLSMH.disabled-VUnQLSMH:active,
html.theme-dark .button-VUnQLSMH.disabled-VUnQLSMH:before {
  background-color: #131722;
}
@media (any-hover: hover) {
  html.theme-dark .button-VUnQLSMH.disabled-VUnQLSMH:hover {
    background-color: #131722;
  }
}
