.loading-BPaLXf0z {
  color: #0000;
}
.container-CD9TBN7D {
  border-top: 1px solid #e0e3eb;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  max-width: 400px;
  min-height: 0;
  overflow: auto;
  padding: 16px 20px 0;
}
html.theme-dark .container-CD9TBN7D {
  border-top: 1px solid #434651;
}
.container-CD9TBN7D::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.container-CD9TBN7D::-webkit-scrollbar-thumb {
  background-color: #9598a1;
  border: 1px solid #f0f3fa;
  border-radius: 3px;
}
html.theme-dark .container-CD9TBN7D::-webkit-scrollbar-thumb {
  background-color: #363a45;
  border-color: #1e222d;
}
.container-CD9TBN7D::-webkit-scrollbar-track {
  background-color: initial;
  border-radius: 3px;
}
.container-CD9TBN7D::-webkit-scrollbar-corner {
  display: none;
}
.container-CD9TBN7D.withSuggestions-CD9TBN7D {
  overflow: visible;
}
.container-CD9TBN7D .title-CD9TBN7D {
  color: #6a6d78;
  cursor: default;
  display: flex;
  flex: 0 0 auto;
  font-size: 11px;
  letter-spacing: .4px;
  line-height: 16px;
  text-transform: uppercase;
}
html.theme-dark .container-CD9TBN7D .title-CD9TBN7D {
  color: #868993;
}
.container-CD9TBN7D .autocomplete-CD9TBN7D {
  display: flex;
  flex: 0 0 auto;
  padding-top: 2px;
}
.container-CD9TBN7D .saveInterval-CD9TBN7D,
.container-CD9TBN7D .saveSymbol-CD9TBN7D {
  display: flex;
  flex: 0 0 auto;
  padding-top: 16px;
}
.container-CD9TBN7D .saveInterval-CD9TBN7D {
  padding-bottom: 24px;
}
.container-CD9TBN7D .indicators-CD9TBN7D {
  word-wrap: break-word;
  color: #131722;
  cursor: default;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font-size: 14px;
  line-height: 21px;
  padding-top: 8px;
}
html.theme-dark .container-CD9TBN7D .indicators-CD9TBN7D {
  color: #d1d4dc;
}
.container-CD9TBN7D .indicators-CD9TBN7D.withSuggestions-CD9TBN7D {
  overflow: hidden;
}
.container-CD9TBN7D .indicators-CD9TBN7D:after {
  content: "";
  display: block;
  padding-bottom: 20px;
}
.container-CD9TBN7D .hintLabel-CD9TBN7D {
  align-items: center;
  display: flex;
}
.container-CD9TBN7D .hintLabel-CD9TBN7D .hintMark-CD9TBN7D {
  color: #6a6d78;
  height: 18px;
  margin-left: 8px;
  width: 18px;
}
html.theme-dark .container-CD9TBN7D .hintLabel-CD9TBN7D .hintMark-CD9TBN7D {
  color: #868993;
}
.container-CD9TBN7D .hidden-CD9TBN7D {
  display: none;
}
