.scrollable-vwgPOHG8 {
  -webkit-overflow-scrolling: touch;
  flex: 1 1 auto;
  min-height: 145px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: #9598a1 #0000;
  scrollbar-width: thin;
}
html.theme-dark .scrollable-vwgPOHG8 {
  scrollbar-color: #363a45 #0000;
}
@media screen and (max-height: 290px) {
  .scrollable-vwgPOHG8 {
    min-height: auto;
  }
}
.scrollable-vwgPOHG8::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.scrollable-vwgPOHG8::-webkit-scrollbar-thumb {
  background-color: #9598a1;
  border: 1px solid #f0f3fa;
  border-radius: 3px;
}
html.theme-dark .scrollable-vwgPOHG8::-webkit-scrollbar-thumb {
  background-color: #363a45;
  border-color: #1e222d;
}
.scrollable-vwgPOHG8::-webkit-scrollbar-track {
  background-color: initial;
  border-radius: 3px;
}
.scrollable-vwgPOHG8::-webkit-scrollbar-corner {
  display: none;
}
.tabs-vwgPOHG8 {
  --ui-lib-underline-tabs-hor-padding: 20px;
  padding: 0 var(--ui-lib-underline-tabs-hor-padding);
}
.smallStyleControl-l5f4IL9k {
  margin-right: 8px;
  width: 34px;
}
.smallStyleControl-l5f4IL9k:first-child {
  margin-right: 0;
}
.additionalSelect-l5f4IL9k {
  margin-right: 8px;
}
.childRowContainer-l5f4IL9k {
  cursor: default;
  margin-right: 26px;
}
.defaultSelect-l5f4IL9k {
  cursor: default;
  width: 100px;
}
.defaultSelectItem-l5f4IL9k {
  box-sizing: border-box;
  min-width: 100px;
}
.block-l5f4IL9k {
  display: flex;
}
@media screen and (max-width: 379px) {
  .block-l5f4IL9k {
    display: block;
  }
}
.group-l5f4IL9k {
  display: flex;
}
@media screen and (max-width: 379px) {
  .wrapGroup-l5f4IL9k {
    margin-right: 0;
    margin-top: 8px;
  }
}
.textMarkGraphicBlock-l5f4IL9k {
  display: flex;
}
@media screen and (max-width: 550px) {
  .textMarkGraphicBlock-l5f4IL9k {
    display: block;
  }
}
.textMarkGraphicWrapGroup-l5f4IL9k {
  display: flex;
}
@media screen and (max-width: 550px) {
  .textMarkGraphicWrapGroup-l5f4IL9k {
    margin-right: 0;
    margin-top: 8px;
  }
}
.transparency-l5f4IL9k {
  height: 16px;
}
.color-l5f4IL9k:not(:first-child) {
  margin-right: 8px;
}
