.node-lhJq7vpW {
  background-color: #bbd9fb;
  padding: 6px 16px;
}
html.theme-dark .node-lhJq7vpW {
  background-color: #142e61;
}
.wrapper-bIGHJRgI {
  color: #fff;
  max-width: 320px;
}
.description-bIGHJRgI {
  margin-bottom: 4px;
}
.dot-bIGHJRgI {
  color: #6a6d78;
  margin: 0 6px;
}
html.theme-dark .dot-bIGHJRgI {
  color: #868993;
}
.marketOpen-bIGHJRgI {
  color: #22ab94;
}
.marketPre-bIGHJRgI {
  color: #ff9800;
}
.marketPost-bIGHJRgI {
  color: #2962ff;
}
.marketClose-bIGHJRgI {
  color: #9598a1;
}
html.theme-dark .marketClose-bIGHJRgI {
  color: #b2b5be;
}
.marketHoliday-bIGHJRgI {
  color: #9598a1;
}
html.theme-dark .marketHoliday-bIGHJRgI {
  color: #b2b5be;
}
.removeButton-Tf8QRdrk {
  --tv-list-item-button-background-hover-color: var(
    --tv-color-toolbar-button-background-hover,
    #e0e3eb
  );
  background-color: var(--tv-color-toolbar-button-background, #f0f3fa);
  display: none;
  flex: none;
}
html.theme-dark .removeButton-Tf8QRdrk {
  --tv-list-item-button-background-hover-color: var(
    --tv-color-toolbar-button-background-hover,
    #363a45
  );
  background-color: var(--tv-color-toolbar-button-background, #2a2e39);
}
.symbol-RsFlttSS {
  align-items: center;
  background-clip: content-box;
  background-color: #fff;
  border-bottom: 1px solid #f0f3fa;
  border-top: 1px solid #f0f3fa;
  display: flex;
  flex: 1 1 auto;
  height: 29px;
  margin-top: -1px;
  position: relative;
}
html.theme-dark .symbol-RsFlttSS {
  background-color: #131722;
  border-bottom: 1px solid #2a2e39;
  border-top: 1px solid #2a2e39;
}
.symbol-RsFlttSS.tileView-RsFlttSS {
  height: 41px;
}
.symbol-RsFlttSS.small-RsFlttSS {
  background-color: #fff;
}
html.theme-dark .symbol-RsFlttSS.small-RsFlttSS {
  background-color: #1e222d;
}
.symbol-RsFlttSS.small-RsFlttSS.firstRow-RsFlttSS {
  border-top-color: #fff;
}
html.theme-dark .symbol-RsFlttSS.small-RsFlttSS.firstRow-RsFlttSS {
  border-top-color: #1e222d;
}
.symbol-RsFlttSS.small-RsFlttSS.active-RsFlttSS .flag-RsFlttSS,
.symbol-RsFlttSS.small-RsFlttSS.active-RsFlttSS .removeButton-RsFlttSS,
.symbol-RsFlttSS.small-RsFlttSS.selected-RsFlttSS .flag-RsFlttSS,
.symbol-RsFlttSS.small-RsFlttSS.selected-RsFlttSS .removeButton-RsFlttSS {
  display: none;
  pointer-events: none;
}
@media (any-hover: hover) {
  .symbol-RsFlttSS.small-RsFlttSS:hover .flag-RsFlttSS,
  .symbol-RsFlttSS.small-RsFlttSS:hover .removeButton-RsFlttSS {
    display: none;
    pointer-events: none;
  }
}
.symbol-RsFlttSS .indicators-RsFlttSS {
  bottom: 0;
  left: 0;
  margin: -1px 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.symbol-RsFlttSS .indicators-RsFlttSS.active-RsFlttSS:after {
  border: 2px solid #2962ff;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}
html.theme-dark .symbol-RsFlttSS .indicators-RsFlttSS.active-RsFlttSS:after {
  border-color: #2962ff;
}
@media (any-hover: hover) {
  .symbol-RsFlttSS:hover {
    background-color: #f0f3fa;
  }
  html.theme-dark .symbol-RsFlttSS:hover {
    background-color: #2a2e39;
  }
}
.symbol-RsFlttSS.firstRow-RsFlttSS,
html.theme-dark .symbol-RsFlttSS.firstRow-RsFlttSS {
  border-top-color: #0000;
}
.symbol-RsFlttSS.highlighted-RsFlttSS {
  background-color: #e3effd;
}
html.theme-dark .symbol-RsFlttSS.highlighted-RsFlttSS {
  background-color: #132042;
}
.symbol-RsFlttSS.invalid-RsFlttSS .cell-RsFlttSS .inner-RsFlttSS {
  color: #f7525f;
}
.symbol-RsFlttSS .logo-RsFlttSS {
  margin-right: 6px;
}
.symbol-RsFlttSS .symbolName-RsFlttSS {
  align-items: center;
  background-clip: content-box;
  background-color: inherit;
  box-sizing: border-box;
  display: var(--tv-symbol-list-column-short_name-display, flex);
  flex: var(--tv-symbol-list-column-short_name-flex, 1 1 80px);
  height: 27px;
  justify-content: flex-end;
  justify-content: flex-start;
  line-height: 14px;
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
  padding-bottom: 3px;
  padding-right: 8px;
  padding-top: 3px;
  white-space: nowrap;
  z-index: 1;
}
.symbol-RsFlttSS .symbolName-RsFlttSS.tileSymbolName-RsFlttSS {
  flex: 0 1 auto;
  height: 39px;
  margin-right: 12px;
  padding-right: 0;
}
.symbol-RsFlttSS .symbolName-RsFlttSS .warningIcon-RsFlttSS {
  color: #f23645;
  height: 12px;
}
html.theme-dark .symbol-RsFlttSS .symbolName-RsFlttSS .warningIcon-RsFlttSS {
  color: #f23645;
}
.symbol-RsFlttSS .symbolName-RsFlttSS .notes-RsFlttSS {
  flex: none;
  margin-left: 4px;
}
.symbol-RsFlttSS .symbolName-RsFlttSS .positions-RsFlttSS,
.symbol-RsFlttSS .symbolName-RsFlttSS .warningIcon-RsFlttSS {
  margin-left: 4px;
}
.symbol-RsFlttSS .flag-RsFlttSS {
  display: none;
  pointer-events: auto;
}
.symbol-RsFlttSS .cell-RsFlttSS .symbolNameText-RsFlttSS {
  padding: 0;
}
.symbol-RsFlttSS .cell-RsFlttSS .tileNameContent-RsFlttSS {
  height: 18px;
}
.symbol-RsFlttSS .cell-RsFlttSS .description-RsFlttSS {
  font-feature-settings: "tnum" on, "lnum" on;
  --ui-lib-typography-line-height: 16px;
  --ui-lib-typography-font-size: 12px;
  color: #6a6d78;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 400;
  height: 16px;
  line-height: var(--ui-lib-typography-line-height);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html.theme-dark .symbol-RsFlttSS .cell-RsFlttSS .description-RsFlttSS {
  color: #868993;
}
.symbol-RsFlttSS .cell-RsFlttSS.last-RsFlttSS {
  display: var(--tv-symbol-list-column-last_price-display, flex);
  flex: var(--tv-symbol-list-column-last_price-flex, 1 1 75px);
}
.symbol-RsFlttSS .cell-RsFlttSS.change-RsFlttSS,
.symbol-RsFlttSS .cell-RsFlttSS.last-RsFlttSS {
  align-items: center;
  box-sizing: border-box;
  height: 27px;
  justify-content: flex-end;
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
  padding-bottom: 3px;
  padding-right: 8px;
  padding-top: 3px;
  white-space: nowrap;
}
.symbol-RsFlttSS .cell-RsFlttSS.change-RsFlttSS {
  display: var(--tv-symbol-list-column-change-display, flex);
  flex: var(--tv-symbol-list-column-change-flex, 1 1 70px);
}
.symbol-RsFlttSS .cell-RsFlttSS.changeInPercents-RsFlttSS {
  display: var(--tv-symbol-list-column-change_percent-display, flex);
  flex: var(--tv-symbol-list-column-change_percent-flex, 1 0 60px);
}
.symbol-RsFlttSS .cell-RsFlttSS.changeInPercents-RsFlttSS,
.symbol-RsFlttSS .cell-RsFlttSS.volume-RsFlttSS {
  align-items: center;
  box-sizing: border-box;
  height: 27px;
  justify-content: flex-end;
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
  padding-bottom: 3px;
  padding-right: 8px;
  padding-top: 3px;
  white-space: nowrap;
}
.symbol-RsFlttSS .cell-RsFlttSS.volume-RsFlttSS {
  display: var(--tv-symbol-list-column-volume-display, flex);
  flex: var(--tv-symbol-list-column-volume-flex, 1 0 60px);
}
.symbol-RsFlttSS .cell-RsFlttSS.prePostMarket-RsFlttSS,
.symbol-RsFlttSS .cell-RsFlttSS.prePostMarketNoPrice-RsFlttSS {
  unicode-bidi: bidi-override;
}
.symbol-RsFlttSS .cell-RsFlttSS.prePostMarket-RsFlttSS {
  flex: var(--tv-symbol-list-column-rchp-flex, 1 1 100px);
}
.symbol-RsFlttSS .cell-RsFlttSS.prePostMarket-RsFlttSS,
.symbol-RsFlttSS .cell-RsFlttSS.prePostMarketNoPrice-RsFlttSS {
  align-items: center;
  box-sizing: border-box;
  display: var(--tv-symbol-list-column-rchp-display, flex);
  height: 27px;
  justify-content: flex-end;
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
  padding-bottom: 3px;
  padding-right: 8px;
  padding-top: 3px;
  white-space: nowrap;
}
.symbol-RsFlttSS .cell-RsFlttSS.prePostMarketNoPrice-RsFlttSS {
  flex: var(--tv-symbol-list-column-rchp-flex, 1 1 50px);
}
.symbol-RsFlttSS .cell-RsFlttSS.tileItem-RsFlttSS {
  flex: 0 1 auto;
  height: 18px;
  padding: 0;
}
.symbol-RsFlttSS .cell-RsFlttSS.tileChange-RsFlttSS {
  font-feature-settings: "tnum" on, "lnum" on;
  --ui-lib-typography-line-height: 16px;
  --ui-lib-typography-font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 400;
  height: 16px;
  line-height: var(--ui-lib-typography-line-height);
}
.symbol-RsFlttSS .cell-RsFlttSS.hidden-RsFlttSS {
  display: none;
}
.symbol-RsFlttSS .tileChanges-RsFlttSS {
  align-items: flex-end;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin-left: auto;
  overflow: hidden;
  padding: 3px 8px 3px 0;
}
.symbol-RsFlttSS .displayContents-RsFlttSS {
  display: contents;
}
.symbol-RsFlttSS .tileWrap-RsFlttSS {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 0;
}
.symbol-RsFlttSS .inner-RsFlttSS {
  color: #131722;
  flex: 0 1 auto;
  min-width: 0;
  overflow: hidden;
  unicode-bidi: inherit;
}
html.theme-dark .symbol-RsFlttSS .inner-RsFlttSS {
  color: #d1d4dc;
}
.symbol-RsFlttSS .inner-RsFlttSS.ellipsis-RsFlttSS {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.symbol-RsFlttSS .plus-RsFlttSS,
html.theme-dark .symbol-RsFlttSS .plus-RsFlttSS {
  color: #22ab94;
}
.symbol-RsFlttSS .minus-RsFlttSS,
html.theme-dark .symbol-RsFlttSS .minus-RsFlttSS {
  color: #f23645;
}
.symbol-RsFlttSS .firstItem-RsFlttSS {
  margin-left: 16px;
}
.symbol-RsFlttSS .lastItem-RsFlttSS {
  margin-right: 8px;
}
.symbol-RsFlttSS .flexCell-RsFlttSS {
  align-items: center;
  display: flex;
  height: 100%;
  max-width: 100%;
  min-width: 0;
}
.symbol-RsFlttSS .flexCell-RsFlttSS .tileItem-RsFlttSS:first-child {
  padding-right: 8px;
}
.symbol-RsFlttSS.selected-RsFlttSS {
  --tv-color-toolbar-button-background: #bbd9fb;
  --tv-color-toolbar-button-background-hover: #90bff9;
  border-bottom-color: #bbd9fb;
  border-top-color: #bbd9fb;
  z-index: 1;
}
html.theme-dark .symbol-RsFlttSS.selected-RsFlttSS {
  --tv-color-toolbar-button-background-hover: #143a87;
  --tv-color-toolbar-button-background: #142e61;
  border-bottom-color: #142e61;
  border-top-color: #142e61;
}
.symbol-RsFlttSS.selected-RsFlttSS.active-RsFlttSS {
  z-index: 2;
}
.symbol-RsFlttSS.selected-RsFlttSS {
  background-color: #bbd9fb;
}
@media (any-hover: hover) {
  .symbol-RsFlttSS.selected-RsFlttSS:hover {
    background-color: #bbd9fb;
  }
}
html.theme-dark .symbol-RsFlttSS.selected-RsFlttSS {
  background-color: #142e61;
}
@media (any-hover: hover) {
  html.theme-dark .symbol-RsFlttSS.selected-RsFlttSS:hover {
    background-color: #142e61;
  }
}
.symbol-RsFlttSS.active-RsFlttSS .flag-RsFlttSS,
.symbol-RsFlttSS.active-RsFlttSS .removeButton-RsFlttSS,
.symbol-RsFlttSS.selected-RsFlttSS .flag-RsFlttSS,
.symbol-RsFlttSS.selected-RsFlttSS .removeButton-RsFlttSS {
  display: flex;
}
.symbol-RsFlttSS .highlightUp-RsFlttSS,
html.theme-dark .symbol-RsFlttSS .highlightUp-RsFlttSS {
  color: #22ab94;
}
.symbol-RsFlttSS .highlightDown-RsFlttSS,
html.theme-dark .symbol-RsFlttSS .highlightDown-RsFlttSS {
  color: #f23645;
}
.symbol-RsFlttSS .overlayEnd-RsFlttSS {
  align-self: center;
  display: flex;
  flex: none;
  flex-direction: row-reverse;
  position: absolute;
  right: 6px;
  width: 0;
  z-index: 2;
}
@media (any-hover: hover) {
  .symbol-RsFlttSS:not(.touch-RsFlttSS).active-RsFlttSS .flag-RsFlttSS,
  .symbol-RsFlttSS:not(.touch-RsFlttSS).active-RsFlttSS .removeButton-RsFlttSS,
  .symbol-RsFlttSS:not(.touch-RsFlttSS).selected-RsFlttSS .flag-RsFlttSS,
  .symbol-RsFlttSS:not(.touch-RsFlttSS).selected-RsFlttSS
    .removeButton-RsFlttSS {
    display: none;
  }
  .symbol-RsFlttSS:not(.touch-RsFlttSS):hover .flag-RsFlttSS,
  .symbol-RsFlttSS:not(.touch-RsFlttSS):hover .removeButton-RsFlttSS {
    display: flex;
  }
}
.tv-market-status__dot {
  border-radius: 50%;
  display: inline-block;
  height: 4px;
  vertical-align: middle;
  width: 4px;
}
.tv-market-status--pre-market {
  color: #ff9800;
}
.tv-market-status--pre-market .tv-market-status__dot {
  background-color: #ff9800;
}
.tv-market-status--post-market {
  color: #3179f5;
}
.tv-market-status--post-market .tv-market-status__dot {
  background-color: #3179f5;
}
.tv-market-status--market {
  color: #42bda8;
}
.tv-market-status--market .tv-market-status__dot {
  background-color: #42bda8;
}
.tv-market-status--out-of-session {
  color: #9598a1;
}
.tv-market-status--out-of-session .tv-market-status__dot {
  background-color: #9598a1;
}
.tv-market-status--invalid {
  color: #f23645;
}
.tv-market-status--invalid .tv-market-status__dot {
  background-color: #f23645;
}
.tv-market-status--replay {
  color: #f7525f;
}
.tv-market-status--replay .tv-market-status__dot {
  background-color: #f7525f;
}
.tv-market-status--holiday {
  color: #9598a1;
}
.tv-market-status--holiday .tv-market-status__dot {
  background-color: #9598a1;
}
.tv-market-status--for-chart {
  display: block;
  float: left;
  margin-right: 0;
}
.tv-market-status--for-chart--pre-market {
  color: #ff9800;
}
.tv-market-status--for-chart--pre-market .tv-market-status__dot {
  background-color: #ff9800;
}
.tv-market-status--for-chart--post-market {
  color: #3179f5;
}
.tv-market-status--for-chart--post-market .tv-market-status__dot {
  background-color: #3179f5;
}
.tv-market-status--for-chart--market {
  color: #42bda8;
}
.tv-market-status--for-chart--market .tv-market-status__dot {
  background-color: #42bda8;
}
.tv-market-status--for-chart--out-of-session {
  color: #9598a1;
}
.tv-market-status--for-chart--out-of-session .tv-market-status__dot {
  background-color: #9598a1;
}
.tv-market-status--for-chart--invalid {
  color: #f23645;
}
.tv-market-status--for-chart--invalid .tv-market-status__dot {
  background-color: #f23645;
}
.tv-market-status--for-chart--replay {
  color: #f7525f;
}
.tv-market-status--for-chart--replay .tv-market-status__dot {
  background-color: #f7525f;
}
.tv-market-status--for-chart--holiday {
  color: #9598a1;
}
.tv-market-status--for-chart--holiday .tv-market-status__dot {
  background-color: #9598a1;
}
.tv-market-status--loading--for-chart {
  color: #3179f5;
}
.tv-market-status--loading--for-chart .tv-market-status__dot {
  background-color: #3179f5;
}
.tv-market-status--for-ticker {
  margin-left: 4px;
}
.tv-market-status--for-watch-list {
  margin: auto 3px;
}
.tv-market-status--for-ticker-last {
  display: inline-flex;
  margin-left: 4px;
}
.tv-market-status--for-sticky-symbol-header,
.tv-market-status--for-ticker-tape {
  align-items: center;
  display: flex;
  transform: translateX(4px);
}
.tv-market-status--for-ticker-header {
  display: flex;
  margin-left: 4px;
}
.tv-market-status__dot--for-chart {
  height: 6px;
  margin-right: 4px;
  vertical-align: 1px;
  width: 6px;
}
.tv-market-status__dot--for-ticker-card {
  height: 6px;
  margin-left: 4px;
  width: 6px;
}
.tv-market-status__dot--for-watch-list {
  margin-bottom: 3px;
}
.tv-market-status__dot--for-ticker-last {
  height: 6px;
  width: 6px;
}
.tv-market-status__dot--for-sticky-symbol-header,
.tv-market-status__dot--for-ticker-tape {
  height: 4px;
  width: 4px;
}
.tv-market-status__label--for-chart {
  display: block;
  float: right;
  line-height: 16px;
  margin-right: 0;
}
.tv-market-status--market .tv-market-status__dot--for-sticky-symbol-header,
.tv-market-status--market .tv-market-status__dot--for-ticker,
.tv-market-status--market .tv-market-status__dot--for-ticker-card,
.tv-market-status--market .tv-market-status__dot--for-ticker-header,
.tv-market-status--market .tv-market-status__dot--for-ticker-last,
.tv-market-status--market .tv-market-status__dot--for-ticker-tape,
.tv-market-status--market .tv-market-status__dot--for-watch-list,
.tv-market-status__label--for-sticky-symbol-header,
.tv-market-status__label--for-ticker,
.tv-market-status__label--for-ticker-card,
.tv-market-status__label--for-ticker-header,
.tv-market-status__label--for-ticker-last,
.tv-market-status__label--for-ticker-tape,
.tv-market-status__label--for-watch-list {
  display: none;
}
.tv-market-status--for-chart {
  margin-left: 5px;
}
.tv-market-status--market--for-chart {
  display: none;
}
.icon-BHdu7XsL {
  height: 12px;
  width: 12px;
}
.long-BHdu7XsL,
html.theme-dark .long-BHdu7XsL {
  color: #2962ff;
}
.tv-market-status--for-symbol-list {
  display: flex;
  flex: none;
  margin-left: 4px;
}
.tv-market-status__dot--for-symbol-list {
  border-radius: 50%;
  display: block;
  height: 6px;
  width: 6px;
}
.tv-market-status--for-symbol-list.tv-market-status--market,
.tv-market-status__label--for-symbol-list {
  display: none;
}
.tv-data-mode--for-symbol-list {
  display: flex;
  flex: none;
  font-size: 10px;
  font-weight: 700;
  height: 100%;
  line-height: 12px;
  margin-left: 4px;
  text-align: left;
  width: auto;
}
.tv-data-mode--realtime--for-symbol-list {
  display: none;
}
.wrap-evmjQ0gK {
  display: flex;
}
.columnsMenu-evmjQ0gK {
  color: #6a6d78;
  flex: none;
  justify-content: center;
  width: 15px;
}
html.theme-dark .columnsMenu-evmjQ0gK {
  color: #868993;
}
@media (any-hover: hover) {
  .columnsMenu-evmjQ0gK:hover {
    color: #5d606b;
  }
  html.theme-dark .columnsMenu-evmjQ0gK:hover {
    color: #9598a1;
  }
}
.checkbox-evmjQ0gK {
  color: var(--tv-color-popup-element-text, #131722);
  display: flex;
  height: 32px;
  padding: 0 12px;
}
html.theme-dark .checkbox-evmjQ0gK {
  color: var(--tv-color-popup-element-text, #d1d4dc);
}
.checkbox-evmjQ0gK.hovered-evmjQ0gK,
.checkbox-evmjQ0gK:active {
  color: var(--tv-color-popup-element-text-hover, #131722);
}
@media (any-hover: hover) {
  .checkbox-evmjQ0gK:hover {
    color: var(--tv-color-popup-element-text-hover, #131722);
  }
}
html.theme-dark .checkbox-evmjQ0gK.hovered-evmjQ0gK,
html.theme-dark .checkbox-evmjQ0gK:active {
  color: var(--tv-color-popup-element-text-hover, #c1c4cd);
}
@media (any-hover: hover) {
  html.theme-dark .checkbox-evmjQ0gK:hover {
    color: var(--tv-color-popup-element-text-hover, #c1c4cd);
  }
}
.checkbox-evmjQ0gK.hovered-evmjQ0gK,
.checkbox-evmjQ0gK:active {
  background-color: var(--tv-color-popup-element-background-hover, #f0f3fa);
}
@media (any-hover: hover) {
  .checkbox-evmjQ0gK:hover {
    background-color: var(--tv-color-popup-element-background-hover, #f0f3fa);
  }
}
html.theme-dark .checkbox-evmjQ0gK.hovered-evmjQ0gK,
html.theme-dark .checkbox-evmjQ0gK:active {
  background-color: var(--tv-color-popup-element-background-hover, #2a2e39);
}
@media (any-hover: hover) {
  html.theme-dark .checkbox-evmjQ0gK:hover {
    background-color: var(--tv-color-popup-element-background-hover, #2a2e39);
  }
}
.checkbox-evmjQ0gK.mobile-evmjQ0gK {
  font-size: 16px;
  height: 40px;
  padding: 0 20px;
}
.handle-qp5yBxtk,
.placeholder-qp5yBxtk,
.wrap-qp5yBxtk {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.placeholder-qp5yBxtk {
  width: 0;
  z-index: 1;
}
@media (any-hover: hover) {
  .placeholder-qp5yBxtk:not(:hover) {
    display: var(--tv-symbol-list-header-hover-elements-display, none);
  }
}
.placeholder-qp5yBxtk:last-child {
  display: none;
}
.wrap-qp5yBxtk {
  height: 100%;
  pointer-events: none;
  position: absolute;
}
.wrap-qp5yBxtk.active-qp5yBxtk .separator-qp5yBxtk {
  display: flex;
}
@media (any-hover: hover) {
  .wrap-qp5yBxtk:hover .separator-qp5yBxtk {
    display: flex;
  }
}
.handle-qp5yBxtk {
  cursor: ew-resize;
  height: 27px;
  pointer-events: auto;
  width: 28px;
}
@media (any-hover: hover) {
  .handle-qp5yBxtk {
    width: 8px;
  }
}
.handle-qp5yBxtk:before {
  border-right: 1px solid #e0e3eb;
  content: "";
  flex: 1 1 auto;
}
html.theme-dark .handle-qp5yBxtk:before {
  border-right: 1px solid #363a45;
}
@media (any-hover: hover) {
  .handle-qp5yBxtk:hover:before {
    border-color: #2962ff;
    border-right-width: 2px;
  }
  html.theme-dark .handle-qp5yBxtk:hover:before {
    border-color: #2962ff;
  }
}
.separator-qp5yBxtk {
  border-right: 2px solid #e3effd;
  display: none;
  flex: 1 1 auto;
}
html.theme-dark .separator-qp5yBxtk {
  border-right: 2px solid #132042;
}
.columnHeader-k67yvGbk {
  background-color: #fff;
}
html.theme-dark .columnHeader-k67yvGbk {
  background-color: #131722;
}
.columnHeader-k67yvGbk.small-k67yvGbk {
  background-color: #fff;
}
html.theme-dark .columnHeader-k67yvGbk.small-k67yvGbk {
  background-color: #1e222d;
}
.columnHeader-k67yvGbk .label-k67yvGbk {
  color: #6a6d78;
  flex: 0 1 auto;
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
}
html.theme-dark .columnHeader-k67yvGbk .label-k67yvGbk {
  color: #868993;
}
@media (any-hover: hover) {
  .columnHeader-k67yvGbk .label-k67yvGbk.sortable-k67yvGbk:hover {
    color: #131722;
  }
  html.theme-dark
    .columnHeader-k67yvGbk
    .label-k67yvGbk.sortable-k67yvGbk:hover {
    color: #d1d4dc;
  }
}
.columnHeader-k67yvGbk .label-k67yvGbk.sortActivated-k67yvGbk,
html.theme-dark .columnHeader-k67yvGbk .label-k67yvGbk.sortActivated-k67yvGbk {
  color: #2962ff;
}
@media (any-hover: hover) {
  .columnHeader-k67yvGbk .label-k67yvGbk.sortActivated-k67yvGbk:hover,
  html.theme-dark
    .columnHeader-k67yvGbk
    .label-k67yvGbk.sortActivated-k67yvGbk:hover {
    color: #1e53e5;
  }
  .flagSortable-k67yvGbk:hover {
    color: #b2b5be;
  }
  html.theme-dark .flagSortable-k67yvGbk:hover {
    color: #5d606b;
  }
}
.flagWrap-k67yvGbk {
  align-self: center;
  margin-right: 4px;
}
.sortArrow-k67yvGbk {
  color: #2962ff;
  display: inline-flex;
  margin: 0 -3px;
  visibility: hidden;
}
html.theme-dark .sortArrow-k67yvGbk {
  color: #2962ff;
}
.sortArrow-k67yvGbk.visible-k67yvGbk {
  visibility: visible;
}
.sortArrow-k67yvGbk.desc-k67yvGbk {
  transform: scaleY(-1);
}
.wrap-Nz1M1_XP {
  --tv-symbol-list-header-hover-elements-display: none;
  cursor: default;
  display: flex;
  flex-shrink: 0;
}
@media (any-hover: hover) {
  .wrap-Nz1M1_XP:hover {
    --tv-symbol-list-header-hover-elements-display: flex;
  }
}
.menu-Nz1M1_XP {
  flex: none;
  height: 27px;
  width: 0;
  z-index: 1;
}
.tableHeader-Nz1M1_XP {
  font-feature-settings: "tnum" on, "lnum" on;
  --ui-lib-typography-line-height: 18px;
  --ui-lib-typography-font-size: 14px;
  border-bottom: 1px solid #e0e3eb;
  display: flex;
  flex: 1 1 auto;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-lib-typography-line-height);
  min-width: 100%;
}
html.theme-dark .tableHeader-Nz1M1_XP {
  border-bottom: 1px solid #363a45;
}
.tableHeader-Nz1M1_XP .columnHeader-Nz1M1_XP {
  background-color: #fff;
  color: #6a6d78;
}
html.theme-dark .tableHeader-Nz1M1_XP .columnHeader-Nz1M1_XP {
  background-color: #131722;
  color: #868993;
}
@media (any-hover: hover) {
  .tableHeader-Nz1M1_XP .columnHeader-Nz1M1_XP:hover:not(.readonly-Nz1M1_XP) {
    color: #5d606b;
  }
  html.theme-dark
    .tableHeader-Nz1M1_XP
    .columnHeader-Nz1M1_XP:hover:not(.readonly-Nz1M1_XP) {
    color: #9598a1;
  }
}
.symbolName-Nz1M1_XP {
  display: var(--tv-symbol-list-column-short_name-display, flex);
  flex: var(--tv-symbol-list-column-short_name-flex, 1 1 80px);
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.last-Nz1M1_XP,
.symbolName-Nz1M1_XP {
  align-items: center;
  box-sizing: border-box;
  height: 27px;
  justify-content: flex-end;
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
  padding-bottom: 3px;
  padding-right: 8px;
  padding-top: 3px;
  white-space: nowrap;
}
.last-Nz1M1_XP {
  display: var(--tv-symbol-list-column-last_price-display, flex);
  flex: var(--tv-symbol-list-column-last_price-flex, 1 1 75px);
}
.change-Nz1M1_XP {
  display: var(--tv-symbol-list-column-change-display, flex);
  flex: var(--tv-symbol-list-column-change-flex, 1 1 70px);
}
.change-Nz1M1_XP,
.changeInPercents-Nz1M1_XP {
  align-items: center;
  box-sizing: border-box;
  height: 27px;
  justify-content: flex-end;
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
  padding-bottom: 3px;
  padding-right: 8px;
  padding-top: 3px;
  white-space: nowrap;
}
.changeInPercents-Nz1M1_XP {
  display: var(--tv-symbol-list-column-change_percent-display, flex);
  flex: var(--tv-symbol-list-column-change_percent-flex, 1 0 60px);
}
.volume-Nz1M1_XP {
  align-items: center;
  box-sizing: border-box;
  display: var(--tv-symbol-list-column-volume-display, flex);
  flex: var(--tv-symbol-list-column-volume-flex, 1 0 60px);
  height: 27px;
  justify-content: flex-end;
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
  padding-bottom: 3px;
  padding-right: 8px;
  padding-top: 3px;
  white-space: nowrap;
}
.prePostMarket-Nz1M1_XP {
  flex: var(--tv-symbol-list-column-rchp-flex, 1 1 100px);
}
.prePostMarket-Nz1M1_XP,
.prePostMarketNoPrice-Nz1M1_XP {
  align-items: center;
  box-sizing: border-box;
  display: var(--tv-symbol-list-column-rchp-display, flex);
  height: 27px;
  justify-content: flex-end;
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
  padding-bottom: 3px;
  padding-right: 8px;
  padding-top: 3px;
  white-space: nowrap;
}
.prePostMarketNoPrice-Nz1M1_XP {
  flex: var(--tv-symbol-list-column-rchp-flex, 1 1 50px);
}
.change-Nz1M1_XP .label-Nz1M1_XP,
.changeInPercents-Nz1M1_XP .label-Nz1M1_XP,
.last-Nz1M1_XP .label-Nz1M1_XP,
.prePostMarket-Nz1M1_XP .label-Nz1M1_XP,
.volume-Nz1M1_XP .label-Nz1M1_XP {
  padding: 0 4px;
}
.firstItem-Nz1M1_XP {
  margin-left: 16px;
}
.lastItem-Nz1M1_XP {
  margin-right: 8px;
}
.mobileItem-Nz1M1_XP {
  flex: 0 1 auto;
}
.sortingMenu-Nz1M1_XP {
  flex-grow: 0;
  margin-left: auto;
  margin-right: 8px;
}
.reset-Nz1M1_XP {
  align-items: center;
  color: #6a6d78;
  display: flex;
  height: 24px;
  position: absolute;
  right: -2px;
  top: 2px;
}
html.theme-dark .reset-Nz1M1_XP {
  color: #868993;
}
@media (any-hover: hover) {
  .reset-Nz1M1_XP:hover {
    color: #131722;
  }
  html.theme-dark .reset-Nz1M1_XP:hover {
    color: #d1d4dc;
  }
}
.renameInput-sZgG7O9F {
  background-color: #fff;
}
html.theme-dark .renameInput-sZgG7O9F {
  background-color: #2a2e39;
}
.renameInput-sZgG7O9F[draggable="true"] {
  -webkit-user-select: text;
  user-select: text;
}
.button-jpZsjw5k {
  align-items: center;
  border: 1px solid #e0e3eb;
  border-radius: 6px;
  box-shadow: 0 2px 0 #e0e3eb;
  box-sizing: border-box;
  color: #131722;
  display: flex;
  flex-shrink: 0;
  font-family: inherit;
  height: 34px;
  justify-content: center;
  min-width: 34px;
  padding-left: 12px;
  padding-right: 12px;
  white-space: nowrap;
}
html.theme-dark .button-jpZsjw5k {
  border: 1px solid #434651;
  box-shadow: 0 2px 0 #434651;
  color: #d1d4dc;
}
.withIcon-jpZsjw5k {
  padding-left: 2px;
  padding-right: 2px;
}
.a11y-text-jpZsjw5k {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.buttonIcon-jpZsjw5k {
  height: 28px;
  width: 28px;
}
.footer-kcB9V_Ib {
  flex-flow: wrap;
  row-gap: 9px;
}
.shortcuts-kcB9V_Ib,
.shortcuts-kcB9V_Ib .buttonGroup-kcB9V_Ib {
  align-items: center;
  display: inline-flex;
  margin-left: 13px;
  margin-right: 13px;
}
.shortcuts-kcB9V_Ib .buttonGroup-kcB9V_Ib:first-child {
  margin-left: 0;
}
.shortcuts-kcB9V_Ib .buttonGroup-kcB9V_Ib:last-child {
  margin-right: 0;
}
.shortcuts-kcB9V_Ib .buttonGroup-kcB9V_Ib .button-kcB9V_Ib {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 0 #e0e3eb;
  color: #131722;
  height: 21px;
  margin-left: 4px;
  margin-right: 4px;
  min-width: 21px;
  padding: 2px 6px;
}
html.theme-dark .shortcuts-kcB9V_Ib .buttonGroup-kcB9V_Ib .button-kcB9V_Ib {
  background-color: #1e222d;
  box-shadow: 0 1px 0 #363a45;
  color: #d1d4dc;
}
.shortcuts-kcB9V_Ib .buttonGroup-kcB9V_Ib .button-kcB9V_Ib.withIcon-kcB9V_Ib {
  height: 22px;
  padding: 2px;
  width: 22px;
}
.shortcuts-kcB9V_Ib
  .buttonGroup-kcB9V_Ib
  .button-kcB9V_Ib.withIcon-kcB9V_Ib
  .icon-kcB9V_Ib {
  height: 18px;
  width: 18px;
}
.shortcuts-kcB9V_Ib .buttonGroup-kcB9V_Ib .button-kcB9V_Ib:first-child {
  margin-left: 0;
}
.shortcuts-kcB9V_Ib .buttonGroup-kcB9V_Ib .button-kcB9V_Ib:last-child {
  margin-right: 0;
}
.separator-eCC6Skn5 {
  background-color: #fff;
  border-top: 1px solid #f0f3fa;
  height: 36px;
  margin-top: -1px;
  position: relative;
  z-index: 1;
}
html.theme-dark .separator-eCC6Skn5 {
  background-color: #131722;
  border-top: 1px solid #2a2e39;
}
@media (any-hover: hover) {
  .separator-eCC6Skn5:hover .innerWrapper-eCC6Skn5 {
    background-color: #f0f3fa;
  }
  html.theme-dark .separator-eCC6Skn5:hover .innerWrapper-eCC6Skn5 {
    background-color: #2a2e39;
  }
}
.separator-eCC6Skn5.selected-eCC6Skn5 .removeButton-eCC6Skn5 {
  display: flex;
}
.separator-eCC6Skn5.small-eCC6Skn5 {
  background-color: #fff;
}
html.theme-dark .separator-eCC6Skn5.small-eCC6Skn5 {
  background-color: #1e222d;
}
.separator-eCC6Skn5.small-eCC6Skn5.selected-eCC6Skn5 .removeButton-eCC6Skn5 {
  display: none;
}
.separator-eCC6Skn5.selected-eCC6Skn5 {
  --tv-color-toolbar-button-background: #bbd9fb;
  --tv-color-toolbar-button-background-hover: #90bff9;
}
html.theme-dark .separator-eCC6Skn5.selected-eCC6Skn5 {
  --tv-color-toolbar-button-background-hover: #143a87;
  --tv-color-toolbar-button-background: #142e61;
}
.separator-eCC6Skn5.selected-eCC6Skn5 .innerWrapper-eCC6Skn5 {
  background-color: #bbd9fb;
}
html.theme-dark .separator-eCC6Skn5.selected-eCC6Skn5 .innerWrapper-eCC6Skn5 {
  background-color: #142e61;
}
.separator-eCC6Skn5.highlighted-eCC6Skn5 {
  background-color: #e3effd;
}
html.theme-dark .separator-eCC6Skn5.highlighted-eCC6Skn5 {
  background-color: #132042;
}
.firstItem-eCC6Skn5,
html.theme-dark .firstItem-eCC6Skn5 {
  border-top-color: #0000;
}
.label-eCC6Skn5 {
  color: #6a6d78;
  font-size: 11px;
  line-height: 16px;
  overflow: hidden;
  text-transform: uppercase;
  white-space: nowrap;
}
html.theme-dark .label-eCC6Skn5 {
  color: #868993;
}
.innerWrapper-eCC6Skn5 {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
  margin-top: 6px;
  min-width: 0;
  padding: 0 8px 0 16px;
}
.innerWrapper-eCC6Skn5.renaming-eCC6Skn5 {
  padding-left: 8px;
}
.innerWrapper-eCC6Skn5.hasExpand-eCC6Skn5 {
  padding-left: 42px;
}
.renamableInput-eCC6Skn5 {
  text-transform: uppercase;
}
.removeButton-eCC6Skn5 {
  position: absolute;
  right: 6px;
}
@media (any-hover: hover) {
  .separator-eCC6Skn5:not(.touch-eCC6Skn5).selected-eCC6Skn5
    .removeButton-eCC6Skn5 {
    display: none;
  }
  .separator-eCC6Skn5:not(.touch-eCC6Skn5):hover .removeButton-eCC6Skn5 {
    display: flex;
  }
}
.expandHandle-eCC6Skn5 {
  --tv-list-item-button-background-hover-color: var(
    --tv-color-toolbar-button-background-hover
  );
  align-items: center;
  background-color: var(--tv-list-item-button-background-color);
  border-radius: 4px;
  color: var(--tv-color-popup-element-toolbox-text, #787b86);
  display: inline-flex;
  font-size: 0;
  height: 22px;
  justify-content: center;
  left: 14px;
  min-width: 22px;
  position: absolute;
  width: 22px;
}
.expandHandle-eCC6Skn5.hovered-eCC6Skn5,
.expandHandle-eCC6Skn5:active {
  background-color: var(
    --tv-color-popup-element-toolbox-background-hover,
    var(--tv-list-item-button-background-hover-color, #e0e3eb)
  );
  color: var(--tv-color-popup-element-toolbox-text-hover, #131722);
}
@media (any-hover: hover) {
  .expandHandle-eCC6Skn5:hover {
    background-color: var(
      --tv-color-popup-element-toolbox-background-hover,
      var(--tv-list-item-button-background-hover-color, #e0e3eb)
    );
    color: var(--tv-color-popup-element-toolbox-text-hover, #131722);
  }
}
html.theme-dark .expandHandle-eCC6Skn5.hovered-eCC6Skn5,
html.theme-dark .expandHandle-eCC6Skn5:active {
  background-color: var(
    --tv-color-popup-element-toolbox-background-hover,
    var(--tv-list-item-button-background-hover-color, #363a45)
  );
}
@media (any-hover: hover) {
  html.theme-dark .expandHandle-eCC6Skn5:hover {
    background-color: var(
      --tv-color-popup-element-toolbox-background-hover,
      var(--tv-list-item-button-background-hover-color, #363a45)
    );
  }
}
html.theme-dark .expandHandle-eCC6Skn5.hovered-eCC6Skn5,
html.theme-dark .expandHandle-eCC6Skn5:active {
  color: var(--tv-color-popup-element-toolbox-text-hover, #d1d4dc);
}
@media (any-hover: hover) {
  html.theme-dark .expandHandle-eCC6Skn5:hover {
    color: var(--tv-color-popup-element-toolbox-text-hover, #d1d4dc);
  }
}
.expandHandle-eCC6Skn5.disabled-eCC6Skn5,
.expandHandle-eCC6Skn5.disabled-eCC6Skn5:active {
  background-color: var(--tv-list-item-button-disabled-background-color, #0000);
}
@media (any-hover: hover) {
  .expandHandle-eCC6Skn5.disabled-eCC6Skn5:hover {
    background-color: var(
      --tv-list-item-button-disabled-background-color,
      #0000
    );
  }
}
html.theme-dark .expandHandle-eCC6Skn5.disabled-eCC6Skn5,
html.theme-dark .expandHandle-eCC6Skn5.disabled-eCC6Skn5:active {
  background-color: var(--tv-list-item-button-disabled-background-color, #0000);
}
@media (any-hover: hover) {
  html.theme-dark .expandHandle-eCC6Skn5.disabled-eCC6Skn5:hover {
    background-color: var(
      --tv-list-item-button-disabled-background-color,
      #0000
    );
  }
}
.wrap-g71rrBCn {
  cursor: default;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.wrap-g71rrBCn .scrollable-g71rrBCn {
  height: 100%;
  overflow-y: scroll;
  overscroll-behavior: none;
  position: relative;
  scrollbar-width: none;
}
.wrap-g71rrBCn .scrollable-g71rrBCn.sb-scrollbar-wrap {
  display: none;
}
.wrap-g71rrBCn .scrollable-g71rrBCn::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
}
.wrap-g71rrBCn .scrollable-g71rrBCn::-webkit-scrollbar-thumb,
.wrap-g71rrBCn .scrollable-g71rrBCn::-webkit-scrollbar-track {
  display: none;
}
.wrap-g71rrBCn .scrollable-g71rrBCn::-webkit-scrollbar-corner {
  display: none;
}
.content-g71rrBCn {
  height: 100%;
  overflow: hidden;
}
.empty-g71rrBCn {
  display: flex;
  flex: 1 1 0;
  height: 100%;
  width: 100%;
}
.empty-g71rrBCn .centered-g71rrBCn {
  color: #000;
  display: flex;
  font-size: 14px;
  line-height: 19px;
  margin: auto;
  padding: 20px;
  text-align: center;
}
html.theme-dark .empty-g71rrBCn .centered-g71rrBCn {
  color: #b2b5be;
}
@media screen and (max-height: 430px) and (orientation: landscape) {
  .empty-g71rrBCn .centered-g71rrBCn {
    margin-top: 0;
  }
  .emptyIcon-g71rrBCn {
    display: none;
  }
}
.separatorDragPreview-g71rrBCn {
  align-items: center;
  border-top: 6px solid #fff;
  display: flex;
  font-size: 11px;
  height: 30px;
  padding: 0 8px 0 16px;
}
html.theme-dark .separatorDragPreview-g71rrBCn {
  border-top: 6px solid #131722;
}
.item-Pho75f2H.active-Pho75f2H {
  background-color: var(--tv-color-popup-element-background-active, #2962ff);
  color: var(--tv-color-popup-element-text-active, #fff);
}
@media (any-hover: hover) {
  .item-Pho75f2H.active-Pho75f2H:hover {
    background-color: var(--tv-color-popup-element-background-active, #2962ff);
    color: var(--tv-color-popup-element-text-active, #fff);
  }
}
html.theme-dark .item-Pho75f2H.active-Pho75f2H {
  color: var(--tv-color-popup-element-text-active, #d1d4dc);
}
@media (any-hover: hover) {
  html.theme-dark .item-Pho75f2H.active-Pho75f2H:hover {
    color: var(--tv-color-popup-element-text-active, #d1d4dc);
  }
}
html.theme-dark .item-Pho75f2H.active-Pho75f2H {
  background-color: var(--tv-color-popup-element-background-active, #2962ff);
}
@media (any-hover: hover) {
  html.theme-dark .item-Pho75f2H.active-Pho75f2H:hover {
    background-color: var(--tv-color-popup-element-background-active, #2962ff);
  }
}
.item-Pho75f2H.active-Pho75f2H .count-Pho75f2H,
.item-Pho75f2H.active-Pho75f2H .toolboxCount-Pho75f2H {
  color: var(--tv-color-popup-element-text-active, #fff);
}
@media (any-hover: hover) {
  .item-Pho75f2H.active-Pho75f2H:hover .count-Pho75f2H,
  .item-Pho75f2H.active-Pho75f2H:hover .toolboxCount-Pho75f2H {
    color: var(--tv-color-popup-element-text-active, #fff);
  }
}
html.theme-dark .item-Pho75f2H.active-Pho75f2H .count-Pho75f2H,
html.theme-dark .item-Pho75f2H.active-Pho75f2H .toolboxCount-Pho75f2H {
  color: var(--tv-color-popup-element-text-active, #d1d4dc);
}
@media (any-hover: hover) {
  html.theme-dark .item-Pho75f2H.active-Pho75f2H:hover .count-Pho75f2H,
  html.theme-dark .item-Pho75f2H.active-Pho75f2H:hover .toolboxCount-Pho75f2H {
    color: var(--tv-color-popup-element-text-active, #d1d4dc);
  }
  .item-Pho75f2H:hover:not(.countVisible-Pho75f2H) .toolboxCount-Pho75f2H {
    visibility: hidden;
  }
}
.item-Pho75f2H .title-Pho75f2H {
  align-items: center;
  display: flex;
}
.item-Pho75f2H .title-Pho75f2H .flag-Pho75f2H {
  margin-left: 6px;
}
.item-Pho75f2H.small-Pho75f2H {
  font-size: 16px;
  line-height: 22px;
  padding: 6px 20px 6px 12px;
}
.item-Pho75f2H.small-Pho75f2H .flag-Pho75f2H {
  margin-left: 4px;
}
.removeButton-Pho75f2H {
  flex: none;
  position: absolute;
  right: -4px;
}
.removeButton-Pho75f2H.small-Pho75f2H {
  top: 0;
}
.count-Pho75f2H {
  font-size: 12px;
  line-height: 17px;
}
.count-Pho75f2H,
.toolboxCount-Pho75f2H {
  color: var(--tv-color-popup-element-toolbox-text, #787b86);
}
.toolboxCount-Pho75f2H {
  display: none;
  min-width: 18px;
  text-align: right;
}
.toolboxItem-Pho75f2H:not(:last-child) {
  margin-right: 0;
}
@media (any-hover: hover) {
  .item-Pho75f2H:not(:hover) .removeButton-Pho75f2H:not(.touch-Pho75f2H) {
    display: none;
  }
  .toolboxCount-Pho75f2H {
    display: flex;
  }
  .toolboxCount-Pho75f2H.touch-Pho75f2H {
    display: none;
  }
}
.toolbox-MeieydGw {
  margin-right: 2px;
}
.toolbox-iUEJczsW {
  align-self: flex-start;
  margin-right: 0;
}
.button-g115eYH4 {
  color: #131722;
  display: inline-flex;
  flex: 0 1 auto;
  font-size: 14px;
  font-weight: 600;
  height: 34px;
  justify-content: center;
  min-width: 0;
  padding: 0 1px 0 8px;
}
html.theme-dark .button-g115eYH4 {
  color: #d1d4dc;
}
.button-g115eYH4.hover-g115eYH4,
.button-g115eYH4:active {
  color: #131722;
}
@media (any-hover: hover) {
  .button-g115eYH4:hover {
    color: #131722;
  }
}
html.theme-dark .button-g115eYH4.hover-g115eYH4,
html.theme-dark .button-g115eYH4:active {
  color: #d1d4dc;
}
@media (any-hover: hover) {
  html.theme-dark .button-g115eYH4:hover {
    color: #d1d4dc;
  }
}
.button-g115eYH4.hover-g115eYH4:before,
.button-g115eYH4:active:before {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
@media (any-hover: hover) {
  .button-g115eYH4:hover:before {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
}
.button-g115eYH4.isOpened-g115eYH4.hover-g115eYH4:before,
.button-g115eYH4.isOpened-g115eYH4:active:before,
.button-g115eYH4.isOpened-g115eYH4:before {
  border-radius: 2px;
}
@media (any-hover: hover) {
  .button-g115eYH4.isOpened-g115eYH4:hover:before {
    border-radius: 2px;
  }
}
.inner-g115eYH4 {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container-u7Ufi_N7 {
  display: flex;
  height: 38px;
  justify-content: space-between;
  width: 100%;
}
.leftSlot-u7Ufi_N7,
.rightSlot-u7Ufi_N7 {
  align-items: center;
  display: flex;
}
.leftSlot-u7Ufi_N7 {
  color: #131722;
  font-size: 14px;
  font-weight: 600;
  height: auto;
  line-height: 28px;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
}
html.theme-dark .leftSlot-u7Ufi_N7 {
  color: #d1d4dc;
}
.rightSlotSeparator-u7Ufi_N7:after {
  border-right: 1px solid #e0e3eb;
  content: "";
  height: 28px;
  margin: 0 24px 0 15px;
}
html.theme-dark .rightSlotSeparator-u7Ufi_N7:after {
  border-right: 1px solid #434651;
}
.item-E2qCgOMz.withIcon-E2qCgOMz {
  padding-bottom: 2px;
  padding-top: 2px;
}
.item-mcATxxXd {
  font-size: 16px;
  line-height: 24px;
}
.container-mQBvegEO {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-width: 0;
  width: 100%;
}
.hidden-mQBvegEO {
  display: none;
}
.watchlistMenu-mQBvegEO {
  max-width: 320px;
  min-width: 210px;
}
.title-mQBvegEO {
  color: #131722;
  font-size: 16px;
  line-height: 28px;
  padding: 0 8px;
}
html.theme-dark .title-mQBvegEO {
  color: #d1d4dc;
}
.titleRow-mQBvegEO {
  display: flex;
  min-width: 0;
}
.flag-mQBvegEO {
  margin-left: 5px;
}
.headerButton-mQBvegEO {
  align-items: center;
  color: #131722;
  display: flex;
  height: 38px;
  justify-content: center;
  margin-left: auto;
  width: 38px;
}
@media (any-hover: hover) {
  .headerButton-mQBvegEO:hover {
    color: #131722;
  }
}
html.theme-dark .headerButton-mQBvegEO {
  color: #d1d4dc;
}
@media (any-hover: hover) {
  html.theme-dark .headerButton-mQBvegEO:hover {
    color: #d1d4dc;
  }
}
.headerButton-mQBvegEO.disabled-mQBvegEO {
  opacity: 0.3;
}
.headerButton-mQBvegEO.disabled-mQBvegEO,
.headerButton-mQBvegEO.disabled-mQBvegEO:active,
.headerButton-mQBvegEO.disabled-mQBvegEO:before {
  background-color: initial;
}
@media (any-hover: hover) {
  .headerButton-mQBvegEO.disabled-mQBvegEO:hover {
    background-color: initial;
  }
}
html.theme-dark .headerButton-mQBvegEO.disabled-mQBvegEO,
html.theme-dark .headerButton-mQBvegEO.disabled-mQBvegEO:active,
html.theme-dark .headerButton-mQBvegEO.disabled-mQBvegEO:before {
  background-color: initial;
}
@media (any-hover: hover) {
  html.theme-dark .headerButton-mQBvegEO.disabled-mQBvegEO:hover {
    background-color: initial;
  }
}
.mobileMenu-mQBvegEO {
  font-size: 20px;
}
.buttonWrap-mQBvegEO {
  align-items: center;
  display: flex;
  height: 38px;
}
.menuWrap-mQBvegEO {
  min-width: 210px;
}
.columnsTitle-mQBvegEO {
  margin-bottom: 4px;
  margin-top: 10px;
  padding: 0 12px;
}
.columnsTitle-mQBvegEO.small-mQBvegEO {
  margin-top: 16px;
  padding: 0 20px;
}
.copyLink-mQBvegEO {
  fill: #2962ff;
  color: #2962ff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  margin: 0 12px;
}
.copyLink-mQBvegEO:visited,
html.theme-dark .copyLink-mQBvegEO {
  fill: #2962ff;
  color: #2962ff;
}
html.theme-dark .copyLink-mQBvegEO:visited {
  fill: #2962ff;
  color: #2962ff;
}
@media (any-hover: hover) {
  .copyLink-mQBvegEO:hover {
    fill: #1e53e5;
    color: #1e53e5;
  }
  html.theme-dark .copyLink-mQBvegEO:hover {
    fill: #1e53e5;
    color: #1e53e5;
  }
}
.copyLink-mQBvegEO:active {
  fill: #2962ff;
  color: #2962ff;
}
html.theme-dark .copyLink-mQBvegEO:active {
  fill: #2962ff;
  color: #2962ff;
}
.copyLink-mQBvegEO:focus {
  outline: auto;
  outline-offset: 2px;
}
.copyLink-mQBvegEO:focus-visible {
  outline: auto;
  outline-offset: 2px;
}
.copyLink-mQBvegEO:focus:not(:focus-visible) {
  outline: none;
}
.loaderWrapper-mQBvegEO {
  height: 32px;
  padding: 0 12px;
}
.loader-mQBvegEO {
  position: static;
}
.switcherMobileLabel-mQBvegEO {
  font-size: 16px;
}
.widgetbarWidgetHeaderLeftSlot-mQBvegEO {
  margin-left: -8px;
}
.widgetbarWidgetHeaderRightSlot-mQBvegEO {
  margin-right: -8px;
}
