.container-qm7Rg5MB {
  align-items: center;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: var(--themed-color-search-border, #ebebeb);
  cursor: default;
  display: flex;
  flex-shrink: 0;
  position: relative;
}
html.theme-dark .container-qm7Rg5MB {
  border-color: var(--themed-color-search-border, #4a4a4a);
}
.container-qm7Rg5MB.mobile-qm7Rg5MB {
  background-color: var(
    --themed-color-container-fill-primary-neutral-extra-light,
    #f2f2f2
  );
  border: none;
  border-radius: 40px;
  margin: 4px 20px 8px;
}
html.theme-dark .container-qm7Rg5MB.mobile-qm7Rg5MB {
  background-color: var(
    --themed-color-container-fill-primary-neutral-extra-light,
    #303030
  );
}
.inputContainer-qm7Rg5MB {
  height: 24px;
  padding: 8px 47px 8px 16px;
  width: 100%;
}
.inputContainer-qm7Rg5MB.mobile-qm7Rg5MB {
  padding-right: 40px;
}
.inputContainer-qm7Rg5MB.withCancel-qm7Rg5MB {
  padding-left: 70px;
}
.input-qm7Rg5MB {
  background-color: initial;
  border: none;
  color: var(--themed-color-load-chart-dialog-text, #1a1a1a);
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
html.theme-dark .input-qm7Rg5MB {
  color: var(--themed-color-load-chart-dialog-text, #a8a8a8);
}
.input-qm7Rg5MB.mobile-qm7Rg5MB {
  color: var(--themed-color-content-primary-neutral-bold, #1a1a1a);
}
html.theme-dark .input-qm7Rg5MB.mobile-qm7Rg5MB {
  color: var(--themed-color-content-primary-neutral-bold, #dbdbdb);
}
.input-qm7Rg5MB.mobile-qm7Rg5MB::placeholder {
  color: var(--themed-color-content-primary-neutral, #707070);
  font-weight: 400;
}
html.theme-dark .input-qm7Rg5MB.mobile-qm7Rg5MB::placeholder {
  color: var(--themed-color-content-primary-neutral, #8c8c8c);
}
.input-qm7Rg5MB::placeholder {
  color: var(--themed-color-input-placeholder-text, #a8a8a8);
  font-weight: 400;
}
html.theme-dark .input-qm7Rg5MB::placeholder {
  color: var(--themed-color-input-placeholder-text, #4a4a4a);
}
.icon-qm7Rg5MB {
  color: #a8a8a8;
  height: 28px;
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: calc(50% - 14px);
}
.icon-qm7Rg5MB.mobile-qm7Rg5MB {
  color: var(--themed-color-content-primary-neutral, #707070);
  right: 8px;
}
html.theme-dark .icon-qm7Rg5MB.mobile-qm7Rg5MB {
  color: var(--themed-color-content-primary-neutral, #8c8c8c);
}
.cancel-qm7Rg5MB {
  color: var(--themed-color-default-gray, #707070);
  left: 20px;
  position: absolute;
}
html.theme-dark .cancel-qm7Rg5MB {
  color: var(--themed-color-default-gray, #8c8c8c);
}
.cancel-qm7Rg5MB.mobile-qm7Rg5MB {
  color: var(--themed-color-content-primary-neutral, #707070);
}
html.theme-dark .cancel-qm7Rg5MB.mobile-qm7Rg5MB {
  color: var(--themed-color-content-primary-neutral, #8c8c8c);
}
.highlighted-cwp8YRo6,
html.theme-dark .highlighted-cwp8YRo6 {
  color: var(--themed-color-brand, #2962ff);
}
