.dialog-aurqyvd9 {
  width: 400px !important;
}
@media screen and (max-width: 430px) {
  .dialog-aurqyvd9 {
    width: 100% !important;
  }
}
.message-aurqyvd9,
.messageWithCheckbox-aurqyvd9 {
  color: #131722;
  flex: 1 1 auto;
  line-height: 21px;
  max-width: 400px;
  padding: 16px 20px 40px;
}
html.theme-dark .message-aurqyvd9,
html.theme-dark .messageWithCheckbox-aurqyvd9 {
  color: #d1d4dc;
}
.messageWithCheckbox-aurqyvd9 {
  padding: 16px 20px;
}
.checkbox-aurqyvd9 {
  padding: 0 20px 40px;
}
.messageBlock-aurqyvd9 {
  display: block;
  margin-bottom: 10px;
}
.messageBlock-aurqyvd9:last-child {
  margin-bottom: 0;
}
.icon-EoSJnnki {
  height: 72px;
  margin-right: 16px;
  width: 72px;
}
.text-I_at_Nau {
  white-space: normal;
}
.text-I_at_Nau a,
html.theme-dark .text-I_at_Nau a {
  color: #2962ff;
}
.checkbox-I_at_Nau {
  margin-top: 16px;
}
.footer-I_at_Nau {
  margin-top: 36px;
}
