.content-tBgV1m0B {
  box-sizing: border-box;
  color: var(--themed-color-text, #1a1a1a);
  display: inline-grid;
  grid-template-columns: auto 1fr;
  max-width: 550px;
  padding: 16px 20px;
  width: 100%;
}
html.theme-dark .content-tBgV1m0B {
  color: var(--themed-color-text, #dbdbdb);
}
.cell-tBgV1m0B .inner-tBgV1m0B {
  align-items: center;
  display: flex;
  padding: 8px 0;
}
.cell-tBgV1m0B.first-tBgV1m0B {
  align-items: center;
  display: flex;
  min-width: 0;
}
.cell-tBgV1m0B.first-tBgV1m0B .inner-tBgV1m0B {
  display: block;
  min-width: 0;
  padding-right: 20px;
  word-wrap: break-word;
  cursor: default;
}
.cell-tBgV1m0B.first-tBgV1m0B .inner-tBgV1m0B:first-letter {
  text-transform: capitalize;
}
.cell-tBgV1m0B.first-tBgV1m0B.inlineCell-tBgV1m0B .inner-tBgV1m0B {
  padding-right: 0;
}
.cell-tBgV1m0B.fill-tBgV1m0B {
  grid-column: 1 / 3;
}
.cell-tBgV1m0B.top-tBgV1m0B {
  align-items: flex-start;
}
.cell-tBgV1m0B.topCenter-tBgV1m0B {
  align-items: flex-start;
  padding-top: 8px;
}
.cell-tBgV1m0B:only-child {
  max-width: 340px;
}
.cell-tBgV1m0B.offset-tBgV1m0B {
  padding-left: 26px;
}
.inlineRow-tBgV1m0B {
  display: flex;
}
.inlineCell-tBgV1m0B {
  margin-right: 8px;
}
.grouped-tBgV1m0B .inner-tBgV1m0B,
.inlineCell-tBgV1m0B .inner-tBgV1m0B {
  padding: 4px 0;
}
.separator-tBgV1m0B {
  background-color: var(--themed-color-separator, #ebebeb);
  height: 1px;
  margin: 8px -20px;
}
html.theme-dark .separator-tBgV1m0B {
  background-color: var(--themed-color-separator, #4a4a4a);
}
.groupSeparator-tBgV1m0B {
  height: 8px;
}
.groupSeparator-tBgV1m0B.big-tBgV1m0B {
  height: 14px;
}
@media (max-width: 379px) {
  .content-tBgV1m0B {
    grid-template-columns: 1fr min-content;
  }
  .cell-tBgV1m0B.first-tBgV1m0B .inner-tBgV1m0B {
    padding: 8px 20px 8px 0;
  }
  .cell-tBgV1m0B.adaptive-tBgV1m0B {
    align-items: flex-start;
  }
  .cell-tBgV1m0B.adaptive-tBgV1m0B:not(.checkableTitle-tBgV1m0B):not(
      .inlineCell-tBgV1m0B
    ) {
    padding-top: 8px;
  }
}
.wrap-ne5qGlZh {
  align-items: center;
  background-color: var(--themed-color-body-secondary-bg, #f2f2f2);
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  height: 34px;
  justify-content: space-between;
  max-width: 180px;
  min-width: 100px;
  padding: 7px 8px 6px;
}
html.theme-dark .wrap-ne5qGlZh {
  background-color: var(--themed-color-body-secondary-bg, #1a1a1a);
}
@media (any-hover: hover) {
  .wrap-ne5qGlZh:hover {
    background-color: var(--themed-color-edit-button-background-hover, #ebebeb);
  }
  html.theme-dark .wrap-ne5qGlZh:hover {
    background-color: var(--themed-color-edit-button-background-hover, #4a4a4a);
  }
  .wrap-ne5qGlZh:hover .icon-ne5qGlZh {
    color: var(--themed-color-edit-button-icon-hover, #1a1a1a);
  }
  html.theme-dark .wrap-ne5qGlZh:hover .icon-ne5qGlZh {
    color: var(--themed-color-edit-button-icon-hover, #dbdbdb);
  }
}
.text-ne5qGlZh {
  color: var(--themed-color-edit-button-text, #1a1a1a);
  cursor: default;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html.theme-dark .text-ne5qGlZh {
  color: var(--themed-color-edit-button-text, #dbdbdb);
}
.icon-ne5qGlZh {
  align-self: flex-start;
  color: var(--themed-color-default-gray, #707070);
  height: 18px;
  margin-left: 8px;
}
html.theme-dark .icon-ne5qGlZh {
  color: var(--themed-color-default-gray, #8c8c8c);
}
.disabled-ne5qGlZh {
  pointer-events: none;
}
.disabled-ne5qGlZh .icon-ne5qGlZh,
.disabled-ne5qGlZh .text-ne5qGlZh {
  color: var(--themed-color-edit-button-text-disabled, #b8b8b8);
}
html.theme-dark .disabled-ne5qGlZh .icon-ne5qGlZh,
html.theme-dark .disabled-ne5qGlZh .text-ne5qGlZh {
  color: var(--themed-color-edit-button-text-disabled, #575757);
}
.wrap-Q2NZ0gvI {
  align-items: center;
  display: flex;
  max-width: 100%;
  overflow-wrap: break-word;
}
.wrap-Q2NZ0gvI:before {
  content: "";
  flex: none;
  height: 34px;
  width: 0;
}
.checkbox-FG0u1J5p {
  min-width: 0;
}
.title-FG0u1J5p {
  cursor: default;
  min-width: 0;
}
.hintButton-qEI9XsjF,
.infoTooltip-qEI9XsjF {
  margin-left: 8px;
}
.hasTooltip-DcvaoxPU {
  margin-right: 9px;
}
.uppercase-DcvaoxPU {
  text-transform: uppercase;
}
.innerLabel-DjbvBF5Y {
  color: var(--themed-color-input-with-error-label, #dbdbdb);
  display: flex;
  flex: 0 0 auto;
  font-size: 16px;
  padding-left: 5px;
}
html.theme-dark .innerLabel-DjbvBF5Y {
  color: var(--themed-color-input-with-error-label, #575757);
}
.controlWrapper-DBTazUk2 {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  width: 22px;
}
.controlWrapper-DBTazUk2.hidden-DBTazUk2 {
  opacity: 0;
}
.control-DBTazUk2 {
  align-items: center;
  background-color: initial;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--themed-color-default-gray, #707070);
  cursor: default;
  display: flex;
  flex: 0 0 auto;
  height: 50%;
  justify-content: center;
  padding: 0 6px;
  transition: color .35s ease, background-color .35s ease;
}
html.theme-dark .control-DBTazUk2 {
  color: var(--themed-color-default-gray, #8c8c8c);
}
.control-DBTazUk2 svg {
  fill: currentColor;
}
@media (any-hover: hover) {
  .control-DBTazUk2:hover {
    background-color: var(--themed-color-number-input-arrow-bg-hover, #f2f2f2);
    color: var(--themed-color-number-input-arrow-hover, #1a1a1a);
  }
  html.theme-dark .control-DBTazUk2:hover {
    background-color: var(--themed-color-number-input-arrow-bg-hover, #3d3d3d);
    color: var(--themed-color-number-input-arrow-hover, #dbdbdb);
  }
}
.controlIncrease-DBTazUk2 {
  transform: rotate(180deg);
}
.controlIcon-DBTazUk2 {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
}
.controlIcon-DBTazUk2 svg {
  width: 100%;
}
.title-DBTazUk2 {
  color: var(--themed-color-title, #b8b8b8);
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: center;
  margin-right: 9px;
}
html.theme-dark .title-DBTazUk2 {
  color: var(--themed-color-title, #575757);
}
.accessible-HBcDEU4c,
.button-HBcDEU4c {
  all: unset;
}
.accessible-HBcDEU4c {
  outline: none;
  overflow: visible;
  position: relative;
}
.accessible-HBcDEU4c:focus {
  outline: none;
}
.accessible-HBcDEU4c:focus-visible {
  outline: none;
}
.accessible-HBcDEU4c:after {
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  content: "";
  display: none;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.accessible-HBcDEU4c:focus:after {
  display: block;
}
.accessible-HBcDEU4c:focus-visible:after {
  display: block;
}
.accessible-HBcDEU4c:focus:not(:focus-visible):after {
  display: none;
}
.accessible-HBcDEU4c:after {
  border-color: #2962ff;
  border-radius: 6px;
}
.wrap-g_7HJ1Y8 {
  display: flex;
}
.item-g_7HJ1Y8 {
  align-items: center;
  background-color: var(--themed-color-switch-bg, #0000);
  border-color: var(--themed-color-switch-border, #dbdbdb);
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 1;
  height: 32px;
  justify-content: center;
  padding: 0 22px;
  position: relative;
}
html.theme-dark .item-g_7HJ1Y8 {
  background-color: var(--themed-color-switch-bg, #0000);
  border-color: var(--themed-color-switch-border, #575757);
}
@media (any-hover: hover) {
  .item-g_7HJ1Y8:hover {
    background-color: var(--themed-color-switch-hover-bg, #f2f2f2);
  }
  html.theme-dark .item-g_7HJ1Y8:hover {
    background-color: var(--themed-color-switch-hover-bg, #303030);
  }
}
.item-g_7HJ1Y8.checked-g_7HJ1Y8 {
  background-color: var(
    --themed-color-container-fill-primary-neutral-extra-bold,
    #303030
  );
  border-color: var(
    --themed-color-container-fill-primary-neutral-extra-bold,
    #303030
  );
  z-index: 1;
}
html.theme-dark .item-g_7HJ1Y8.checked-g_7HJ1Y8 {
  background-color: var(
    --themed-color-container-fill-primary-neutral-extra-bold,
    #f2f2f2
  );
  border-color: var(
    --themed-color-container-fill-primary-neutral-extra-bold,
    #f2f2f2
  );
}
@media (any-hover: hover) {
  .item-g_7HJ1Y8.checked-g_7HJ1Y8:hover {
    background-color: var(
      --themed-color-container-fill-primary-neutral-extra-bold,
      #303030
    );
    border-color: var(
      --themed-color-container-fill-primary-neutral-extra-bold,
      #303030
    );
  }
  html.theme-dark .item-g_7HJ1Y8.checked-g_7HJ1Y8:hover {
    background-color: var(
      --themed-color-container-fill-primary-neutral-extra-bold,
      #f2f2f2
    );
    border-color: var(
      --themed-color-container-fill-primary-neutral-extra-bold,
      #f2f2f2
    );
  }
}
.item-g_7HJ1Y8 + .item-g_7HJ1Y8 {
  margin-left: -1px;
}
.item-g_7HJ1Y8:first-child {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin-left: 0;
}
.item-g_7HJ1Y8:last-child {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.item-g_7HJ1Y8.accessible-g_7HJ1Y8 {
  outline: none;
  overflow: visible;
  position: relative;
}
.item-g_7HJ1Y8.accessible-g_7HJ1Y8:focus {
  outline: none;
}
.item-g_7HJ1Y8.accessible-g_7HJ1Y8:focus-visible {
  outline: none;
}
.item-g_7HJ1Y8.accessible-g_7HJ1Y8:after {
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  content: "";
  display: none;
  height: calc(100% + 8px);
  left: -4px;
  pointer-events: none;
  position: absolute;
  top: -4px;
  width: calc(100% + 8px);
  z-index: 1;
}
.item-g_7HJ1Y8.accessible-g_7HJ1Y8:after,
html.theme-dark .item-g_7HJ1Y8.accessible-g_7HJ1Y8:after {
  border-color: var(--themed-color-focus-outline-color-blue, #2962ff);
}
.item-g_7HJ1Y8.accessible-g_7HJ1Y8:after {
  border-radius: 4px;
}
.item-g_7HJ1Y8.accessible-g_7HJ1Y8.focusVisible-g_7HJ1Y8:after {
  display: block;
}
.radio-g_7HJ1Y8 {
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.paddingCompact-g_7HJ1Y8 {
  padding: 0 12px;
}
.radioButtonView-zzLJI6BH {
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 18px;
  position: relative;
  transition: background-color .35s ease, border-color .35s ease;
  width: 18px;
  --default-color: var(
    --themed-color-container-fill-primary-neutral-extra-bold,
    #303030
  );
  --radio-color: var(--ui-lib-radioButtonView-color, var(--default-color));
  background-color: initial;
  border: 1px solid var(--radio-color);
}
html.theme-dark .radioButtonView-zzLJI6BH {
  --default-color: var(
    --themed-color-container-fill-primary-neutral-extra-bold,
    #f2f2f2
  );
}
.radioButtonView-zzLJI6BH:before {
  background: var(--themed-color-container-fill-quinary-inverse, #fff);
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  display: none;
  height: 6px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
}
html.theme-dark .radioButtonView-zzLJI6BH:before {
  background: var(--themed-color-container-fill-quinary-inverse, #303030);
}
.checked-zzLJI6BH {
  --default-color: var(
    --themed-color-container-fill-primary-neutral-extra-bold,
    #303030
  );
  background-color: var(--radio-color);
}
html.theme-dark .checked-zzLJI6BH {
  --default-color: var(
    --themed-color-container-fill-primary-neutral-extra-bold,
    #f2f2f2
  );
}
.checked-zzLJI6BH:before {
  display: block;
}
.disabled-zzLJI6BH {
  opacity: 0.3;
}
.thicknessContainer-C05zSid7 {
  padding: 0 12px;
}
.thicknessTitle-C05zSid7 {
  color: var(--themed-color-default-gray, #707070);
  font-size: 12px;
  line-height: 14px;
  margin: 6px 0 4px;
}
html.theme-dark .thicknessTitle-C05zSid7 {
  color: var(--themed-color-default-gray, #8c8c8c);
}
.bar-C05zSid7 {
  border: 0 solid
    var(--themed-color-container-fill-primary-neutral-extra-bold, #303030);
  height: 0;
  width: 100%;
}
html.theme-dark .bar-C05zSid7 {
  border: 0 solid
    var(--themed-color-container-fill-primary-neutral-extra-bold, #f2f2f2);
}
.bar-C05zSid7.checked-C05zSid7 {
  border-top-color: var(--themed-color-content-primary-inverse, #fff);
}
html.theme-dark .bar-C05zSid7.checked-C05zSid7 {
  border-top-color: var(--themed-color-content-primary-inverse, #000);
}
.radio-ALqkCUvs {
  align-items: center;
  display: inline-flex;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: default;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  gap: 8px;
  letter-spacing: normal;
  line-height: normal;
}
.reverse-ALqkCUvs {
  flex-direction: row-reverse;
}
.label-ALqkCUvs {
  color: var(--themed-color-text-primary, #1a1a1a);
  min-width: 0;
}
html.theme-dark .label-ALqkCUvs {
  color: var(--themed-color-text-primary, #dbdbdb);
}
.wrapper-ALqkCUvs {
  display: inline-block;
  flex-shrink: 0;
  height: 18px;
  position: relative;
  width: 18px;
}
.input-ALqkCUvs {
  cursor: inherit;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.box-ALqkCUvs {
  outline: none;
  overflow: visible;
  pointer-events: none;
  position: relative;
}
.box-ALqkCUvs:focus {
  outline: none;
}
.box-ALqkCUvs:focus-visible {
  outline: none;
}
.box-ALqkCUvs:after {
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  content: "";
  display: none;
  height: calc(100% + 10px);
  left: -5px;
  pointer-events: none;
  position: absolute;
  top: -5px;
  width: calc(100% + 10px);
  z-index: 1;
}
.box-ALqkCUvs:after,
html.theme-dark .box-ALqkCUvs:after {
  border-color: var(--themed-color-focus-outline-color-blue, #2962ff);
}
.box-ALqkCUvs:after {
  border-radius: 13px;
}
.input-ALqkCUvs:focus-visible + .box-ALqkCUvs:after {
  display: block;
}
@media (any-hover: hover) {
  .wrapper-ALqkCUvs:not(.disabled-ALqkCUvs)
    .input-ALqkCUvs:hover
    + .box-ALqkCUvs {
    --ui-lib-radioButtonView-color: var(
      --themed-color-container-fill-primary-neutral-bold,
      #4a4a4a
    );
  }
  html.theme-dark
    .wrapper-ALqkCUvs:not(.disabled-ALqkCUvs)
    .input-ALqkCUvs:hover
    + .box-ALqkCUvs {
    --ui-lib-radioButtonView-color: var(
      --themed-color-container-fill-primary-neutral-bold,
      #dbdbdb
    );
  }
}
.wrapper-ALqkCUvs:not(.disabled-ALqkCUvs)
  .input-ALqkCUvs:active
  + .box-ALqkCUvs {
  --ui-lib-radioButtonView-color: var(
    --themed-color-container-fill-primary-neutral-medium,
    #707070
  );
}
html.theme-dark
  .wrapper-ALqkCUvs:not(.disabled-ALqkCUvs)
  .input-ALqkCUvs:active
  + .box-ALqkCUvs {
  --ui-lib-radioButtonView-color: var(
    --themed-color-container-fill-primary-neutral-medium,
    #8c8c8c
  );
}
.container-zTsGmQlA {
  padding: 0 12px;
}
.title-zTsGmQlA {
  color: var(--themed-color-default-gray, #707070);
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4px;
}
html.theme-dark .title-zTsGmQlA {
  color: var(--themed-color-default-gray, #8c8c8c);
}
.lineContainer-zTsGmQlA {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 24px;
  justify-content: center;
  overflow: hidden;
  width: 30px;
}
.lineSegment-zTsGmQlA {
  background-color: var(
    --themed-color-container-fill-primary-neutral-extra-bold,
    #303030
  );
  flex-shrink: 0;
}
html.theme-dark .lineSegment-zTsGmQlA {
  background-color: var(
    --themed-color-container-fill-primary-neutral-extra-bold,
    #f2f2f2
  );
}
.lineSegment-zTsGmQlA.checked-zTsGmQlA {
  background-color: var(--themed-color-content-primary-inverse, #fff);
}
html.theme-dark .lineSegment-zTsGmQlA.checked-zTsGmQlA {
  background-color: var(--themed-color-content-primary-inverse, #000);
}
.default-EZuD3gZZ {
  --ui-lib-icon-qi-default-color: var(
    --themed-color-content-primary-neutral-light,
    #b8b8b8
  );
  --ui-lib-icon-qi-default-color-hover: var(
    --themed-color-content-primary-neutral,
    #707070
  );
  --ui-lib-icon-qi-default-color-active: var(
    --themed-color-content-primary-neutral-semi-bold,
    #4a4a4a
  );
}
html.theme-dark .default-EZuD3gZZ {
  --ui-lib-icon-qi-default-color-active: var(
    --themed-color-content-primary-neutral-semi-bold,
    #b8b8b8
  );
  --ui-lib-icon-qi-default-color-hover: var(
    --themed-color-content-primary-neutral,
    #8c8c8c
  );
  --ui-lib-icon-qi-default-color: var(
    --themed-color-content-primary-neutral-light,
    #575757
  );
}
.danger-EZuD3gZZ {
  --ui-lib-icon-qi-default-color: var(
    --themed-color-content-primary-danger,
    #f23645
  );
  --ui-lib-icon-qi-default-color-hover: var(
    --themed-color-content-primary-danger-semi-bold,
    #cc2f3c
  );
  --ui-lib-icon-qi-default-color-active: var(
    --themed-color-content-primary-danger-bold,
    #b22833
  );
}
html.theme-dark .danger-EZuD3gZZ {
  --ui-lib-icon-qi-default-color-active: var(
    --themed-color-content-primary-danger-bold,
    #f77c80
  );
  --ui-lib-icon-qi-default-color-hover: var(
    --themed-color-content-primary-danger-semi-bold,
    #f7525f
  );
  --ui-lib-icon-qi-default-color: var(
    --themed-color-content-primary-danger,
    #f23645
  );
}
.warning-EZuD3gZZ {
  --ui-lib-icon-qi-default-color: var(
    --themed-color-content-primary-warning,
    #ff9800
  );
  --ui-lib-icon-qi-default-color-hover: var(
    --themed-color-content-primary-warning-semi-bold,
    #fb8c00
  );
  --ui-lib-icon-qi-default-color-active: var(
    --themed-color-content-primary-warning-bold,
    #f57c00
  );
}
html.theme-dark .warning-EZuD3gZZ {
  --ui-lib-icon-qi-default-color-active: var(
    --themed-color-content-primary-warning-bold,
    #ffb74d
  );
  --ui-lib-icon-qi-default-color-hover: var(
    --themed-color-content-primary-warning-semi-bold,
    #ffa726
  );
  --ui-lib-icon-qi-default-color: var(
    --themed-color-content-primary-warning,
    #ff9800
  );
}
.success-EZuD3gZZ {
  --ui-lib-icon-qi-default-color: var(
    --themed-color-content-primary-success,
    #089981
  );
  --ui-lib-icon-qi-default-color-hover: var(
    --themed-color-content-primary-success-semi-bold,
    #06806b
  );
  --ui-lib-icon-qi-default-color-active: var(
    --themed-color-content-primary-success-bold,
    #056656
  );
}
html.theme-dark .success-EZuD3gZZ {
  --ui-lib-icon-qi-default-color-active: var(
    --themed-color-content-primary-success-bold,
    #42bda8
  );
  --ui-lib-icon-qi-default-color-hover: var(
    --themed-color-content-primary-success-semi-bold,
    #22ab94
  );
  --ui-lib-icon-qi-default-color: var(
    --themed-color-content-primary-success,
    #089981
  );
}
.neutral-EZuD3gZZ {
  --ui-lib-icon-qi-default-color: var(
    --themed-color-content-secondary-neutral,
    #575757
  );
  --ui-lib-icon-qi-default-color-hover: var(
    --themed-color-content-secondary-neutral-medium,
    #3d3d3d
  );
  --ui-lib-icon-qi-default-color-active: var(
    --themed-color-content-secondary-neutral-semi-bold,
    #262626
  );
}
html.theme-dark .neutral-EZuD3gZZ {
  --ui-lib-icon-qi-default-color-active: var(
    --themed-color-content-secondary-neutral-semi-bold,
    #ebebeb
  );
  --ui-lib-icon-qi-default-color-hover: var(
    --themed-color-content-secondary-neutral-medium,
    #b8b8b8
  );
  --ui-lib-icon-qi-default-color: var(
    --themed-color-content-secondary-neutral,
    #8c8c8c
  );
}
.neutral-light-EZuD3gZZ {
  --ui-lib-icon-qi-default-color: var(
    --themed-color-content-primary-neutral-extra-light,
    #dbdbdb
  );
  --ui-lib-icon-qi-default-color-hover: var(
    --themed-color-content-primary-neutral,
    #707070
  );
  --ui-lib-icon-qi-default-color-active: var(
    --themed-color-content-primary-neutral-semi-bold,
    #4a4a4a
  );
}
html.theme-dark .neutral-light-EZuD3gZZ {
  --ui-lib-icon-qi-default-color-active: var(
    --themed-color-content-primary-neutral-semi-bold,
    #b8b8b8
  );
  --ui-lib-icon-qi-default-color-hover: var(
    --themed-color-content-primary-neutral,
    #8c8c8c
  );
  --ui-lib-icon-qi-default-color: var(
    --themed-color-content-primary-neutral-extra-light,
    #575757
  );
}
.small-EZuD3gZZ {
  height: 18px;
  line-height: 18px;
  min-width: 18px;
  width: 18px;
}
.medium-EZuD3gZZ {
  height: 28px;
  line-height: 28px;
  min-width: 28px;
  width: 28px;
}
.large-EZuD3gZZ {
  height: 44px;
  line-height: 44px;
  min-width: 44px;
  width: 44px;
}
.iconWrapper-EZuD3gZZ {
  background: #0000;
  border: 0;
  box-shadow: none;
  color: var(--ui-lib-icon-qi-color, var(--ui-lib-icon-qi-default-color));
  display: inline-block;
  outline: none;
  overflow: visible;
  padding: 0;
  position: relative;
  vertical-align: middle;
}
.iconWrapper-EZuD3gZZ:focus {
  outline: none;
}
.iconWrapper-EZuD3gZZ:focus-visible {
  outline: none;
}
.iconWrapper-EZuD3gZZ:after {
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  content: "";
  display: none;
  height: calc(100% + 8px);
  left: -4px;
  pointer-events: none;
  position: absolute;
  top: -4px;
  width: calc(100% + 8px);
  z-index: 1;
}
.iconWrapper-EZuD3gZZ:focus:after {
  display: block;
}
.iconWrapper-EZuD3gZZ:focus-visible:after {
  display: block;
}
.iconWrapper-EZuD3gZZ:focus:not(:focus-visible):after {
  display: none;
}
.iconWrapper-EZuD3gZZ:after,
html.theme-dark .iconWrapper-EZuD3gZZ:after {
  border-color: var(--themed-color-focus-outline-color-blue, #2962ff);
}
.iconWrapper-EZuD3gZZ:after {
  border-radius: calc(50% + 4px);
}
.iconWrapper-EZuD3gZZ:visited {
  color: var(--ui-lib-icon-qi-color, var(--ui-lib-icon-qi-default-color));
}
@media (any-hover: hover) {
  .iconWrapper-EZuD3gZZ:hover {
    color: var(
      --ui-lib-icon-qi-color-hover,
      var(--ui-lib-icon-qi-default-color-hover)
    );
  }
}
.iconWrapper-EZuD3gZZ:active {
  color: var(
    --ui-lib-icon-qi-color-active,
    var(--ui-lib-icon-qi-default-color-active)
  );
}
.icon-EZuD3gZZ {
  pointer-events: none;
}
.icon-EZuD3gZZ svg {
  height: 100%;
  width: 100%;
}
.colorPickerWrap-Sw_a4qpB {
  align-items: center;
  border-color: var(--themed-color-control-intent-default, #dbdbdb);
  border-radius: 6px;
  border-style: solid;
  box-sizing: border-box;
  display: inline-flex;
  margin: 0;
  position: relative;
}
html.theme-dark .colorPickerWrap-Sw_a4qpB {
  border-color: var(--themed-color-control-intent-default, #575757);
}
@media (any-hover: hover) {
  .colorPickerWrap-Sw_a4qpB:hover {
    border-color: var(--themed-color-input-border-hover, #a8a8a8);
  }
  html.theme-dark .colorPickerWrap-Sw_a4qpB:hover {
    border-color: var(--themed-color-input-border-hover, #707070);
  }
}
.colorPickerWrap-Sw_a4qpB.focused-Sw_a4qpB,
html.theme-dark .colorPickerWrap-Sw_a4qpB.focused-Sw_a4qpB {
  border-color: var(--themed-color-control-intent-primary, #2962ff);
}
.colorPickerWrap-Sw_a4qpB.readonly-Sw_a4qpB {
  background-color: var(--themed-color-input-readonly-bg, #f2f2f2);
  border-color: var(--themed-color-input-readonly-border, #dbdbdb);
}
html.theme-dark .colorPickerWrap-Sw_a4qpB.readonly-Sw_a4qpB {
  background-color: var(--themed-color-input-readonly-bg, #303030);
  border-color: var(--themed-color-input-readonly-border, #575757);
}
.colorPickerWrap-Sw_a4qpB.disabled-Sw_a4qpB {
  background-color: var(--themed-color-input-disabled-bg, #f2f2f2);
  border-color: var(--themed-color-input-disabled-border, #dbdbdb);
  color: var(--themed-color-input-disabled-text, #b8b8b8);
}
html.theme-dark .colorPickerWrap-Sw_a4qpB.disabled-Sw_a4qpB {
  background-color: var(--themed-color-input-disabled-bg, #303030);
  border-color: var(--themed-color-input-disabled-border, #575757);
  color: var(--themed-color-input-disabled-text, #575757);
}
.colorPickerWrap-Sw_a4qpB.size-small-Sw_a4qpB {
  height: 24px;
}
.colorPickerWrap-Sw_a4qpB.size-medium-Sw_a4qpB {
  height: 34px;
}
.colorPickerWrap-Sw_a4qpB.size-large-Sw_a4qpB {
  height: 48px;
}
.colorPickerWrap-Sw_a4qpB.font-size-medium-Sw_a4qpB,
.colorPickerWrap-Sw_a4qpB.font-size-small-Sw_a4qpB {
  font-size: 14px;
  line-height: 20px;
}
.colorPickerWrap-Sw_a4qpB.font-size-large-Sw_a4qpB {
  font-size: 16px;
  line-height: 24px;
}
.colorPickerWrap-Sw_a4qpB.border-none-Sw_a4qpB {
  border-width: 0;
}
.colorPickerWrap-Sw_a4qpB.border-none-Sw_a4qpB .shadow-Sw_a4qpB {
  margin: 0;
}
.colorPickerWrap-Sw_a4qpB.border-thin-Sw_a4qpB {
  border-width: 1px;
}
.colorPickerWrap-Sw_a4qpB.border-thin-Sw_a4qpB .shadow-Sw_a4qpB {
  margin: -1px;
}
.colorPickerWrap-Sw_a4qpB.border-thick-Sw_a4qpB {
  border-width: 2px;
}
.colorPickerWrap-Sw_a4qpB.border-thick-Sw_a4qpB .shadow-Sw_a4qpB {
  margin: -2px;
}
.colorPickerWrap-Sw_a4qpB.intent-default-Sw_a4qpB .shadow-Sw_a4qpB {
  border-color: var(--themed-color-control-intent-default, #dbdbdb);
}
html.theme-dark
  .colorPickerWrap-Sw_a4qpB.intent-default-Sw_a4qpB
  .shadow-Sw_a4qpB {
  border-color: var(--themed-color-control-intent-default, #575757);
}
.colorPickerWrap-Sw_a4qpB.intent-success-Sw_a4qpB,
.colorPickerWrap-Sw_a4qpB.intent-success-Sw_a4qpB .shadow-Sw_a4qpB,
html.theme-dark .colorPickerWrap-Sw_a4qpB.intent-success-Sw_a4qpB,
html.theme-dark
  .colorPickerWrap-Sw_a4qpB.intent-success-Sw_a4qpB
  .shadow-Sw_a4qpB {
  border-color: var(--themed-color-control-intent-success, #089981);
}
.colorPickerWrap-Sw_a4qpB.intent-warning-Sw_a4qpB,
.colorPickerWrap-Sw_a4qpB.intent-warning-Sw_a4qpB .shadow-Sw_a4qpB,
html.theme-dark .colorPickerWrap-Sw_a4qpB.intent-warning-Sw_a4qpB,
html.theme-dark
  .colorPickerWrap-Sw_a4qpB.intent-warning-Sw_a4qpB
  .shadow-Sw_a4qpB {
  border-color: var(--themed-color-control-intent-warning, #ff9800);
}
.colorPickerWrap-Sw_a4qpB.intent-danger-Sw_a4qpB,
.colorPickerWrap-Sw_a4qpB.intent-danger-Sw_a4qpB .shadow-Sw_a4qpB,
html.theme-dark .colorPickerWrap-Sw_a4qpB.intent-danger-Sw_a4qpB,
html.theme-dark
  .colorPickerWrap-Sw_a4qpB.intent-danger-Sw_a4qpB
  .shadow-Sw_a4qpB {
  border-color: var(--themed-color-control-intent-danger, #f23645);
}
.colorPickerWrap-Sw_a4qpB.intent-primary-Sw_a4qpB,
.colorPickerWrap-Sw_a4qpB.intent-primary-Sw_a4qpB .shadow-Sw_a4qpB,
html.theme-dark .colorPickerWrap-Sw_a4qpB.intent-primary-Sw_a4qpB,
html.theme-dark
  .colorPickerWrap-Sw_a4qpB.intent-primary-Sw_a4qpB
  .shadow-Sw_a4qpB {
  border-color: var(--themed-color-control-intent-primary, #2962ff);
}
.colorPickerWrap-Sw_a4qpB.corner-top-left-Sw_a4qpB {
  border-top-left-radius: 0;
}
.colorPickerWrap-Sw_a4qpB.corner-top-right-Sw_a4qpB {
  border-top-right-radius: 0;
}
.colorPickerWrap-Sw_a4qpB.corner-bottom-right-Sw_a4qpB {
  border-bottom-right-radius: 0;
}
.colorPickerWrap-Sw_a4qpB.corner-bottom-left-Sw_a4qpB {
  border-bottom-left-radius: 0;
}
.shadow-Sw_a4qpB {
  border: 2px solid;
  border-radius: 6px;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}
.shadow-Sw_a4qpB.corner-top-left-Sw_a4qpB {
  border-top-left-radius: 0;
}
.shadow-Sw_a4qpB.corner-top-right-Sw_a4qpB {
  border-top-right-radius: 0;
}
.shadow-Sw_a4qpB.corner-bottom-right-Sw_a4qpB {
  border-bottom-right-radius: 0;
}
.shadow-Sw_a4qpB.corner-bottom-left-Sw_a4qpB {
  border-bottom-left-radius: 0;
}
.colorPicker-Sw_a4qpB {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 4px;
}
.colorPicker-Sw_a4qpB.disabled-Sw_a4qpB {
  opacity: 0.5;
}
.swatch-Sw_a4qpB {
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
}
.placeholderContainer-Sw_a4qpB {
  border-radius: 3px;
  height: 24px;
  overflow: hidden;
  position: relative;
  width: 24px;
}
.placeholderContainer-Sw_a4qpB .placeholder-Sw_a4qpB {
  height: 24px;
  width: 24px;
}
.placeholderContainer-Sw_a4qpB .placeholder-Sw_a4qpB,
html.theme-dark .placeholderContainer-Sw_a4qpB .placeholder-Sw_a4qpB {
  background-color: var(--themed-color-placeholder-down, #f7525f);
}
.placeholderContainer-Sw_a4qpB .placeholder-Sw_a4qpB:after {
  border-left: 24px solid #0000;
  content: " ";
  position: absolute;
  width: 0;
}
.placeholderContainer-Sw_a4qpB .placeholder-Sw_a4qpB:after,
html.theme-dark .placeholderContainer-Sw_a4qpB .placeholder-Sw_a4qpB:after {
  border-top: 24px solid var(--themed-color-placeholder-up, #22ab94);
}
.placeholderContainer-Sw_a4qpB .mixedColor-Sw_a4qpB {
  background: linear-gradient(
    270deg,
    #ff2e00,
    #ffe600 27.27%,
    #61ff00 50%,
    #00c2ff 72.44%,
    #8f00ff
  );
  height: 100%;
}
.white-Sw_a4qpB {
  border: 1px solid var(--themed-color-white-border, #dbdbdb);
}
html.theme-dark .white-Sw_a4qpB {
  border: 1px solid var(--themed-color-white-border, #0000);
}
.opacitySwatch-Sw_a4qpB {
  background-color: var(--themed-color-opacity-bg, #fff);
  background-image: url(opacity-pattern.4d8fbb552dde3db26f4a.svg);
  background-size: 50%;
  border-radius: 3px;
  flex: 0 0 24px;
  height: 24px;
  position: relative;
  width: 24px;
}
html.theme-dark .opacitySwatch-Sw_a4qpB {
  background-color: var(--themed-color-opacity-bg, #000);
}
.colorLine-Sw_a4qpB {
  background-color: var(--themed-color-active-hover-text, #1a1a1a);
  margin-left: 8px;
  margin-right: 4px;
  max-height: 16px !important;
  width: 30px;
}
html.theme-dark .colorLine-Sw_a4qpB {
  background-color: var(--themed-color-active-hover-text, #dbdbdb);
}
.multiWidth-Sw_a4qpB {
  margin: 0 3px 0 8px;
  width: 30px;
}
.lineStyleSelect-Sw_a4qpB {
  margin-top: 12px;
}
.overflowContainer-Sw_a4qpB {
  overflow: hidden;
}
.linePropertyContainer-Sw_a4qpB {
  align-items: center;
  display: flex;
  height: 24px;
  margin: 0 3px 0 8px;
  width: 30px;
}
.linePropertyContainer-Sw_a4qpB.whiteContainer-Sw_a4qpB {
  margin-left: 7px;
  margin-right: 4px;
}
.multiProperty-Sw_a4qpB {
  flex-direction: column;
  justify-content: center;
}
.lineItem-Sw_a4qpB {
  display: flex;
  width: 100%;
}
.lineSegment-Sw_a4qpB {
  background-color: var(--themed-color-active-hover-text, #1a1a1a);
  flex-shrink: 0;
}
html.theme-dark .lineSegment-Sw_a4qpB {
  background-color: var(--themed-color-active-hover-text, #dbdbdb);
}
.icon-wrapper-dikdewwx:active,
.icon-wrapper-dikdewwx:focus {
  color: var(--ui-lib-icon-qi-color, var(--ui-lib-icon-qi-default-color));
}
@media (any-hover: hover) {
  .icon-wrapper-dikdewwx:hover {
    color: var(--ui-lib-icon-qi-color, var(--ui-lib-icon-qi-default-color));
  }
}
@media (hover: hover) and (pointer: fine) {
  @media (any-hover: hover) {
    .icon-wrapper-dikdewwx:hover {
      color: var(
        --ui-lib-icon-qi-color-hover,
        var(--ui-lib-icon-qi-default-color-hover)
      );
    }
  }
  .icon-wrapper-dikdewwx:active {
    color: var(
      --ui-lib-icon-qi-color-active,
      var(--ui-lib-icon-qi-default-color-active)
    );
  }
}
.with-link-dikdewwx {
  cursor: pointer;
}
@media (hover: none) and (pointer: coarse) {
  .with-tooltip-dikdewwx:focus-visible {
    color: var(
      --ui-lib-icon-qi-color-hover,
      var(--ui-lib-icon-qi-default-color-hover)
    );
  }
  body:has(#tooltip-root-element *) .with-tooltip-dikdewwx:focus {
    color: var(
      --ui-lib-icon-qi-color-hover,
      var(--ui-lib-icon-qi-default-color-hover)
    );
  }
  @media (any-hover: hover) {
    body:has(#tooltip-root-element *) .with-tooltip-dikdewwx:hover {
      color: var(
        --ui-lib-icon-qi-color-hover,
        var(--ui-lib-icon-qi-default-color-hover)
      );
    }
  }
  body:has(#tooltip-root-element *) .with-tooltip-dikdewwx:active {
    color: var(
      --ui-lib-icon-qi-color-active,
      var(--ui-lib-icon-qi-default-color-active)
    );
  }
}
.no-active-state-dikdewwx {
  --ui-lib-icon-qi-color-active: var(
    --ui-lib-icon-qi-color-hover,
    var(--ui-lib-icon-qi-default-color-hover)
  );
}
.wrapper-JXHzsa7P {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 4px;
}
.textarea-container-x5KHDULU {
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-feature-settings: "tnum" on, "lnum" on;
  font-style: normal;
  --ui-lib-typography-font-size: 16px;
  font-size: var(--ui-lib-typography-font-size);
  font-weight: 400;
  --ui-lib-typography-line-height: 24px;
  line-height: var(--ui-lib-typography-line-height);
  resize: none;
}
.textarea-container-x5KHDULU.change-highlight-x5KHDULU.focused-x5KHDULU {
  border-color: var(
    --ui-lib-intent-color,
    var(--themed-color-control-intent-default, #dbdbdb)
  );
}
@media (any-hover: hover) {
  .textarea-container-x5KHDULU.change-highlight-x5KHDULU.focused-x5KHDULU:hover {
    border-color: var(
      --ui-lib-intent-color,
      var(--themed-color-control-intent-default, #dbdbdb)
    );
  }
}
html.theme-dark
  .textarea-container-x5KHDULU.change-highlight-x5KHDULU.focused-x5KHDULU {
  border-color: var(
    --ui-lib-intent-color,
    var(--themed-color-control-intent-default, #575757)
  );
}
@media (any-hover: hover) {
  html.theme-dark
    .textarea-container-x5KHDULU.change-highlight-x5KHDULU.focused-x5KHDULU:hover {
    border-color: var(
      --ui-lib-intent-color,
      var(--themed-color-control-intent-default, #575757)
    );
  }
}
.textarea-container-x5KHDULU.resize-vertical-x5KHDULU {
  overflow: hidden;
  resize: vertical;
}
.textarea-container-x5KHDULU.resize-horizontal-x5KHDULU {
  overflow: hidden;
  resize: horizontal;
}
.textarea-container-x5KHDULU.resize-both-x5KHDULU {
  overflow: hidden;
  resize: both;
}
.textarea-container-x5KHDULU ::-webkit-scrollbar {
  cursor: pointer;
  width: 4px;
}
.textarea-container-x5KHDULU ::-webkit-scrollbar-thumb {
  background: var(--themed-color-scrollbar-default, #dbdbdb);
  border-radius: 8px;
  cursor: pointer;
  padding-left: 15px;
}
html.theme-dark .textarea-container-x5KHDULU ::-webkit-scrollbar-thumb {
  background: var(--themed-color-scrollbar-default, #575757);
}
@media (any-hover: hover) {
  .textarea-container-x5KHDULU ::-webkit-scrollbar-thumb:hover {
    background: var(--themed-color-scrollbar-hover, #b8b8b8);
  }
  html.theme-dark .textarea-container-x5KHDULU ::-webkit-scrollbar-thumb:hover {
    background: var(--themed-color-scrollbar-hover, #8c8c8c);
  }
}
.textarea-container-x5KHDULU ::-webkit-scrollbar-thumb:active {
  background: var(--themed-color-scrollbar-active, #9c9c9c);
}
html.theme-dark .textarea-container-x5KHDULU ::-webkit-scrollbar-thumb:active {
  background: var(--themed-color-scrollbar-active, #a8a8a8);
}
.textarea-x5KHDULU {
  -webkit-appearance: auto;
  appearance: textfield;
  background-color: initial;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  min-width: 0;
  outline: 0;
  width: 100%;
  -webkit-text-fill-color: var(--ui-lib-control-text-fill-color, currentColor);
  box-sizing: border-box;
  cursor: auto;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  order: 0;
  padding: 2px 5px;
  resize: none;
}
.textarea-x5KHDULU::placeholder {
  color: var(--themed-color-text-field-placeholder-default, #707070);
  -webkit-text-fill-color: currentColor;
  opacity: 1;
}
html.theme-dark .textarea-x5KHDULU::placeholder {
  color: var(--themed-color-text-field-placeholder-default, #8c8c8c);
}
.textarea-x5KHDULU::-webkit-calendar-picker-indicator,
.textarea-x5KHDULU::-webkit-clear-button,
.textarea-x5KHDULU::-webkit-inner-spin-button,
.textarea-x5KHDULU::-webkit-outer-spin-button,
.textarea-x5KHDULU::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
.textarea-x5KHDULU:-webkit-autofill,
.textarea-x5KHDULU:-webkit-autofill:active,
.textarea-x5KHDULU:-webkit-autofill:focus {
  border-radius: 6px;
}
@media (any-hover: hover) {
  .textarea-x5KHDULU:-webkit-autofill:hover {
    border-radius: 6px;
  }
}
html.theme-dark .textarea-x5KHDULU::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.with-icon-x5KHDULU {
  height: 22px;
  position: absolute;
  right: 0;
  top: 6px;
}
.endslot-x5KHDULU {
  padding-right: 25px;
}
.input-ZOx_CVY3 {
  height: 34px;
  margin-right: 12px;
  width: 100px;
}
.input-ZOx_CVY3.symbol-ZOx_CVY3 {
  width: 150px;
}
.input-ZOx_CVY3:last-child {
  margin-right: 0;
}
.checkbox-ZOx_CVY3 {
  max-width: 100%;
}
.checkbox-ZOx_CVY3 .label-ZOx_CVY3 {
  display: inline-block;
  max-width: 100%;
  min-width: 0;
  overflow-wrap: break-word;
  vertical-align: top;
}
.checkbox-ZOx_CVY3 .label-ZOx_CVY3:first-letter {
  text-transform: capitalize;
}
.dropdownMenu-ZOx_CVY3 {
  min-width: 100px;
}
.sessionEnd-ZOx_CVY3,
.sessionStart-ZOx_CVY3 {
  align-items: center;
  display: inline-flex;
}
.sessionInputContainer-ZOx_CVY3 {
  margin-right: 0;
}
.sessionDash-ZOx_CVY3 {
  flex: 1 0 auto;
}
.inputGroup-ZOx_CVY3 {
  align-items: center;
  display: flex;
}
.textarea-ZOx_CVY3 {
  height: 200px;
  padding-top: 0;
  width: 100%;
}
@media (max-width: 379px) {
  .input-ZOx_CVY3 {
    margin-bottom: 8px;
  }
  .input-ZOx_CVY3:last-child {
    margin-bottom: 0;
  }
  .inputGroup-ZOx_CVY3 {
    display: block;
  }
  .inputGroup-ZOx_CVY3.inlineGroup-ZOx_CVY3 {
    display: flex;
  }
  .inputGroup-ZOx_CVY3.inlineGroup-ZOx_CVY3 .sessionStart-ZOx_CVY3,
  .sessionInputContainer-ZOx_CVY3 {
    margin-bottom: 0;
  }
  .sessionStart-ZOx_CVY3 {
    margin-bottom: 8px;
  }
  .sessionEnd-ZOx_CVY3 {
    display: block;
  }
}
.hasTooltip-ZOx_CVY3 {
  margin-right: 9px;
}
.container-QyF09i7Y {
  display: flex;
  flex-wrap: wrap;
  margin-top: -8px;
}
.container-QyF09i7Y.hasTooltip-QyF09i7Y {
  margin-right: 9px;
}
.datePickerWrapper-QyF09i7Y {
  margin-right: 10px;
  margin-top: 8px;
  width: 150px;
}
.timePickerWrapper-QyF09i7Y {
  margin-top: 8px;
  width: 100px;
}
.titleWrap-SexRbl__ {
  color: var(--themed-color-default-gray, #707070);
  height: 16px;
  text-transform: uppercase;
}
html.theme-dark .titleWrap-SexRbl__ {
  color: var(--themed-color-default-gray, #8c8c8c);
}
.title-SexRbl__ {
  font-size: 11px;
}
.wrap-QutFvTLS {
  flex-direction: column;
}
.labelWrap-QutFvTLS {
  align-items: center;
  display: flex;
  margin-bottom: 6px;
}
.label-QutFvTLS {
  word-break: break-word;
}
.label-QutFvTLS.hasTooltip-QutFvTLS {
  margin-right: 8px;
}
.inlineRow-D8g11qqA {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / 3;
  margin-right: -8px;
  padding: 4px 0;
}
.titleWrap-Izz3hpJc {
  align-items: center;
  display: flex;
  height: 34px;
  padding: 24px 0 8px;
}
.titleWrap-Izz3hpJc:first-child {
  padding-top: 8px;
}
.groupFooter-Izz3hpJc {
  height: 16px;
}
.groupFooter-Izz3hpJc:last-child {
  height: 0;
}
.groupFooter-Izz3hpJc,
.titleWrap-Izz3hpJc {
  grid-column: 1 / 3;
}
.groupFooter-Izz3hpJc + .titleWrap-Izz3hpJc {
  padding-top: 8px;
}
