.separator-EI7Qsb2Q {
  border-top: 1px solid #e0e3eb;
}
html.theme-dark .separator-EI7Qsb2Q {
  border-top: 1px solid #434651;
}
.scrollable-EI7Qsb2Q {
  -webkit-overflow-scrolling: touch;
  flex: 1 1 auto;
  min-height: 145px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: #9598a1 #0000;
  scrollbar-width: thin;
}
html.theme-dark .scrollable-EI7Qsb2Q {
  scrollbar-color: #363a45 #0000;
}
@media screen and (max-height: 290px) {
  .scrollable-EI7Qsb2Q {
    min-height: auto;
  }
}
.scrollable-EI7Qsb2Q::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.scrollable-EI7Qsb2Q::-webkit-scrollbar-thumb {
  background-color: #9598a1;
  border: 1px solid #f0f3fa;
  border-radius: 3px;
}
html.theme-dark .scrollable-EI7Qsb2Q::-webkit-scrollbar-thumb {
  background-color: #363a45;
  border-color: #1e222d;
}
.scrollable-EI7Qsb2Q::-webkit-scrollbar-track {
  background-color: initial;
  border-radius: 3px;
}
.scrollable-EI7Qsb2Q::-webkit-scrollbar-corner {
  display: none;
}
