.tv-dom-widget-order-YzgGdJzq {
  background: #40b295;
  overflow: hidden;
  pointer-events: none;
}
.tv-dom-widget-order--ghost-YzgGdJzq,
.tv-dom-widget-order--inactive-YzgGdJzq {
  opacity: 0.5;
}
.tv-dom-widget-order--type-stop-YzgGdJzq {
  background: #da4353;
}
.tv-dom-widget-order--type-stop-YzgGdJzq .tv-dom-widget-order__close-YzgGdJzq {
  background: #ef5350;
}
@media (any-hover: hover) {
  .tv-dom-widget-order--type-stop-YzgGdJzq
    .tv-dom-widget-order__close-YzgGdJzq:hover {
    background: #f16462;
  }
}
.tv-dom-widget-order--type-stop-YzgGdJzq
  .tv-dom-widget-order__close-YzgGdJzq:active {
  background: #e34f4c;
}
.tv-dom-widget-order--type-stoplimit-YzgGdJzq {
  background: #e1b143;
}
.tv-dom-widget-order--type-stoplimit-YzgGdJzq
  .tv-dom-widget-order__close-YzgGdJzq {
  background: #ffc84a;
}
@media (any-hover: hover) {
  .tv-dom-widget-order--type-stoplimit-YzgGdJzq
    .tv-dom-widget-order__close-YzgGdJzq:hover {
    background: #ffce5c;
  }
}
.tv-dom-widget-order--type-stoplimit-YzgGdJzq
  .tv-dom-widget-order__close-YzgGdJzq:active {
  background: #f2be46;
}
.tv-dom-widget-order--highlighted-YzgGdJzq {
  border: 1px solid #000;
  margin: -1px;
  position: relative;
  z-index: 2;
}
.tv-dom-widget-order__close-YzgGdJzq {
  background: #48cfad;
  float: right;
  height: 21px;
  pointer-events: auto;
  width: 21px;
}
@media (any-hover: hover) {
  .tv-dom-widget-order__close-YzgGdJzq:hover {
    background: #5ad4b5;
  }
}
.tv-dom-widget-order__close-YzgGdJzq:active {
  background: #44c5a4;
}
.tv-dom-widget-order__close-YzgGdJzq svg {
  fill: #fff;
  display: block;
  height: 9px;
  margin: 6px 0 0 6px;
  pointer-events: none;
  width: 9px;
}
.tv-dom-widget-order--buy-YzgGdJzq .tv-dom-widget-order__close-YzgGdJzq {
  float: left;
}
.tv-dom-widget-order--ghost-YzgGdJzq .tv-dom-widget-order__close-YzgGdJzq {
  visibility: hidden;
}
.tv-dom-widget-order--notcanceled-YzgGdJzq
  .tv-dom-widget-order__close-YzgGdJzq {
  display: none;
}
.tv-dom-widget-order__qty-YzgGdJzq {
  color: #fff;
  cursor: ns-resize;
  display: block;
  font-size: 12px;
  height: 15px;
  line-height: 15px;
  overflow: hidden;
  padding: 3px 0;
  pointer-events: auto;
  text-align: center;
  white-space: nowrap;
}
@media (any-hover: hover) {
  .tv-dom-widget-order__qty-YzgGdJzq:hover {
    background: #ffffff1a;
  }
}
.tv-dom-widget-order__qty-YzgGdJzq:active {
  background: #ffffff0d;
}
.tv-dom-widget-order--immovable-YzgGdJzq .tv-dom-widget-order__qty-YzgGdJzq,
.tv-dom-widget-order--unmodified-YzgGdJzq .tv-dom-widget-order__qty-YzgGdJzq {
  cursor: default;
}
@media (any-hover: hover) {
  .tv-dom-widget-order--immovable-YzgGdJzq
    .tv-dom-widget-order__qty-YzgGdJzq:hover,
  .tv-dom-widget-order--unmodified-YzgGdJzq
    .tv-dom-widget-order__qty-YzgGdJzq:hover {
    background: #0000;
  }
}
.tv-dom-widget-order--immovable-YzgGdJzq
  .tv-dom-widget-order__qty-YzgGdJzq:active,
.tv-dom-widget-order--unmodified-YzgGdJzq
  .tv-dom-widget-order__qty-YzgGdJzq:active {
  background: #0000;
}
.tv-dom-widget-order__type-YzgGdJzq {
  background: #f1f3f6;
  clear: both;
  color: #4a4a4a;
  display: block;
  font-size: 8px;
  height: 10px;
  line-height: 10px;
  overflow: hidden;
  pointer-events: none;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.tv-dom-widget-main-S1ZrBpKB {
  box-sizing: border-box;
  cursor: default;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.tv-dom-widget-main__anchor-S1ZrBpKB {
  height: 100%;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 310px;
}
.tv-dom-widget-main__row-S1ZrBpKB {
  height: 20px;
  position: relative;
}
.tv-dom-widget-main__value-S1ZrBpKB {
  border: 1px solid #f8f9fd;
  font-size: 12px;
  height: 19px;
  line-height: 15px;
  position: absolute;
  top: 1px;
}
html.theme-dark .tv-dom-widget-main__value-S1ZrBpKB {
  border-color: #363a45;
}
.tv-dom-widget-main__value--price-S1ZrBpKB {
  cursor: grab;
  height: 17px;
  left: 119px;
  padding: 2px 0 0;
  text-align: center;
  width: 70px;
}
.tv-dom-widget-main__value--highlighted-S1ZrBpKB {
  background: #f0f3fa;
}
html.theme-dark .tv-dom-widget-main__value--highlighted-S1ZrBpKB {
  background: #2a2e39;
}
.tv-dom-widget-main__value--long-position-S1ZrBpKB {
  background: #d8f0fa;
}
html.theme-dark .tv-dom-widget-main__value--long-position-S1ZrBpKB {
  background: #223d54;
}
.tv-dom-widget-main__value--short-position-S1ZrBpKB {
  background: #ffdbe1;
}
html.theme-dark .tv-dom-widget-main__value--short-position-S1ZrBpKB {
  background: #49283b;
}
.tv-dom-widget-main__value--buy-S1ZrBpKB {
  color: #6a6d78;
  height: 19px;
  left: 56px;
  text-align: center;
  width: 62px;
}
html.theme-dark .tv-dom-widget-main__value--buy-S1ZrBpKB {
  color: #868993;
}
@media (any-hover: hover) {
  .tv-dom-widget-main__value--buy-S1ZrBpKB:hover {
    border: 1px dashed #2962ff;
    border-radius: 2px;
    z-index: 2;
  }
  html.theme-dark .tv-dom-widget-main__value--buy-S1ZrBpKB:hover {
    border: 1px dashed #2962ff;
  }
}
.tv-dom-widget-main__value--buy-S1ZrBpKB:active {
  border: 1px solid #2962ff;
  border-radius: 2px;
  z-index: 2;
}
html.theme-dark .tv-dom-widget-main__value--buy-S1ZrBpKB:active {
  border: 1px solid #2962ff;
}
.tv-dom-widget-main__value--sell-S1ZrBpKB {
  color: #6a6d78;
  height: 19px;
  left: 190px;
  text-align: center;
  width: 62px;
}
html.theme-dark .tv-dom-widget-main__value--sell-S1ZrBpKB {
  color: #868993;
}
@media (any-hover: hover) {
  .tv-dom-widget-main__value--sell-S1ZrBpKB:hover {
    border: 1px dashed #f23645;
    border-radius: 2px;
    z-index: 2;
  }
  html.theme-dark .tv-dom-widget-main__value--sell-S1ZrBpKB:hover {
    border: 1px dashed #f23645;
  }
}
.tv-dom-widget-main__value--sell-S1ZrBpKB:active {
  border: 1px solid #f23645;
  border-radius: 2px;
  z-index: 2;
}
html.theme-dark .tv-dom-widget-main__value--sell-S1ZrBpKB:active {
  border: 1px solid #f23645;
}
.tv-dom-widget-main__value--orders-buy-S1ZrBpKB,
.tv-dom-widget-main__value--orders-sell-S1ZrBpKB {
  border: none;
  white-space: nowrap;
}
.tv-dom-widget-main__value--orders-buy-S1ZrBpKB {
  left: 0;
  text-align: left;
}
.tv-dom-widget-main__value--orders-sell-S1ZrBpKB {
  right: 0;
  text-align: right;
}
.tv-dom-widget-main__value--color-bid-S1ZrBpKB,
html.theme-dark .tv-dom-widget-main__value--color-bid-S1ZrBpKB {
  color: #2962ff;
}
.tv-dom-widget-main__value--color-ask-S1ZrBpKB,
html.theme-dark .tv-dom-widget-main__value--color-ask-S1ZrBpKB {
  color: #f23645;
}
.tv-dom-widget-main__label-S1ZrBpKB {
  background: none;
  background-color: #bbd9fb;
  border: none;
  display: inline-block;
  font-size: 8px;
  height: 21px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  visibility: hidden;
  width: 56px;
  z-index: 3;
}
html.theme-dark .tv-dom-widget-main__label-S1ZrBpKB {
  background-color: #2a2e39;
}
.tv-dom-widget-main__value--orders-buy-S1ZrBpKB
  .tv-dom-widget-main__label-S1ZrBpKB {
  left: 0;
  right: auto;
}
.tv-dom-widget-main__value--orders-buy-S1ZrBpKB
  .tv-dom-widget-main__label--active-S1ZrBpKB {
  background-color: #d8f0fa;
}
html.theme-dark
  .tv-dom-widget-main__value--orders-buy-S1ZrBpKB
  .tv-dom-widget-main__label--active-S1ZrBpKB {
  background-color: #223d54;
}
.tv-dom-widget-main__value--orders-sell-S1ZrBpKB
  .tv-dom-widget-main__label-S1ZrBpKB {
  left: auto;
  right: 0;
}
.tv-dom-widget-main__value--orders-sell-S1ZrBpKB
  .tv-dom-widget-main__label--active-S1ZrBpKB {
  background-color: #ffdbe1;
}
html.theme-dark
  .tv-dom-widget-main__value--orders-sell-S1ZrBpKB
  .tv-dom-widget-main__label--active-S1ZrBpKB {
  background-color: #49283b;
}
.tv-dom-widget-main__meter-S1ZrBpKB {
  height: 100%;
  position: absolute;
  top: 0;
  width: 0;
}
.tv-dom-widget-main__meter--buy-S1ZrBpKB {
  background-color: #e3effd;
  left: 0;
  position: absolute;
  transform-origin: 0 0;
}
html.theme-dark .tv-dom-widget-main__meter--buy-S1ZrBpKB {
  background-color: #132042;
}
.tv-dom-widget-main__meter--buy-active-S1ZrBpKB {
  background-color: #bbd9fb;
  transition: background-color .5s cubic-bezier(0.33, 1, 0.68, 1);
}
html.theme-dark .tv-dom-widget-main__meter--buy-active-S1ZrBpKB {
  background-color: #142e61;
}
.tv-dom-widget-main__meter--sell-S1ZrBpKB {
  background-color: #ffebec;
  position: absolute;
  right: 0;
  transform-origin: 100% 0;
}
html.theme-dark .tv-dom-widget-main__meter--sell-S1ZrBpKB {
  background-color: #331f20;
}
.tv-dom-widget-main__meter--sell-active-S1ZrBpKB {
  background-color: #fccbcd;
  transition: background-color .5s cubic-bezier(0.33, 1, 0.68, 1);
}
html.theme-dark .tv-dom-widget-main__meter--sell-active-S1ZrBpKB {
  background-color: #4d191d;
}
.tv-dom-widget-main__value-readout-S1ZrBpKB {
  left: 0;
  position: absolute;
  top: 2px;
  width: 100%;
}
.tv-dom-widget-main__offscreen-arrow-S1ZrBpKB {
  fill: #9db2bd80;
  height: 7px;
  left: 50%;
  margin: 0 0 0 -6px;
  pointer-events: none;
  position: absolute;
  width: 12px;
}
.tv-dom-widget-main__offscreen-arrow--higher-S1ZrBpKB {
  top: -3px;
}
.tv-dom-widget-main__offscreen-arrow--lower-S1ZrBpKB {
  bottom: -3px;
}
.tv-dom-widget-main__offscreen-arrow-S1ZrBpKB svg {
  display: block;
  height: 7px;
  width: 12px;
}
.tv-dom-widget-main__order-S1ZrBpKB {
  display: inline-block;
  height: 21px;
  position: relative;
  transition: width .1s, height .1s;
  vertical-align: top;
  width: 56px;
  z-index: 1;
}
.tv-dom-widget-main__order--collapsed-S1ZrBpKB {
  width: 2px;
}
@media (any-hover: hover) {
  .tv-dom-widget-main__value-S1ZrBpKB:hover
    .tv-dom-widget-main__order-S1ZrBpKB {
    height: 31px;
    transition: width .3s, height .3s;
    width: 56px;
    z-index: 2;
  }
}
.tv-dom-widget-main__drag-shield-S1ZrBpKB {
  background: #fff0;
  cursor: grabbing;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.tv-dom-widget-main__drag-shield--order-S1ZrBpKB {
  cursor: ns-resize;
}
.tv-dom-widget-main__hidden-S1ZrBpKB {
  display: none;
}
.headerWrapper-tEyqHGm0 {
  border-top: 1px solid #f0f3fa;
  height: 37px;
  margin-top: 16px;
  padding: 4px 0;
}
html.theme-dark .headerWrapper-tEyqHGm0 {
  border-top-color: #2a2e39;
}
.header-tEyqHGm0 {
  color: #6a6d78;
  display: flex;
  height: 27px;
  justify-content: space-between;
  padding: 11px 16px 0;
}
html.theme-dark .header-tEyqHGm0 {
  color: #868993;
}
@media (any-hover: hover) {
  .header-tEyqHGm0:hover {
    background: #f0f3fa;
  }
  html.theme-dark .header-tEyqHGm0:hover {
    background: #2a2e39;
  }
}
.customField-tEyqHGm0 {
  font-size: 14px;
  line-height: 22px;
  padding: 4px 16px 0;
}
.duration-tEyqHGm0 {
  padding: 16px;
}
.duration-tEyqHGm0:first-child {
  padding-top: 4px;
}
.arrow-tEyqHGm0 {
  color: #131722;
  height: 16px;
  width: 20px;
}
html.theme-dark .arrow-tEyqHGm0 {
  color: #d1d4dc;
}
.upperCase-tEyqHGm0 {
  text-transform: uppercase;
}
.textBlock-tEyqHGm0 {
  font-size: 11px;
  height: 16px;
  line-height: 16px;
}
.summaryLine-tEyqHGm0 {
  max-width: calc(100% - 20px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrapper-BpNh_MLZ {
  margin: 0 16px 8px;
}
.title-BpNh_MLZ {
  color: #6a6d78;
  display: flex;
  font-size: 14px;
  line-height: 22px;
}
html.theme-dark .title-BpNh_MLZ {
  color: #868993;
}
.wrapper-btWtGFgr {
  margin-bottom: 8px;
  padding: 0 16px;
}
.marketBlock-btWtGFgr {
  margin-bottom: 16px;
}
.tradingActionBlock-btWtGFgr {
  margin-bottom: 8px;
}
.container-btWtGFgr {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px 10px;
  transform: translateY(1px);
}
.row-btWtGFgr {
  display: flex;
  justify-content: space-between;
}
.button-btWtGFgr {
  align-items: center;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: default;
  flex: 1 1 50%;
  height: 26px;
  justify-content: center;
  max-width: 50%;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  transition-duration: .35s;
  transition-property: border-color, background-color, color;
  transition-timing-function: ease;
  white-space: nowrap;
}
.button-btWtGFgr + .button-btWtGFgr {
  margin-left: 8px;
}
.button-btWtGFgr:active {
  transform: translateY(1px);
}
.buttonOrdinary-btWtGFgr {
  background: none;
  border-color: #9598a1;
  color: #131722;
}
html.theme-dark .buttonOrdinary-btWtGFgr {
  border-color: #5d606b;
  color: #d1d4dc;
}
@media (any-hover: hover) {
  .buttonOrdinary-btWtGFgr:hover {
    background: #6a6d78;
    border-color: #6a6d78;
    color: #fff;
  }
  html.theme-dark .buttonOrdinary-btWtGFgr:hover {
    background: #868993;
    border-color: #868993;
    color: #fff;
  }
}
.buttonOrdinary-btWtGFgr:active {
  background: #434651;
  border-color: #434651;
  color: #fff;
}
html.theme-dark .buttonOrdinary-btWtGFgr:active {
  background: #434651;
  border-color: #434651;
  color: #fff;
}
.buttonOrdinary-btWtGFgr:disabled {
  background: #e0e3eb;
  border-color: #e0e3eb;
  color: #b2b5be;
  transform: translateY(0);
}
html.theme-dark .buttonOrdinary-btWtGFgr:disabled {
  background: #363a45;
  border-color: #363a45;
  color: #50535e;
}
.buttonBuy-btWtGFgr {
  background: #2962ff;
  border-color: #2962ff;
  color: #fff;
  height: 34px;
}
html.theme-dark .buttonBuy-btWtGFgr {
  background: #2962ff;
  border-color: #2962ff;
  color: #fff;
}
@media (any-hover: hover) {
  .buttonBuy-btWtGFgr:hover {
    background: #1e53e5;
    border-color: #1e53e5;
    color: #fff;
  }
  html.theme-dark .buttonBuy-btWtGFgr:hover {
    background: #1e53e5;
    border-color: #1e53e5;
    color: #fff;
  }
}
.buttonBuy-btWtGFgr:active {
  background: #1848cc;
  border-color: #1848cc;
  color: #fff;
}
html.theme-dark .buttonBuy-btWtGFgr:active {
  background: #1848cc;
  border-color: #1848cc;
  color: #fff;
}
.buttonSell-btWtGFgr {
  background: #f23645;
  border-color: #f23645;
  color: #fff;
  height: 34px;
}
html.theme-dark .buttonSell-btWtGFgr {
  background: #f23645;
  border-color: #f23645;
  color: #fff;
}
@media (any-hover: hover) {
  .buttonSell-btWtGFgr:hover {
    background: #cc2f3c;
    border-color: #cc2f3c;
    color: #fff;
  }
  html.theme-dark .buttonSell-btWtGFgr:hover {
    background: #cc2f3c;
    border-color: #cc2f3c;
    color: #fff;
  }
}
.buttonSell-btWtGFgr:active {
  background: #b22833;
  border-color: #b22833;
  color: #fff;
}
html.theme-dark .buttonSell-btWtGFgr:active {
  background: #b22833;
  border-color: #b22833;
  color: #fff;
}
.wrapper-j3GOYMat {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 0 16px;
  text-align: center;
}
.button-j3GOYMat {
  border: 1px solid;
  border-radius: 4px;
  display: inline-block;
  flex: 1;
  font-size: 12px;
  line-height: 24px;
  padding: .5px 0;
  text-align: center;
  transition-duration: .35s;
  transition-property: border-color, background-color, color;
  transition-timing-function: ease;
  vertical-align: top;
  white-space: nowrap;
}
.position-j3GOYMat {
  background: none;
  padding: 0;
}
.position-j3GOYMat:disabled {
  background-color: #e0e3eb;
  border-color: #e0e3eb;
  color: #b2b5be;
}
html.theme-dark .position-j3GOYMat:disabled {
  background-color: #363a45;
  border-color: #363a45;
  color: #50535e;
}
.buy-j3GOYMat {
  border-color: #2962ff;
  color: #2962ff;
}
html.theme-dark .buy-j3GOYMat {
  border-color: #2962ff;
  color: #2962ff;
}
@media (any-hover: hover) {
  .buy-j3GOYMat:hover {
    background: #1e53e5;
    border-color: #1e53e5;
    color: #fff;
  }
  html.theme-dark .buy-j3GOYMat:hover {
    background: #1e53e5;
    border-color: #1e53e5;
    color: #fff;
  }
}
.buy-j3GOYMat:active {
  background: #1848cc;
  border-color: #1848cc;
  color: #fff;
}
html.theme-dark .buy-j3GOYMat:active {
  background: #1848cc;
  border-color: #1848cc;
  color: #fff;
}
.sell-j3GOYMat {
  border-color: #f23645;
  color: #f23645;
}
html.theme-dark .sell-j3GOYMat {
  border-color: #f23645;
  color: #f23645;
}
@media (any-hover: hover) {
  .sell-j3GOYMat:hover {
    background: #cc2f3c;
    border-color: #cc2f3c;
    color: #fff;
  }
  html.theme-dark .sell-j3GOYMat:hover {
    background: #cc2f3c;
    border-color: #cc2f3c;
    color: #fff;
  }
}
.sell-j3GOYMat:active {
  background: #b22833;
  border-color: #b22833;
  color: #fff;
}
html.theme-dark .sell-j3GOYMat:active {
  background: #b22833;
  border-color: #b22833;
  color: #fff;
}
.pl-j3GOYMat {
  background: none;
  margin-left: 8px;
  padding: 0;
}
.pl-j3GOYMat:disabled {
  background-color: #f0f3fa;
  border-color: #f0f3fa;
  color: #b2b5be;
}
html.theme-dark .pl-j3GOYMat:disabled {
  background-color: #2a2e39;
  border-color: #2a2e39;
  color: #50535e;
}
.profit-j3GOYMat {
  border-color: #089981;
  color: #089981;
}
html.theme-dark .profit-j3GOYMat {
  border-color: #089981;
  color: #089981;
}
@media (any-hover: hover) {
  .profit-j3GOYMat:hover {
    background: #06806b;
    border-color: #06806b;
    color: #fff;
  }
  html.theme-dark .profit-j3GOYMat:hover {
    background: #06806b;
    border-color: #06806b;
    color: #fff;
  }
}
.profit-j3GOYMat:active {
  background: #056656;
  border-color: #056656;
  color: #fff;
}
html.theme-dark .profit-j3GOYMat:active {
  background: #056656;
  border-color: #056656;
  color: #fff;
}
.loss-j3GOYMat {
  border-color: #f23645;
  color: #f23645;
}
html.theme-dark .loss-j3GOYMat {
  border-color: #f23645;
  color: #f23645;
}
@media (any-hover: hover) {
  .loss-j3GOYMat:hover {
    background: #cc2f3c;
    border-color: #cc2f3c;
    color: #fff;
  }
  html.theme-dark .loss-j3GOYMat:hover {
    background: #cc2f3c;
    border-color: #cc2f3c;
    color: #fff;
  }
}
.loss-j3GOYMat:active {
  background: #b22833;
  border-color: #b22833;
  color: #fff;
}
html.theme-dark .loss-j3GOYMat:active {
  background: #b22833;
  border-color: #b22833;
  color: #fff;
}
.container-l6FVmx3S {
  width: 100%;
}
.tv-dom-panel-WJ5VG8Pz {
  background: #fff;
  box-sizing: border-box;
  float: left;
  height: 100%;
  min-width: 312px;
  position: relative;
  width: 100%;
  z-index: 0;
}
html.theme-dark .tv-dom-panel-WJ5VG8Pz {
  background: #131722;
}
.tv-dom-panel__header-WJ5VG8Pz {
  background: #f8f9fd;
  height: 15px;
  margin: 3px -2px 5px;
  padding: 10px 0 9px 11px;
}
html.theme-dark .tv-dom-panel__header-WJ5VG8Pz {
  background: #131722;
}
.tv-dom-panel__header-exchange-WJ5VG8Pz,
.tv-dom-panel__header-symbol-WJ5VG8Pz,
.tv-dom-panel__header-title-WJ5VG8Pz {
  color: #50535e;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
}
html.theme-dark .tv-dom-panel__header-exchange-WJ5VG8Pz,
html.theme-dark .tv-dom-panel__header-symbol-WJ5VG8Pz,
html.theme-dark .tv-dom-panel__header-title-WJ5VG8Pz {
  color: #d1d4dc;
}
.tv-dom-panel__header-close-WJ5VG8Pz {
  color: #434651;
  cursor: pointer;
  float: right;
  height: 13px;
  margin: -1px 7px 0;
  opacity: 0.5;
  padding: 2px;
  width: 13px;
}
html.theme-dark .tv-dom-panel__header-close-WJ5VG8Pz {
  color: #d1d4dc;
}
@media (any-hover: hover) {
  .tv-dom-panel__header-close-WJ5VG8Pz:hover {
    opacity: 1;
  }
}
.tv-dom-panel__header-close-WJ5VG8Pz svg {
  display: block;
  height: 13px;
  width: 13px;
}
.tv-dom-panel__header-warning-WJ5VG8Pz {
  background: #ff9800;
  border-radius: 100px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  height: 18px;
  line-height: 10px;
  margin: 0 5px;
  padding: 4px 9px;
  visibility: hidden;
  width: 22px;
}
.tv-dom-panel__header-warning--active-WJ5VG8Pz {
  visibility: visible;
}
.tv-dom-panel__content-WJ5VG8Pz {
  position: relative;
}
.tv-dom-panel__warning-WJ5VG8Pz {
  background: #fff;
  background-clip: padding-box;
  color: #6a6d78;
  font-style: italic;
  padding: 10px 11px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 10;
}
html.theme-dark .tv-dom-panel__warning-WJ5VG8Pz {
  background: #131722;
  color: #868993;
}
.tv-dom-panel__disabled-WJ5VG8Pz {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 20px;
  width: 100%;
}
.tv-dom-panel__disabled-warning-WJ5VG8Pz {
  margin: 10px;
  text-align: center;
}
.mainblock-WJ5VG8Pz {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.emptyStateImage-WJ5VG8Pz {
  background-image: url(sad-screen.d0d4634ec8d26161f6e1.svg);
  height: 120px;
  width: 120px;
}
html.theme-dark .emptyStateImage-WJ5VG8Pz {
  background-image: url(sad-screen-black.b56100c456e5742dd159.svg);
}
.header-WJ5VG8Pz {
  min-height: 48px;
}
.tv-dom-widget-nav-yruos59d {
  align-items: center;
  border: 1px solid #f8f9fd;
  border-left: none;
  border-right: none;
  display: flex;
  font-size: 13px;
  height: 34px;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 0 16px;
  white-space: nowrap;
}
html.theme-dark .tv-dom-widget-nav-yruos59d {
  border-color: #363a45;
}
.tv-dom-widget-nav__button-block-yruos59d {
  display: flex;
}
.tv-dom-widget-nav__button-block--price-yruos59d {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 196px;
}
.tv-dom-widget-nav__button-block--orders-yruos59d {
  color: #6a6d78;
}
html.theme-dark .tv-dom-widget-nav__button-block--orders-yruos59d {
  color: #868993;
}
.tv-dom-widget-nav__button-yruos59d {
  border-radius: 3px;
  height: 19px;
  text-align: center;
  transition: .2s;
  width: 23px;
}
.tv-dom-widget-nav__button--clear-ask-yruos59d,
.tv-dom-widget-nav__button--clear-bid-yruos59d {
  height: 9px;
  padding: 4px 6px;
  width: 9px;
}
.tv-dom-widget-nav__button--clear-ask-yruos59d svg,
.tv-dom-widget-nav__button--clear-bid-yruos59d svg {
  display: block;
  height: 9px;
  width: 9px;
}
.tv-dom-widget-nav__button--clear-ask-yruos59d {
  background: none;
  border: 1px solid #2962ff;
  color: #2962ff;
}
html.theme-dark .tv-dom-widget-nav__button--clear-ask-yruos59d {
  border-color: #2962ff;
  color: #2962ff;
}
@media (any-hover: hover) {
  .tv-dom-widget-nav__button--clear-ask-yruos59d:hover {
    background: #1e53e5;
    border-color: #1e53e5;
    color: #fff;
  }
  html.theme-dark .tv-dom-widget-nav__button--clear-ask-yruos59d:hover {
    background: #1e53e5;
    border-color: #1e53e5;
    color: #fff;
  }
}
.tv-dom-widget-nav__button--clear-ask-yruos59d:active {
  background: #1848cc;
  border-color: #1848cc;
  color: #fff;
}
html.theme-dark .tv-dom-widget-nav__button--clear-ask-yruos59d:active {
  background: #1848cc;
  border-color: #1848cc;
  color: #fff;
}
.tv-dom-widget-nav__button--clear-bid-yruos59d {
  background: none;
  border: 1px solid #f23645;
  color: #f23645;
}
html.theme-dark .tv-dom-widget-nav__button--clear-bid-yruos59d {
  border-color: #f23645;
  color: #f23645;
}
@media (any-hover: hover) {
  .tv-dom-widget-nav__button--clear-bid-yruos59d:hover {
    background: #cc2f3c;
    border-color: #cc2f3c;
    color: #fff;
  }
  html.theme-dark .tv-dom-widget-nav__button--clear-bid-yruos59d:hover {
    background: #cc2f3c;
    border-color: #cc2f3c;
    color: #fff;
  }
}
.tv-dom-widget-nav__button--clear-bid-yruos59d:active {
  background: #b22833;
  border-color: #b22833;
  color: #fff;
}
html.theme-dark .tv-dom-widget-nav__button--clear-bid-yruos59d:active {
  background: #b22833;
  border-color: #b22833;
  color: #fff;
}
.tv-dom-widget-nav__button--clear-ask-yruos59d.tv-dom-widget-nav__button--disabled-yruos59d,
.tv-dom-widget-nav__button--clear-bid-yruos59d.tv-dom-widget-nav__button--disabled-yruos59d {
  background: #e0e3eb;
  border: 1px solid #e0e3eb;
  color: #b2b5be;
  cursor: default;
}
html.theme-dark
  .tv-dom-widget-nav__button--clear-ask-yruos59d.tv-dom-widget-nav__button--disabled-yruos59d,
html.theme-dark
  .tv-dom-widget-nav__button--clear-bid-yruos59d.tv-dom-widget-nav__button--disabled-yruos59d {
  background: #363a45;
  border: 1px solid #363a45;
  color: #b2b5be;
}
.tv-dom-widget-nav__button--center-yruos59d {
  height: 17px;
  left: 12px;
  position: absolute;
  top: 8.5px;
  width: 16px;
}
.tv-dom-widget-nav__button--center-yruos59d svg {
  display: block;
  height: 17px;
  width: 16px;
}
.tv-dom-widget-nav_center-yruos59d {
  border-radius: 4px;
  color: #6a6d78;
  height: 34px;
  position: relative;
  width: 40px;
}
html.theme-dark .tv-dom-widget-nav_center-yruos59d {
  color: #868993;
}
@media (any-hover: hover) {
  .tv-dom-widget-nav_center-yruos59d:hover {
    color: #131722;
  }
  html.theme-dark .tv-dom-widget-nav_center-yruos59d:hover {
    color: #d1d4dc;
  }
}
.tv-dom-widget-nav_overall-volume-yruos59d {
  height: 20px;
  line-height: 19px;
  text-align: center;
  width: 64px;
}
.tv-dom-widget-nav_overall-volume--ask-yruos59d {
  background: #ffebec;
  color: #f23645;
}
html.theme-dark .tv-dom-widget-nav_overall-volume--ask-yruos59d {
  background: #331f20;
  color: #f23645;
}
.tv-dom-widget-nav_overall-volume--bid-yruos59d {
  background: #e3effd;
  color: #2962ff;
}
html.theme-dark .tv-dom-widget-nav_overall-volume--bid-yruos59d {
  background: #142e61;
  color: #2962ff;
}
.tv-dom-widget-nav_count-volume-yruos59d {
  height: 19px;
  line-height: 19px;
  margin: 0 2px;
  text-align: center;
  width: 22px;
}
.tv-dom-widget-nav__timer-yruos59d {
  fill: #ffc84a;
  height: 27px;
  left: 6.5px;
  pointer-events: none;
  position: absolute;
  top: 3.5px;
  width: 27px;
}
.tv-buttons-group {
  display: flex;
}
.tv-buttons-group--table-like + .tv-buttons-group--table-like {
  margin-top: -1px;
}
.tv-buttons-group--table-like .tv-buttons-group__option {
  border-radius: 0;
}
.tv-buttons-group--table-like .tv-buttons-group__option.i-active,
.tv-buttons-group--table-like .tv-buttons-group__option.i-active:active {
  position: relative;
}
@media (any-hover: hover) {
  .tv-buttons-group--table-like .tv-buttons-group__option.i-active:hover {
    position: relative;
  }
}
.tv-buttons-group--table-like:first-child
  .tv-buttons-group__option:first-child {
  border-radius: 2px 0 0 0;
}
.tv-buttons-group--table-like:first-child .tv-buttons-group__option:last-child {
  border-radius: 0 2px 0 0;
}
.tv-buttons-group--table-like:last-child .tv-buttons-group__option:first-child {
  border-radius: 0 0 0 2px;
}
.tv-buttons-group--table-like:last-child .tv-buttons-group__option:last-child {
  border-radius: 0 0 2px 0;
}
.tv-buttons-group__option {
  border: 1px solid #b2b5be;
  border-right: #b2b5be;
  box-sizing: border-box;
  color: #6a6d78;
  cursor: pointer;
  display: flex;
  flex: 1 1 0%;
  font-size: 14px;
  font-weight: 700;
  justify-content: center;
  line-height: 32px;
  overflow: hidden;
  text-decoration: none;
  transition: background-color .35s ease, border-color .35s ease, color .35s
    ease;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
}
html.theme-dark .tv-buttons-group__option {
  border-color: #363a45;
  color: #868993;
}
@media (any-hover: hover) {
  .tv-buttons-group__option:hover {
    background-color: #f2f2f2;
    transition-duration: 60ms;
  }
  html.theme-dark .tv-buttons-group__option:hover {
    background-color: #2a2e39;
  }
}
.tv-buttons-group__option:active {
  background-color: #ececec;
  transition-duration: 60ms;
}
html.theme-dark .tv-buttons-group__option:active {
  background-color: #2a2e39;
}
.tv-buttons-group__option:first-child {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.tv-buttons-group__option:last-child {
  border-bottom-right-radius: 2px;
  border-style: solid;
  border-top-right-radius: 2px;
  border-width: 1px;
}
.tv-buttons-group__option.i-active {
  border: 1px solid;
}
.tv-buttons-group__option.i-active + .tv-buttons-group__option {
  border-left: none;
}
.tv-buttons-group__option--content {
  overflow-x: hidden;
  text-align: center;
  text-overflow: ellipsis;
  width: 100%;
}
.tv-buttons-group__option--padding_normal {
  padding: 0 12px;
}
.tv-buttons-group__option--padding_small {
  padding: 0 6px;
}
.tv-buttons-group--primary .tv-buttons-group__option.i-active,
.tv-buttons-group--primary_ghost .tv-buttons-group__option.i-active {
  border-color: #2962ff;
}
.tv-buttons-group--primary .tv-buttons-group__option.i-active {
  background-color: #2962ff;
  color: #fff;
}
html.theme-dark .tv-buttons-group--primary .tv-buttons-group__option.i-active {
  color: #e3effd;
}
.tv-buttons-group--primary_ghost .tv-buttons-group__option.i-active {
  background-color: initial;
  color: #2962ff;
  font-weight: 400;
}
@media (any-hover: hover) {
  .tv-buttons-group--primary .tv-buttons-group__option.i-active:hover,
  .tv-buttons-group--primary_ghost .tv-buttons-group__option.i-active:hover {
    background-color: #1e53e5;
    border-color: #1e53e5;
    color: #fff;
  }
  html.theme-dark
    .tv-buttons-group--primary
    .tv-buttons-group__option.i-active:hover,
  html.theme-dark
    .tv-buttons-group--primary_ghost
    .tv-buttons-group__option.i-active:hover {
    color: #e3effd;
  }
}
.tv-buttons-group--primary .tv-buttons-group__option.i-active:active,
.tv-buttons-group--primary_ghost .tv-buttons-group__option.i-active:active {
  background-color: #1848cc;
  border-color: #1848cc;
  color: #fff;
}
html.theme-dark
  .tv-buttons-group--primary
  .tv-buttons-group__option.i-active:active,
html.theme-dark
  .tv-buttons-group--primary_ghost
  .tv-buttons-group__option.i-active:active {
  color: #e3effd;
}
.tv-buttons-group--primary
  .tv-buttons-group__option.i-active
  + .tv-buttons-group__option,
.tv-buttons-group--primary_ghost
  .tv-buttons-group__option.i-active
  + .tv-buttons-group__option {
  border-left-color: #2962ff;
}
@media (any-hover: hover) {
  .tv-buttons-group--primary
    .tv-buttons-group__option.i-active:hover
    + .tv-buttons-group__option,
  .tv-buttons-group--primary_ghost
    .tv-buttons-group__option.i-active:hover
    + .tv-buttons-group__option {
    border-left-color: #1e53e5;
  }
}
.tv-buttons-group--primary
  .tv-buttons-group__option.i-active:active
  + .tv-buttons-group__option,
.tv-buttons-group--primary_ghost
  .tv-buttons-group__option.i-active:active
  + .tv-buttons-group__option {
  border-left-color: #1848cc;
}
.tv-buttons-group--primary_ghost .tv-buttons-group__option {
  border-color: #e0e3eb;
  font-weight: 400;
}
@media (any-hover: hover) {
  .tv-buttons-group--primary_ghost .tv-buttons-group__option:hover {
    border-bottom-color: #c1c4cd;
    border-top-color: #c1c4cd;
  }
  html.theme-dark
    .tv-buttons-group--primary_ghost
    .tv-buttons-group__option:hover {
    border-bottom-color: #50535e;
    border-top-color: #50535e;
  }
  .tv-buttons-group--primary_ghost .tv-buttons-group__option:hover:last-child {
    border-right-color: #c1c4cd;
  }
  html.theme-dark
    .tv-buttons-group--primary_ghost
    .tv-buttons-group__option:hover:last-child {
    border-right-color: #50535e;
  }
  .tv-buttons-group--primary_ghost .tv-buttons-group__option:hover:first-child {
    border-left-color: #c1c4cd;
  }
  html.theme-dark
    .tv-buttons-group--primary_ghost
    .tv-buttons-group__option:hover:first-child {
    border-left-color: #50535e;
  }
  .tv-buttons-group--primary_ghost
    .tv-buttons-group__option.i-active:hover:last-child {
    border-right-color: #1e53e5;
  }
  .tv-buttons-group--primary_ghost
    .tv-buttons-group__option.i-active:hover:first-child {
    border-left-color: #1e53e5;
  }
}
.tv-buttons-group__option.i-disabled,
.tv-buttons-group__option.i-disabled:active {
  background-color: #fff;
  border-bottom-color: #e0e3eb;
  border-top-color: #e0e3eb;
  color: #e0e3eb;
  cursor: default;
}
@media (any-hover: hover) {
  .tv-buttons-group__option.i-disabled:hover {
    background-color: #fff;
    border-bottom-color: #e0e3eb;
    border-top-color: #e0e3eb;
    color: #e0e3eb;
    cursor: default;
  }
}
html.theme-dark .tv-buttons-group__option.i-disabled,
html.theme-dark .tv-buttons-group__option.i-disabled:active {
  color: #2a2e39;
}
@media (any-hover: hover) {
  html.theme-dark .tv-buttons-group__option.i-disabled:hover {
    color: #2a2e39;
  }
}
html.theme-dark .tv-buttons-group__option.i-disabled,
html.theme-dark .tv-buttons-group__option.i-disabled:active {
  border-bottom-color: #2a2e39;
}
@media (any-hover: hover) {
  html.theme-dark .tv-buttons-group__option.i-disabled:hover {
    border-bottom-color: #2a2e39;
  }
}
html.theme-dark .tv-buttons-group__option.i-disabled,
html.theme-dark .tv-buttons-group__option.i-disabled:active {
  border-top-color: #2a2e39;
}
@media (any-hover: hover) {
  html.theme-dark .tv-buttons-group__option.i-disabled:hover {
    border-top-color: #2a2e39;
  }
}
html.theme-dark .tv-buttons-group__option.i-disabled,
html.theme-dark .tv-buttons-group__option.i-disabled:active {
  background-color: #1e222d;
}
@media (any-hover: hover) {
  html.theme-dark .tv-buttons-group__option.i-disabled:hover {
    background-color: #1e222d;
  }
}
.tv-buttons-group__option.i-disabled + .tv-buttons-group__option.i-disabled {
  border-left-color: #e0e3eb;
}
html.theme-dark
  .tv-buttons-group__option.i-disabled
  + .tv-buttons-group__option.i-disabled {
  border-left-color: #2a2e39;
}
.tv-buttons-group__option:last-child.i-disabled {
  border-right-color: #e0e3eb;
}
@media (any-hover: hover) {
  .tv-buttons-group__option:last-child.i-disabled:hover {
    border-right-color: #e0e3eb;
  }
}
html.theme-dark .tv-buttons-group__option:last-child.i-disabled {
  border-right-color: #2a2e39;
}
@media (any-hover: hover) {
  html.theme-dark .tv-buttons-group__option:last-child.i-disabled:hover {
    border-right-color: #2a2e39;
  }
}
.tv-buttons-group__option:first-child.i-disabled {
  border-left-color: #e0e3eb;
}
@media (any-hover: hover) {
  .tv-buttons-group__option:first-child.i-disabled:hover {
    border-left-color: #e0e3eb;
  }
}
html.theme-dark .tv-buttons-group__option:first-child.i-disabled {
  border-left-color: #2a2e39;
}
@media (any-hover: hover) {
  html.theme-dark .tv-buttons-group__option:first-child.i-disabled:hover {
    border-left-color: #2a2e39;
  }
}
.tv-buttons-group.i-disabled .tv-buttons-group__option,
.tv-buttons-group.i-disabled .tv-buttons-group__option.i-active,
.tv-buttons-group.i-disabled .tv-buttons-group__option.i-active:active,
.tv-buttons-group.i-disabled .tv-buttons-group__option:active {
  background-color: #fff;
  border-color: #e0e3eb;
  color: #e0e3eb;
  cursor: default;
}
@media (any-hover: hover) {
  .tv-buttons-group.i-disabled .tv-buttons-group__option.i-active:hover,
  .tv-buttons-group.i-disabled .tv-buttons-group__option:hover {
    background-color: #fff;
    border-color: #e0e3eb;
    color: #e0e3eb;
    cursor: default;
  }
}
html.theme-dark .tv-buttons-group.i-disabled .tv-buttons-group__option,
html.theme-dark .tv-buttons-group.i-disabled .tv-buttons-group__option.i-active,
html.theme-dark
  .tv-buttons-group.i-disabled
  .tv-buttons-group__option.i-active:active,
html.theme-dark .tv-buttons-group.i-disabled .tv-buttons-group__option:active {
  color: #2a2e39;
}
@media (any-hover: hover) {
  html.theme-dark
    .tv-buttons-group.i-disabled
    .tv-buttons-group__option.i-active:hover,
  html.theme-dark .tv-buttons-group.i-disabled .tv-buttons-group__option:hover {
    color: #2a2e39;
  }
}
html.theme-dark .tv-buttons-group.i-disabled .tv-buttons-group__option,
html.theme-dark .tv-buttons-group.i-disabled .tv-buttons-group__option.i-active,
html.theme-dark
  .tv-buttons-group.i-disabled
  .tv-buttons-group__option.i-active:active,
html.theme-dark .tv-buttons-group.i-disabled .tv-buttons-group__option:active {
  border-color: #2a2e39;
}
@media (any-hover: hover) {
  html.theme-dark
    .tv-buttons-group.i-disabled
    .tv-buttons-group__option.i-active:hover,
  html.theme-dark .tv-buttons-group.i-disabled .tv-buttons-group__option:hover {
    border-color: #2a2e39;
  }
}
html.theme-dark .tv-buttons-group.i-disabled .tv-buttons-group__option,
html.theme-dark .tv-buttons-group.i-disabled .tv-buttons-group__option.i-active,
html.theme-dark
  .tv-buttons-group.i-disabled
  .tv-buttons-group__option.i-active:active,
html.theme-dark .tv-buttons-group.i-disabled .tv-buttons-group__option:active {
  background-color: #1e222d;
}
@media (any-hover: hover) {
  html.theme-dark
    .tv-buttons-group.i-disabled
    .tv-buttons-group__option.i-active:hover,
  html.theme-dark .tv-buttons-group.i-disabled .tv-buttons-group__option:hover {
    background-color: #1e222d;
  }
}
.tv-buttons-group.i-disabled
  .tv-buttons-group__option.i-active
  + .tv-buttons-group__option,
.tv-buttons-group.i-disabled
  .tv-buttons-group__option.i-active:active
  + .tv-buttons-group__option {
  background-color: #fff;
  border-color: #e0e3eb;
  color: #e0e3eb;
  cursor: default;
}
@media (any-hover: hover) {
  .tv-buttons-group.i-disabled
    .tv-buttons-group__option.i-active:hover
    + .tv-buttons-group__option {
    background-color: #fff;
    border-color: #e0e3eb;
    color: #e0e3eb;
    cursor: default;
  }
}
html.theme-dark
  .tv-buttons-group.i-disabled
  .tv-buttons-group__option.i-active
  + .tv-buttons-group__option,
html.theme-dark
  .tv-buttons-group.i-disabled
  .tv-buttons-group__option.i-active:active
  + .tv-buttons-group__option {
  color: #2a2e39;
}
@media (any-hover: hover) {
  html.theme-dark
    .tv-buttons-group.i-disabled
    .tv-buttons-group__option.i-active:hover
    + .tv-buttons-group__option {
    color: #2a2e39;
  }
}
html.theme-dark
  .tv-buttons-group.i-disabled
  .tv-buttons-group__option.i-active
  + .tv-buttons-group__option,
html.theme-dark
  .tv-buttons-group.i-disabled
  .tv-buttons-group__option.i-active:active
  + .tv-buttons-group__option {
  border-color: #2a2e39;
}
@media (any-hover: hover) {
  html.theme-dark
    .tv-buttons-group.i-disabled
    .tv-buttons-group__option.i-active:hover
    + .tv-buttons-group__option {
    border-color: #2a2e39;
  }
}
html.theme-dark
  .tv-buttons-group.i-disabled
  .tv-buttons-group__option.i-active
  + .tv-buttons-group__option,
html.theme-dark
  .tv-buttons-group.i-disabled
  .tv-buttons-group__option.i-active:active
  + .tv-buttons-group__option {
  background-color: #1e222d;
}
@media (any-hover: hover) {
  html.theme-dark
    .tv-buttons-group.i-disabled
    .tv-buttons-group__option.i-active:hover
    + .tv-buttons-group__option {
    background-color: #1e222d;
  }
}
.tv-buttons-group--readonly .tv-buttons-group__option {
  background-color: #fff;
  border-color: #b2b5be;
  color: #b2b5be;
  cursor: text;
  -webkit-user-select: text;
  user-select: text;
}
html.theme-dark .tv-buttons-group--readonly .tv-buttons-group__option {
  background-color: #1e222d;
}
.tv-buttons-group--readonly .tv-buttons-group__option.i-active {
  background-color: #f2f2f2;
  border: 1px solid #c1c4cd;
  color: #6a6d78;
  transition: background-color .35s ease, border-color .35s ease, color .35s
    ease;
}
html.theme-dark .tv-buttons-group--readonly .tv-buttons-group__option.i-active {
  background-color: #2a2e39;
  border: 1px solid #50535e;
  color: #868993;
}
@media (any-hover: hover) {
  .tv-buttons-group--readonly .tv-buttons-group__option.i-active:hover {
    background-color: #f2f2f2;
    border-color: #c1c4cd;
    color: #6a6d78;
  }
  html.theme-dark
    .tv-buttons-group--readonly
    .tv-buttons-group__option.i-active:hover {
    background-color: #2a2e39;
    border-color: #50535e;
    color: #868993;
  }
  .tv-buttons-group--readonly
    .tv-buttons-group__option.i-active:hover:first-child {
    border-left-color: #c1c4cd;
  }
  html.theme-dark
    .tv-buttons-group--readonly
    .tv-buttons-group__option.i-active:hover:first-child {
    border-left-color: #50535e;
  }
}
.tv-buttons-group--size-small .tv-buttons-group__option {
  font-size: 13px;
  line-height: 25px;
}
.upperBlock-pOOE9kBn {
  flex-grow: 1;
  position: relative;
}
.bottomBlock-pOOE9kBn {
  overflow: hidden;
}
