.opacity-EnWts7Xu {
  align-items: center;
  display: flex;
}
.opacitySlider-EnWts7Xu {
  background-color: var(--themed-color-opacity-bg, #fff);
  background-image: url(opacity-pattern.4d8fbb552dde3db26f4a.svg);
  background-position: 1px;
  border-radius: 5px;
  flex: 1 0 auto;
  height: 10px;
  position: relative;
}
html.theme-dark .opacitySlider-EnWts7Xu {
  background-color: var(--themed-color-opacity-bg, #000);
}
.opacitySliderGradient-EnWts7Xu {
  background-color: initial;
  background-image: linear-gradient(90deg, #0000, currentColor);
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  color: inherit;
  display: block;
  height: 100%;
  width: 100%;
}
.pointer-EnWts7Xu {
  background-color: initial;
  background-color: var(--themed-color-container-fill-primary-inverse, #fff);
  border: 2px solid var(--themed-color-border-primary-neutral-extra-heavy, #000);
  border-radius: 50%;
  box-shadow: 0 1px 2px #00000080;
  box-sizing: border-box;
  height: 12px;
  margin: -1px 0 0;
  position: absolute;
  transition: left .1s, top .1s;
  width: 12px;
}
html.theme-dark .pointer-EnWts7Xu {
  background-color: var(--themed-color-container-fill-primary-inverse, #000);
  border: 2px solid var(--themed-color-border-primary-neutral-extra-heavy, #fff);
}
.pointer-EnWts7Xu.dragged-EnWts7Xu {
  transition: left 0s;
}
.opacityPointerWrap-EnWts7Xu {
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - 12px);
}
.opacityInputWrap-EnWts7Xu {
  align-items: center;
  color: var(--themed-color-input-text, #1a1a1a);
  display: flex;
  position: relative;
}
html.theme-dark .opacityInputWrap-EnWts7Xu {
  color: var(--themed-color-input-text, #dbdbdb);
}
.opacityInput-EnWts7Xu {
  background-color: initial;
  border: 1px solid var(--themed-color-input-border, #dbdbdb);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  height: 26px;
  line-height: 24px;
  margin-left: 8px;
  padding: 0 14px 0 5px;
  text-align: right;
  width: 47px;
}
html.theme-dark .opacityInput-EnWts7Xu {
  border: 1px solid var(--themed-color-input-border, #575757);
}
.opacityInput-EnWts7Xu:focus,
html.theme-dark .opacityInput-EnWts7Xu:focus {
  border-color: var(--themed-color-brand, #2962ff);
}
.opacityInputPercent-EnWts7Xu {
  left: 40px;
  pointer-events: none;
  position: absolute;
  text-align: right;
  top: 5px;
}
.accessible-EnWts7Xu {
  outline: none;
  overflow: visible;
  position: relative;
}
.accessible-EnWts7Xu:focus {
  outline: none;
}
.accessible-EnWts7Xu:focus-visible {
  outline: none;
}
.accessible-EnWts7Xu:after {
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  content: "";
  display: none;
  height: calc(100% + 8px);
  left: -4px;
  pointer-events: none;
  position: absolute;
  top: -4px;
  width: calc(100% + 8px);
  z-index: 1;
}
.accessible-EnWts7Xu:focus:after {
  display: block;
}
.accessible-EnWts7Xu:focus-visible:after {
  display: block;
}
.accessible-EnWts7Xu:focus:not(:focus-visible):after {
  display: none;
}
.accessible-EnWts7Xu:after {
  border-color: #2962ff;
  border-radius: 6px;
}
