.scrollable-uT4IUFMG {
  -webkit-overflow-scrolling: touch;
  flex: 1 1 auto;
  min-height: 145px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: #9598a1 #0000;
  scrollbar-width: thin;
}
html.theme-dark .scrollable-uT4IUFMG {
  scrollbar-color: #363a45 #0000;
}
@media screen and (max-height: 290px) {
  .scrollable-uT4IUFMG {
    min-height: auto;
  }
}
.scrollable-uT4IUFMG::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.scrollable-uT4IUFMG::-webkit-scrollbar-thumb {
  background-color: #9598a1;
  border: 1px solid #f0f3fa;
  border-radius: 3px;
}
html.theme-dark .scrollable-uT4IUFMG::-webkit-scrollbar-thumb {
  background-color: #363a45;
  border-color: #1e222d;
}
.scrollable-uT4IUFMG::-webkit-scrollbar-track {
  background-color: initial;
  border-radius: 3px;
}
.scrollable-uT4IUFMG::-webkit-scrollbar-corner {
  display: none;
}
.content-uT4IUFMG {
  border-color: currentcolor #e0e3eb #e0e3eb;
  border-top: 1px solid #e0e3eb;
  box-sizing: border-box;
  flex: 1 1 auto;
  padding: 24px 20px;
}
html.theme-dark .content-uT4IUFMG {
  border-color: #434651;
}
.content-uT4IUFMG .row-uT4IUFMG {
  align-items: center;
  color: #131722;
  display: flex;
  margin-top: 16px;
}
html.theme-dark .content-uT4IUFMG .row-uT4IUFMG {
  color: #d1d4dc;
}
.content-uT4IUFMG .row-uT4IUFMG:first-child {
  margin-top: 0;
}
.content-uT4IUFMG .row-uT4IUFMG .title-uT4IUFMG {
  display: flex;
  flex: none;
  line-height: 21px;
  margin-right: 20px;
  width: 80px;
  word-break: break-word;
}
.content-uT4IUFMG .row-uT4IUFMG .control-uT4IUFMG {
  line-height: 21px;
  width: 100px;
}
