.widgetbar-wrap {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.widgetbar-place .widgetbar-wrap {
  position: fixed;
  z-index: 15;
}
.widgetbar-hider {
  bottom: 58px;
  display: block;
  left: -3px;
  position: absolute;
  z-index: 10;
}
.widgetbar-hider--closed {
  left: -4px;
}
.widgetbar-handle {
  background: #0000;
  cursor: ew-resize;
  height: 100%;
  left: -3px;
  position: absolute;
  top: 0;
  touch-action: none;
  width: 5px;
}
html.feature-mobiletouch .widgetbar-handle {
  left: -8px;
  width: 15px;
}
.widgetbar-tabs {
  background-color: var(--tv-color-pane-background, #fff);
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
}
html.theme-dark .widgetbar-tabs {
  background-color: var(--tv-color-pane-background, #131722);
}
.layout-with-border-radius
  .layout__area--right:not(.no-border-top-left-radius)
  .widgetbar-pages,
.layout-with-border-radius
  .layout__area--right:not(.no-border-top-left-radius)
  .widgetbar-widget:first-child,
.layout-with-border-radius
  .layout__area--right:not(.no-border-top-left-radius):has(
    .widgetbar-pages.hidden
  )
  .widgetbar-tabs {
  border-top-left-radius: 4px;
}
.widgetbar-pages,
.widgetbar-pages-no-tabs {
  background-color: #fff;
  border-bottom-color: #e0e3eb;
  border-left: 1px solid #e0e3eb;
  border-right: 1px solid #e0e3eb;
  border-top-color: #e0e3eb;
  height: 100%;
  position: absolute;
  right: 45px;
  top: 0;
}
html.theme-dark .widgetbar-pages,
html.theme-dark .widgetbar-pages-no-tabs {
  background-color: #131722;
  border-color: #2a2e39;
}
.widgetbar-pages-no-tabs {
  left: 0;
}
.widgetbar-pages.hidden {
  border-right: none !important;
}
.widgetbar-pages.hidden .widgetbar-pagescontent {
  display: none;
}
.widgetbar-pagescontent {
  height: 100%;
  overflow: hidden;
}
.widgetbar-page {
  display: none;
  height: 100%;
}
.widgetbar-page.active {
  display: block;
}
.widgetbar-widget {
  background-color: #fff;
  position: relative;
}
html.theme-dark .widgetbar-widget {
  background-color: #131722;
}
.widgetbar-widgetheader {
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e0e3eb;
  box-sizing: border-box;
  contain: strict;
  cursor: default;
  display: flex;
  height: 48px;
  justify-content: space-between;
  margin: 0;
  padding: 0 16px;
  width: 100%;
}
html.theme-dark .widgetbar-widgetheader {
  background-color: #131722;
  border-bottom: 1px solid #363a45;
}
.widgetbar-headerspace {
  display: flex;
  margin-right: -8px;
  padding: 1px 2px 0 0;
  position: relative;
}
.widgetbar-widgetheader-icon {
  float: left;
  margin: 7px 0 0 10px;
}
.widgetbar-widgetbody {
  contain: strict;
  overflow: hidden;
  position: relative;
}
.widgetbar-widgettitle {
  color: #131722;
  font-size: 14px;
  font-weight: 590;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html.theme-dark .widgetbar-widgettitle {
  color: #d1d4dc;
}
.widgetbar-widgethandle {
  background: #0000;
  display: none;
  height: 5px;
  left: 0;
  position: absolute;
  top: -3px;
  touch-action: none;
  width: 100%;
}
html.feature-mobiletouch .widgetbar-widgethandle {
  height: 15px;
  top: -8px;
}
.widgetbar-page.widget-resize-mode,
.widgetbar-page.widget-resize-mode *,
.widgetbar-widgethandle {
  cursor: ns-resize;
}
.widgetbar-widget + .widgetbar-widget .widgetbar-widgethandle {
  display: block;
}
.widgetbar-headerspace .button {
  fill: currentColor;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  color: #131722;
  display: flex;
  float: left;
  font-size: 12px;
  height: 34px;
  justify-content: center;
  line-height: 15px;
  margin-left: 5px;
  position: relative;
  text-align: center;
  width: 34px;
}
html.theme-dark .widgetbar-headerspace .button {
  color: #d1d4dc;
}
.widgetbar-headerspace .button.active,
.widgetbar-headerspace .button:active {
  background-color: #f0f3fa;
  transform: scale(1);
}
@media (any-hover: hover) {
  .widgetbar-headerspace .button:hover {
    background-color: #f0f3fa;
    transform: scale(1);
  }
}
html.theme-dark .widgetbar-headerspace .button.active,
html.theme-dark .widgetbar-headerspace .button:active {
  background-color: #2a2e39;
}
@media (any-hover: hover) {
  html.theme-dark .widgetbar-headerspace .button:hover {
    background-color: #2a2e39;
  }
}
.widgetbar-headerspace .button.i-loading {
  background-color: #2962ff;
  border-color: #2962ff;
  pointer-events: none;
}
html.theme-dark .widgetbar-headerspace .button.i-loading {
  background-color: #2962ff;
  border-color: #2962ff;
}
@keyframes tv-pulse-animation-button {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(2.5);
  }
}
.widgetbar-headerspace .button.i-loading:after {
  animation-duration: 1.05s;
  animation-iteration-count: infinite;
  animation-name: tv-pulse-animation-button;
  animation-timing-function: cubic-bezier(0.33, 0, 0.11, 1);
  border: 1px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 10px;
  left: 50%;
  margin: -5px 0 0 -5px;
  position: absolute;
  top: 50%;
  width: 10px;
}
html.theme-dark .widgetbar-headerspace .button.i-loading:after {
  border: 1px solid #d1d4dc;
}
.widgetbar-headerspace .button.i-loading svg {
  opacity: 0;
}
.widgetbar-widget.widget-X9EuSe_t {
  border-top: 4px solid #e0e3eb;
  margin-bottom: 0;
}
html.theme-dark .widgetbar-widget.widget-X9EuSe_t {
  border-top-color: #2a2e39;
}
.widgetbar-widget.widget-X9EuSe_t:first-child {
  border-top: none;
}
.widgetbar-widget.widget-X9EuSe_t:last-child {
  box-shadow: none;
}
.widgetHeader-X9EuSe_t {
  align-items: center;
  cursor: default;
  display: flex;
  height: 48px;
  margin: 0;
  padding: 0 16px;
}
.widgetHeader-X9EuSe_t .widgetTitle-X9EuSe_t {
  color: #131722;
  font-size: 14px;
  font-weight: 600;
  height: auto;
  line-height: 28px;
  white-space: nowrap;
}
html.theme-dark .widgetHeader-X9EuSe_t .widgetTitle-X9EuSe_t {
  color: #d1d4dc;
}
.widgetHeader-X9EuSe_t .widgetTitle-X9EuSe_t.widgetbar-widgettitle {
  padding-left: 0;
}
.widgetHeader-X9EuSe_t .headerSpace-X9EuSe_t {
  margin-left: auto;
}
.button-c8sm3pCb {
  --ui-lib-nav-button-color-bg: var(--tv-color-pane-background, #fff);
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  height: 45px;
  justify-content: center;
  width: 100%;
}
html.theme-dark .button-c8sm3pCb {
  --ui-lib-nav-button-color-bg: var(--tv-color-pane-background, #131722);
}
.separator-gZVyfVJP {
  align-self: stretch;
  background-color: var(--tv-color-toolbar-divider-background, #e0e3eb);
  flex: 0 0 auto;
  height: 1px;
  margin: 6px;
}
html.theme-dark .separator-gZVyfVJP {
  background-color: var(--tv-color-toolbar-divider-background, #434651);
}
.filler-GfsAWtWz {
  flex: 1 1 100%;
  min-height: 16px;
  width: 100%;
}
.counter-napy2vLF {
  align-items: center;
  background-clip: padding-box;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  padding: 3px 4px;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: bottom;
}
.size-xxxsmall-napy2vLF {
  border-radius: 3px;
  height: 6px;
  min-width: 6px;
  padding: 0;
}
.size-xxsmall-napy2vLF {
  border-radius: 5px;
  height: 10px;
  min-width: 10px;
  padding: 0;
}
.size-xsmall-napy2vLF {
  font-feature-settings: "tnum" on, "lnum" on;
  --ui-lib-typography-line-height: 14px;
  --ui-lib-typography-font-size: 10px;
  border-radius: 7px;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 500;
  height: 14px;
  line-height: var(--ui-lib-typography-line-height);
  min-width: 14px;
}
.size-small-napy2vLF {
  border-radius: 8px;
  height: 16px;
  min-width: 16px;
}
.size-medium-napy2vLF,
.size-small-napy2vLF {
  font-feature-settings: "tnum" on, "lnum" on;
  --ui-lib-typography-line-height: 16px;
  --ui-lib-typography-font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-lib-typography-line-height);
}
.size-medium-napy2vLF {
  border-radius: 9px;
  height: 18px;
  min-width: 18px;
}
.size-large-napy2vLF {
  font-feature-settings: "tnum" on, "lnum" on;
  border-radius: 10px;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  min-width: 20px;
}
.size-large-napy2vLF,
.size-xlarge-napy2vLF {
  --ui-lib-typography-line-height: 18px;
  --ui-lib-typography-font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  line-height: var(--ui-lib-typography-line-height);
}
.size-xlarge-napy2vLF {
  font-feature-settings: "tnum" on, "lnum" on;
  border-radius: 12px;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 500;
  height: 24px;
  min-width: 24px;
}
.color-danger-napy2vLF {
  color: #fff;
}
.color-danger-napy2vLF,
html.theme-dark .color-danger-napy2vLF {
  background-color: #f23645;
}
html.theme-dark .color-danger-napy2vLF {
  color: #fff;
}
.color-accent-napy2vLF {
  color: #fff;
}
.color-accent-napy2vLF,
html.theme-dark .color-accent-napy2vLF {
  background-color: #2962ff;
}
html.theme-dark .color-accent-napy2vLF {
  color: #fff;
}
.color-accent-light-napy2vLF {
  background-color: #e3effd;
  color: #1e53e5;
}
html.theme-dark .color-accent-light-napy2vLF {
  background-color: #142e61;
  color: #bbd9fb;
}
.color-neutral-bold-napy2vLF {
  background-color: #000;
  color: #fff;
}
html.theme-dark .color-neutral-bold-napy2vLF {
  background-color: #fff;
  color: #000;
}
.color-neutral-napy2vLF {
  background-color: #f0f3fa;
  color: #131722;
}
html.theme-dark .color-neutral-napy2vLF {
  background-color: #2a2e39;
  color: #d1d4dc;
}
.borderColor-primary-napy2vLF {
  outline: 2px solid #fff;
}
html.theme-dark .borderColor-primary-napy2vLF {
  outline: 2px solid #000;
}
.borderColor-secondary-napy2vLF {
  outline: 2px solid #fff;
}
html.theme-dark .borderColor-secondary-napy2vLF {
  outline: 2px solid #131722;
}
.borderColor-tertiary-napy2vLF {
  outline: 2px solid #fff;
}
html.theme-dark .borderColor-tertiary-napy2vLF {
  outline: 2px solid #1e222d;
}
.button-I_wb5FjE {
  all: unset;
  align-items: center;
  color: var(--tv-color-toolbar-button-text, #131722);
  display: flex;
  flex: 0 0 auto;
  height: 44px;
  justify-content: center;
  position: relative;
  width: 44px;
  z-index: 0;
}
html.theme-dark .button-I_wb5FjE {
  color: var(--tv-color-toolbar-button-text, #d1d4dc);
}
.button-I_wb5FjE:before {
  border-radius: 8px;
  bottom: 0;
  content: "";
  display: block;
  height: 38px;
  left: 0;
  margin: auto;
  outline: 2px none #2962ff;
  position: absolute;
  right: 0;
  top: 0;
  width: 38px;
  z-index: -1;
}
.button-I_wb5FjE + .button-I_wb5FjE {
  margin-top: 2px;
}
.button-I_wb5FjE.hover-I_wb5FjE,
.button-I_wb5FjE:active {
  color: var(--tv-color-toolbar-button-text-hover, #131722);
}
@media (any-hover: hover) {
  .button-I_wb5FjE:hover {
    color: var(--tv-color-toolbar-button-text-hover, #131722);
  }
}
html.theme-dark .button-I_wb5FjE.hover-I_wb5FjE,
html.theme-dark .button-I_wb5FjE:active {
  color: var(--tv-color-toolbar-button-text-hover, #d1d4dc);
}
@media (any-hover: hover) {
  html.theme-dark .button-I_wb5FjE:hover {
    color: var(--tv-color-toolbar-button-text-hover, #d1d4dc);
  }
}
.button-I_wb5FjE.clicked-I_wb5FjE,
.button-I_wb5FjE:active {
  color: var(
    --tv-color-toolbar-button-text-clicked,
    var(--tv-color-toolbar-button-text-hover, #131722)
  );
}
html.theme-dark .button-I_wb5FjE.clicked-I_wb5FjE,
html.theme-dark .button-I_wb5FjE:active {
  color: var(
    --tv-color-toolbar-button-text-clicked,
    var(--tv-color-toolbar-button-text-hover, #d1d4dc)
  );
}
.button-I_wb5FjE.hover-I_wb5FjE .hoverMask-I_wb5FjE {
  background-color: var(--tv-color-toolbar-button-background-hover, #f0f3fa);
}
@media (any-hover: hover) {
  .button-I_wb5FjE:hover .hoverMask-I_wb5FjE {
    background-color: var(--tv-color-toolbar-button-background-hover, #f0f3fa);
  }
}
html.theme-dark .button-I_wb5FjE.hover-I_wb5FjE .hoverMask-I_wb5FjE {
  background-color: var(--tv-color-toolbar-button-background-hover, #2a2e39);
}
@media (any-hover: hover) {
  html.theme-dark .button-I_wb5FjE:hover .hoverMask-I_wb5FjE {
    background-color: var(--tv-color-toolbar-button-background-hover, #2a2e39);
  }
}
.button-I_wb5FjE .icon-I_wb5FjE {
  display: flex;
  flex: 0 0 auto;
}
.button-I_wb5FjE .counterRow-I_wb5FjE {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: row-reverse;
  font-size: 10px;
  height: 14px;
  left: 10px;
  line-height: 14px;
  position: absolute;
  right: calc(50% - 18px);
  top: 4px;
  white-space: nowrap;
}
.button-I_wb5FjE .counter-I_wb5FjE {
  --ui-lib-counter-color-border: #0000;
}
.button-I_wb5FjE .hoverMask-I_wb5FjE {
  border-radius: 8px;
  bottom: 0;
  height: 38px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 38px;
  z-index: -1;
}
.button-I_wb5FjE.isActive-I_wb5FjE {
  color: var(--tv-color-toolbar-button-text-active, #2962ff);
}
html.theme-sa .button-I_wb5FjE.isActive-I_wb5FjE {
  color: var(--tv-color-toolbar-button-text-active, #ff7200);
}
html.theme-dark .button-I_wb5FjE.isActive-I_wb5FjE {
  color: var(--tv-color-toolbar-button-text-active, #2962ff);
}
.button-I_wb5FjE.isActive-I_wb5FjE .hoverMask-I_wb5FjE {
  background-color: var(--tv-color-toolbar-button-background-active, #e3effd);
}
html.theme-dark .button-I_wb5FjE.isActive-I_wb5FjE .hoverMask-I_wb5FjE {
  background-color: var(--tv-color-toolbar-button-background-active, #132042);
}
.button-I_wb5FjE.isActive-I_wb5FjE.hover-I_wb5FjE {
  color: var(--tv-color-toolbar-button-text-active-hover, #1e53e5);
}
@media (any-hover: hover) {
  .button-I_wb5FjE.isActive-I_wb5FjE:hover {
    color: var(--tv-color-toolbar-button-text-active-hover, #1e53e5);
  }
}
html.theme-dark .button-I_wb5FjE.isActive-I_wb5FjE.hover-I_wb5FjE {
  color: var(--tv-color-toolbar-button-text-active-hover, #1e53e5);
}
@media (any-hover: hover) {
  html.theme-dark .button-I_wb5FjE.isActive-I_wb5FjE:hover {
    color: var(--tv-color-toolbar-button-text-active-hover, #1e53e5);
  }
}
.button-I_wb5FjE.isActive-I_wb5FjE.hover-I_wb5FjE .hoverMask-I_wb5FjE {
  background-color: var(
    --tv-color-toolbar-button-background-active-hover,
    #bbd9fb
  );
}
@media (any-hover: hover) {
  .button-I_wb5FjE.isActive-I_wb5FjE:hover .hoverMask-I_wb5FjE {
    background-color: var(
      --tv-color-toolbar-button-background-active-hover,
      #bbd9fb
    );
  }
}
html.theme-dark
  .button-I_wb5FjE.isActive-I_wb5FjE.hover-I_wb5FjE
  .hoverMask-I_wb5FjE {
  background-color: var(
    --tv-color-toolbar-button-background-active-hover,
    #142e61
  );
}
@media (any-hover: hover) {
  html.theme-dark .button-I_wb5FjE.isActive-I_wb5FjE:hover .hoverMask-I_wb5FjE {
    background-color: var(
      --tv-color-toolbar-button-background-active-hover,
      #142e61
    );
  }
}
.button-I_wb5FjE.accessible-I_wb5FjE:focus-visible:before {
  content: "";
  outline-style: solid;
}
.toolbar-S4V6IoxY {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 100%;
  padding: 2px 0;
  width: 45px;
}
.sb-inner-shadow {
  background: #fff;
  bottom: -10px;
  box-shadow: 0 0 5px #00000026;
  height: 10px;
  pointer-events: none;
  position: absolute;
  transform: translateY(0);
  transition: opacity .11666667s ease, transform .11666667s ease;
  width: 100%;
  z-index: 5;
}
html.theme-dark .sb-inner-shadow {
  background: #1e222d;
}
.sb-inner-shadow.top {
  box-shadow: 0 0 5px #00000026;
  top: -10px;
}
.sb-inner-shadow.i-invisible {
  transform: translateY(5px);
}
.sb-inner-shadow.i-invisible.top {
  transform: translateY(-5px);
}
.sb-inner-shadow.i-invisible {
  opacity: 0;
}
.sb-scrollbar {
  opacity: 0;
  position: absolute !important;
  right: 1px;
  top: 73px;
  transition: opacity .3s;
  width: 7px;
  z-index: 1;
}
.sb-scrollbar.active,
.sb-scrollbar.active-always {
  opacity: 1;
}
.sb-scrollbar__content-wrapper--scroll-inited {
  position: relative;
}
.sb-scrollbar__content--scroll-inited {
  position: absolute;
}
.sb-scrollbar-wrap {
  height: 100%;
  position: absolute;
  right: 1px;
  top: 0;
  width: 6px;
  z-index: 1;
}
.sb-scrollbar-wrap .sb-scrollbar {
  right: 0;
}
.sb-scrollbar-body {
  background: #d1d4dc;
  border: 0;
  width: 6px;
}
html.theme-dark .sb-scrollbar-body {
  background: #50535e;
}
.gray .sb-scrollbar-body {
  background: #75757a;
  border-color: #75757a;
  border-radius: 3px;
}
.sb-scrollbar-bottom,
.sb-scrollbar-top {
  display: none;
}
.active-always.gray,
.gray {
  opacity: 0.5;
}
.wrapper-PQ5O_1M7.touch-PQ5O_1M7.wrapper-PQ5O_1M7.touch-PQ5O_1M7 {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}
.wrapper-PQ5O_1M7.touch-PQ5O_1M7.wrapper-PQ5O_1M7.touch-PQ5O_1M7::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.wrapper-PQ5O_1M7.touch-PQ5O_1M7.wrapper-PQ5O_1M7.touch-PQ5O_1M7::-webkit-scrollbar-thumb {
  background-color: #9598a1;
  border: 1px solid #f0f3fa;
  border-radius: 3px;
}
html.theme-dark
  .wrapper-PQ5O_1M7.touch-PQ5O_1M7.wrapper-PQ5O_1M7.touch-PQ5O_1M7::-webkit-scrollbar-thumb {
  background-color: #363a45;
  border-color: #1e222d;
}
.wrapper-PQ5O_1M7.touch-PQ5O_1M7.wrapper-PQ5O_1M7.touch-PQ5O_1M7::-webkit-scrollbar-track {
  background-color: initial;
  border-radius: 3px;
}
.wrapper-PQ5O_1M7.touch-PQ5O_1M7.wrapper-PQ5O_1M7.touch-PQ5O_1M7::-webkit-scrollbar-corner {
  display: none;
}
.tv-news {
  height: 100%;
  position: relative;
}
.ns-data {
  position: absolute;
  transition: opacity .3s;
  width: 100%;
}
@font-face {
  font-display: swap;
  font-family: EuclidCircularSemibold;
  font-style: normal;
  font-weight: 600;
  src: local("EuclidCircularSemibold"),
    url(Semibold-WebXL-cirillic.41e2189761adad56d375.woff2) format("woff2");
  unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116;
}
@font-face {
  font-display: swap;
  font-family: EuclidCircularSemibold;
  font-style: normal;
  font-weight: 600;
  src: url(Semibold-WebXL-cirillic-ext.0639e7c9c951cb7d0235.woff2)
    format("woff2");
  unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f,
    u+fe2e-fe2f;
}
@font-face {
  font-display: swap;
  font-family: EuclidCircularSemibold;
  font-style: normal;
  font-weight: 600;
  src: url(Semibold-WebXL-latin.04322f0d7f6c0b5ec4c3.woff2) format("woff2");
  unicode-range:
    u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd;
}
@font-face {
  font-display: swap;
  font-family: EuclidCircularSemibold;
  font-style: normal;
  font-weight: 600;
  src: url(Semibold-WebXL-latin-ext.e64627b2d70bc502d2e6.woff2) format("woff2");
  unicode-range: u+0100-024f, u+0259, u+1e??, u+2020, u+20a0-20ab, u+20ad-20cf,
    u+2113, u+2c60-2c7f, u+a720-a7ff;
}
@font-face {
  font-display: swap;
  font-family: EuclidCircularSemibold;
  font-style: normal;
  font-weight: 600;
  src: url(Semibold-WebXL-vietnamese.72695846f58d94c4caaa.woff2) format("woff2");
  unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1,
    u+01af-01b0, u+1ea0-1ef9, u+20ab;
}
@font-face {
  font-display: swap;
  font-family: EuclidCircularSemibold;
  font-style: normal;
  font-weight: 600;
  src: url(Semibold-WebXL-greek.8e69b0b0802f20ac68b3.woff2) format("woff2");
  unicode-range: u+0370-03ff;
}
@font-face {
  font-display: swap;
  font-family: EuclidCircularSemibold;
  font-style: normal;
  font-weight: 600;
  src: url(Semibold-WebXL-greek-ext.8e69b0b0802f20ac68b3.woff2) format("woff2");
  unicode-range: u+1f??;
}
@font-face {
  font-display: swap;
  font-family: EuclidCircularSemibold;
  font-style: normal;
  font-weight: 600;
  src: url(Semibold-WebXL.d9b53cafbe165510ca67.woff2) format("woff2");
  unicode-range: u+0031-0030;
}
