.tabbar-n3UmcVi3 {
  background-color: var(--tv-color-platform-background, #e0e3eb);
  display: flex;
  padding: 0;
  position: relative;
  width: 100%;
}
html.theme-dark .tabbar-n3UmcVi3 {
  background-color: var(--tv-color-platform-background, #2a2e39);
}
.tabs-n3UmcVi3 {
  display: flex;
  flex: 1 1 auto;
  max-width: 100%;
}
.tabs-n3UmcVi3:after {
  background-color: var(--tv-color-pane-background, #fff);
  border-bottom: 1px solid var(--tv-color-platform-background, #e0e3eb);
  content: "";
  display: flex;
  flex: 1 1 auto;
}
html.theme-dark .tabs-n3UmcVi3:after {
  background-color: var(--tv-color-pane-background, #131722);
  border-bottom: 1px solid var(--tv-color-platform-background, #2a2e39);
}
.tabs-n3UmcVi3 > :first-child {
  border-top-left-radius: 4px;
}
.fakeTabs-n3UmcVi3 {
  height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
}
.menuButtonWrap-n3UmcVi3,
.tab-n3UmcVi3 {
  background-color: var(--tv-color-pane-background, #fff);
  border-bottom: 1px solid var(--tv-color-platform-background, #e0e3eb);
  padding: 0 4px;
}
html.theme-dark .menuButtonWrap-n3UmcVi3,
html.theme-dark .tab-n3UmcVi3 {
  background-color: var(--tv-color-pane-background, #131722);
  border-bottom: 1px solid var(--tv-color-platform-background, #2a2e39);
}
.tab-n3UmcVi3 {
  box-sizing: border-box;
  color: var(--tv-color-toolbar-button-text, #131722);
  cursor: default;
  display: flex;
  flex: 0 1 auto;
  max-width: calc(100% - 46px);
  position: relative;
}
html.theme-dark .tab-n3UmcVi3 {
  color: var(--tv-color-toolbar-button-text, #d1d4dc);
}
.tab-n3UmcVi3.hover-n3UmcVi3,
.tab-n3UmcVi3:active {
  color: var(--tv-color-toolbar-button-text-hover, #131722);
}
@media (any-hover: hover) {
  .tab-n3UmcVi3:hover {
    color: var(--tv-color-toolbar-button-text-hover, #131722);
  }
}
html.theme-dark .tab-n3UmcVi3.hover-n3UmcVi3,
html.theme-dark .tab-n3UmcVi3:active {
  color: var(--tv-color-toolbar-button-text-hover, #d1d4dc);
}
@media (any-hover: hover) {
  html.theme-dark .tab-n3UmcVi3:hover {
    color: var(--tv-color-toolbar-button-text-hover, #d1d4dc);
  }
}
.tab-n3UmcVi3.clicked-n3UmcVi3,
.tab-n3UmcVi3:active {
  color: var(
    --tv-color-toolbar-button-text-clicked,
    var(--tv-color-toolbar-button-text-hover, #131722)
  );
}
html.theme-dark .tab-n3UmcVi3.clicked-n3UmcVi3,
html.theme-dark .tab-n3UmcVi3:active {
  color: var(
    --tv-color-toolbar-button-text-clicked,
    var(--tv-color-toolbar-button-text-hover, #d1d4dc)
  );
}
.no-border-top-left-radius .tabs-n3UmcVi3 > :first-child {
  border-top-left-radius: 0;
}
.menuButtonWrap-n3UmcVi3 {
  flex: 0 0 auto;
}
.tab-n3UmcVi3.active-n3UmcVi3 .title-n3UmcVi3 {
  color: var(--tv-color-toolbar-button-text-active, #2962ff);
}
html.theme-sa .tab-n3UmcVi3.active-n3UmcVi3 .title-n3UmcVi3 {
  color: var(--tv-color-toolbar-button-text-active, #ff7200);
}
html.theme-dark .tab-n3UmcVi3.active-n3UmcVi3 .title-n3UmcVi3 {
  color: var(--tv-color-toolbar-button-text-active, #2962ff);
}
@media (any-hover: hover) {
  .tab-n3UmcVi3.active-n3UmcVi3 .title-n3UmcVi3:hover,
  html.theme-dark .tab-n3UmcVi3.active-n3UmcVi3 .title-n3UmcVi3:hover {
    color: var(--tv-color-toolbar-button-text-active-hover, #1e53e5);
  }
}
.title-n3UmcVi3 {
  align-items: center;
  background-color: var(--tv-color-pane-background, #fff);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  margin: 2px;
  max-width: 100%;
  padding: 0 10px;
}
html.theme-dark .title-n3UmcVi3 {
  background-color: var(--tv-color-pane-background, #131722);
}
@media (any-hover: hover) {
  .title-n3UmcVi3:hover {
    background-color: var(--tv-color-toolbar-button-background-hover, #f0f3fa);
  }
  html.theme-dark .title-n3UmcVi3:hover {
    background-color: var(--tv-color-toolbar-button-background-hover, #2a2e39);
  }
}
.titleText-n3UmcVi3 {
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menuButton-n3UmcVi3 {
  justify-content: center;
  width: 38px;
}
.footerPanel-dA6R3Y1X {
  background-color: initial;
  display: grid;
  grid-template-columns: calc(100% - 78px) 78px;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
}
.buttons-dA6R3Y1X {
  align-items: center;
  background-color: var(--tv-color-pane-background, #fff);
  border-bottom: 1px solid var(--tv-color-platform-background, #e0e3eb);
  border-top-right-radius: 4px;
  display: flex;
  flex: 0 0 auto;
  min-width: 74px;
  padding: 0 0 0 4px;
}
html.theme-dark .buttons-dA6R3Y1X {
  background-color: var(--tv-color-pane-background, #131722);
  border-bottom: 1px solid var(--tv-color-platform-background, #2a2e39);
}
.buttons-dA6R3Y1X.hidden-dA6R3Y1X {
  position: absolute;
  visibility: hidden;
}
.no-border-top-right-radius .buttons-dA6R3Y1X {
  border-top-right-radius: 0;
}
.button-dA6R3Y1X {
  justify-content: center;
  width: 38px;
}
.firstButton-dA6R3Y1X {
  margin-right: -2px;
}
.overlap-dA6R3Y1X {
  box-shadow: 0 0 4px 3px #e0e3eb;
}
html.theme-dark .overlap-dA6R3Y1X {
  box-shadow: 0 0 4px 3px #2a2e39;
}
