div.confirmWidget-TnX6oDTV {
  background: linear-gradient(180deg, #fff9, #fff);
  bottom: 0;
  box-sizing: border-box;
  height: 64px;
  left: 0;
  padding: 16px 10px 20px;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 101;
}
html.theme-dark div.confirmWidget-TnX6oDTV {
  background: linear-gradient(180deg, #13172299, #131722);
}
div.confirmWidget-TnX6oDTV .disabledButton-TnX6oDTV:disabled {
  background: var(--ui-lib-button-default-color-bg);
  border-color: var(--ui-lib-button-default-color-bg);
  color: var(--ui-lib-button-default-color-content);
  opacity: 0.5;
}
div.confirmWidget-TnX6oDTV .button-TnX6oDTV {
  max-width: 380px;
}
