.tag-E35yqcCX {
  background: #f0f3fa;
  border: none;
  border-radius: 100px;
  box-sizing: border-box;
  color: #6a6d78;
  display: inline-block;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  padding: 0 12px;
  position: relative;
  text-decoration: none;
}
html.theme-dark .tag-E35yqcCX {
  background: #2a2e39;
  color: #868993;
}
.tag-E35yqcCX:not(.disabled-E35yqcCX):active,
.tag-E35yqcCX:not(.disabled-E35yqcCX):hover {
  background: #e0e3eb;
}
html.theme-dark .tag-E35yqcCX:not(.disabled-E35yqcCX):active,
html.theme-dark .tag-E35yqcCX:not(.disabled-E35yqcCX):hover {
  background: #363a45;
}
.tag-E35yqcCX:not(.disabled-E35yqcCX) {
  outline: none;
  overflow: visible;
  position: relative;
}
.tag-E35yqcCX:not(.disabled-E35yqcCX):focus {
  outline: none;
}
.tag-E35yqcCX:not(.disabled-E35yqcCX):focus-visible {
  outline: none;
}
.tag-E35yqcCX:not(.disabled-E35yqcCX):after {
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  content: "";
  display: none;
  height: calc(100% + 8px);
  left: -4px;
  pointer-events: none;
  position: absolute;
  top: -4px;
  width: calc(100% + 8px);
  z-index: 1;
}
.tag-E35yqcCX:not(.disabled-E35yqcCX):focus:after {
  display: block;
}
.tag-E35yqcCX:not(.disabled-E35yqcCX):focus-visible:after {
  display: block;
}
.tag-E35yqcCX:not(.disabled-E35yqcCX):focus:not(:focus-visible):after {
  display: none;
}
.tag-E35yqcCX:not(.disabled-E35yqcCX):after {
  border-color: #2962ffcc;
  border-radius: 104px;
}
.tag-E35yqcCX:not(.disabled-E35yqcCX).animated-E35yqcCX {
  transition: background-color .35s ease;
}
.tag-E35yqcCX:not(.disabled-E35yqcCX).animated-E35yqcCX:active,
.tag-E35yqcCX:not(.disabled-E35yqcCX).animated-E35yqcCX:hover {
  transition-duration: 60ms;
}
.tag-E35yqcCX:not(.disabled-E35yqcCX).animated-E35yqcCX:after {
  display: block;
  opacity: 0;
  transition: opacity .2s ease-in-out, visibility 0s ease-in-out .2s;
  visibility: hidden;
}
.tag-E35yqcCX:not(.disabled-E35yqcCX).animated-E35yqcCX:focus:after {
  opacity: 1;
  transition: opacity .2s ease-in-out;
  visibility: visible;
}
.tag-E35yqcCX:not(.disabled-E35yqcCX).animated-E35yqcCX:focus-visible:after {
  opacity: 1;
  transition: opacity .2s ease-in-out;
  visibility: visible;
}
.tag-E35yqcCX:not(.disabled-E35yqcCX).animated-E35yqcCX:focus:not(
    :focus-visible
  ):after {
  opacity: 0;
  transition: opacity .2s ease-in-out, visibility 0s ease-in-out .2s;
  visibility: hidden;
}
.tags-nNSIFYl1 {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 4px;
}
.tag-nNSIFYl1 {
  background-color: #6a6d78;
  color: #fff;
  font-size: 11px;
  height: 16px;
  line-height: 16px;
  padding: 0 6px;
  text-transform: uppercase;
}
html.theme-dark .tag-nNSIFYl1 {
  background-color: #868993;
  color: #fff;
}
.tagBuy-nNSIFYl1,
html.theme-dark .tagBuy-nNSIFYl1 {
  background-color: #2962ff;
}
.tagSell-nNSIFYl1,
html.theme-dark .tagSell-nNSIFYl1 {
  background-color: #f23645;
}
.scrollable-NakQh3ob {
  -webkit-overflow-scrolling: touch;
  flex: 1 1 auto;
  min-height: 145px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: #9598a1 #0000;
  scrollbar-width: thin;
}
html.theme-dark .scrollable-NakQh3ob {
  scrollbar-color: #363a45 #0000;
}
@media screen and (max-height: 290px) {
  .scrollable-NakQh3ob {
    min-height: auto;
  }
}
.scrollable-NakQh3ob::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.scrollable-NakQh3ob::-webkit-scrollbar-thumb {
  background-color: #9598a1;
  border: 1px solid #f0f3fa;
  border-radius: 3px;
}
html.theme-dark .scrollable-NakQh3ob::-webkit-scrollbar-thumb {
  background-color: #363a45;
  border-color: #1e222d;
}
.scrollable-NakQh3ob::-webkit-scrollbar-track {
  background-color: initial;
  border-radius: 3px;
}
.scrollable-NakQh3ob::-webkit-scrollbar-corner {
  display: none;
}
.content-NakQh3ob {
  border-top: 1px solid #e0e3eb;
  box-sizing: border-box;
  flex: 1 1 auto;
  padding: 16px 20px;
  width: 380px;
}
html.theme-dark .content-NakQh3ob {
  border-top: 1px solid #434651;
}
@media screen and (max-width: 430px) {
  .content-NakQh3ob {
    width: 100%;
  }
}
.title-NakQh3ob {
  color: #131722;
  margin-bottom: 6px;
}
html.theme-dark .title-NakQh3ob {
  color: #9598a1;
}
.label-NakQh3ob {
  margin-top: 8px;
}
.buttonsWrapper-NakQh3ob {
  display: flex;
  justify-content: space-around;
  margin-top: 6px;
}
.buttonsWrapper-NakQh3ob .button-NakQh3ob {
  background-color: initial;
  border: none;
  border-radius: 4px;
  color: #131722;
  display: block;
  font-size: 14px;
  height: 30px;
  line-height: 22px;
  margin: 2px;
  padding: 0;
  width: 65px;
}
html.theme-dark .buttonsWrapper-NakQh3ob .button-NakQh3ob {
  color: #9598a1;
}
@media (any-hover: hover) {
  .buttonsWrapper-NakQh3ob .button-NakQh3ob:hover {
    background-color: #f0f3fa;
  }
  html.theme-dark .buttonsWrapper-NakQh3ob .button-NakQh3ob:hover {
    background-color: #2a2e39;
  }
}
.previewMessage-NakQh3ob {
  color: #9598a1;
  font-size: 12px;
  line-height: 18px;
  margin-top: 16px;
}
html.theme-dark .previewMessage-NakQh3ob {
  color: #9598a1;
}
.previewMessage-NakQh3ob.warnings-NakQh3ob {
  margin-top: 5px;
}
.leverageInput-NakQh3ob {
  padding-left: 9px;
}
.leverageInput-NakQh3ob:before {
  color: #6a6d78;
  content: "x";
  left: 0;
  margin-left: 8px;
  position: absolute;
}
html.theme-dark .leverageInput-NakQh3ob:before {
  color: #868993;
}
