.wrap-Z4M3tWHb {
  direction: rtl;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.wrap-Z4M3tWHb svg {
  display: block;
}
.scrollWrap-Z4M3tWHb {
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
}
.scrollWrap-Z4M3tWHb::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.scrollWrap-Z4M3tWHb::-webkit-scrollbar-thumb {
  background-color: #9598a1;
  border: 1px solid #f0f3fa;
  border-radius: 3px;
}
html.theme-dark .scrollWrap-Z4M3tWHb::-webkit-scrollbar-thumb {
  background-color: #363a45;
  border-color: #1e222d;
}
.scrollWrap-Z4M3tWHb::-webkit-scrollbar-track {
  background-color: initial;
  border-radius: 3px;
}
.scrollWrap-Z4M3tWHb::-webkit-scrollbar-corner {
  display: none;
}
.scrollWrap-Z4M3tWHb.noScrollBar-Z4M3tWHb {
  padding-left: 100px;
}
.scrollWrap-Z4M3tWHb.noScrollBar-Z4M3tWHb.sb-scrollbar-wrap {
  display: none;
}
.scrollWrap-Z4M3tWHb.noScrollBar-Z4M3tWHb::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
}
.scrollWrap-Z4M3tWHb.noScrollBar-Z4M3tWHb::-webkit-scrollbar-thumb,
.scrollWrap-Z4M3tWHb.noScrollBar-Z4M3tWHb::-webkit-scrollbar-track {
  display: none;
}
.scrollWrap-Z4M3tWHb.noScrollBar-Z4M3tWHb::-webkit-scrollbar-corner {
  display: none;
}
.content-Z4M3tWHb {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  position: relative;
}
.icon-Z4M3tWHb {
  display: block;
  transition: transform 60ms ease;
}
.scrollBot-Z4M3tWHb,
.scrollTop-Z4M3tWHb {
  align-items: center;
  background-color: #1e222d99;
  color: #fff;
  display: flex;
  height: 24px;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  right: 0;
  transition: background-color .35s ease, transform .11666667s
    cubic-bezier(0.55, 0.055, 0.675, 0.19);
  width: 100%;
}
html.theme-dark .scrollBot-Z4M3tWHb,
html.theme-dark .scrollTop-Z4M3tWHb {
  background-color: #6a6d7899;
  color: #fff;
}
.scrollBot-Z4M3tWHb:active,
.scrollTop-Z4M3tWHb:active {
  transition: background-color 58.33333ms ease, transform .11666667s
    cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media (any-hover: hover) {
  .scrollBot-Z4M3tWHb:hover,
  .scrollTop-Z4M3tWHb:hover {
    transition: background-color 58.33333ms ease, transform .11666667s
      cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
.scrollBot-Z4M3tWHb:active .icon-Z4M3tWHb,
.scrollTop-Z4M3tWHb:active .icon-Z4M3tWHb {
  transform: translateY(1px);
}
@media (any-hover: hover) {
  .scrollBot-Z4M3tWHb:hover .icon-Z4M3tWHb,
  .scrollTop-Z4M3tWHb:hover .icon-Z4M3tWHb {
    transform: translateY(1px);
  }
}
.scrollBot-Z4M3tWHb.isVisible-Z4M3tWHb,
.scrollTop-Z4M3tWHb.isVisible-Z4M3tWHb {
  transform: translateY(0);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.scrollTop-Z4M3tWHb {
  top: 0;
  transform: translateY(-100%);
}
.scrollTop-Z4M3tWHb .iconWrap-Z4M3tWHb {
  transform: rotate(-180deg);
}
.scrollBot-Z4M3tWHb {
  bottom: 0;
  transform: translateY(100%);
}
.fadeBot-Z4M3tWHb,
.fadeTop-Z4M3tWHb {
  height: 24px;
  pointer-events: none;
  position: absolute;
  right: 0;
  width: 100%;
}
.fadeBot-Z4M3tWHb.isVisible-Z4M3tWHb,
.fadeTop-Z4M3tWHb.isVisible-Z4M3tWHb {
  transform: translateY(0);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.fadeTop-Z4M3tWHb {
  background-image: linear-gradient(0deg, #fff0, #fff);
  top: 0;
  transform: translateY(-100%);
}
html.theme-dark .fadeTop-Z4M3tWHb {
  background-image: linear-gradient(0deg, #13172200, #131722);
}
.fadeBot-Z4M3tWHb {
  background-image: linear-gradient(180deg, #fff0, #fff);
  bottom: 0;
  transform: translateY(100%);
}
html.theme-dark .fadeBot-Z4M3tWHb {
  background-image: linear-gradient(180deg, #13172200, #131722);
}
.container-Wp9adlfh {
  display: block;
  transition: fill 60ms ease, stroke 60ms ease;
}
.container-Wp9adlfh.mirror-Wp9adlfh {
  transform: rotate(-180deg);
}
.container-Wp9adlfh .background-Wp9adlfh {
  fill: var(--tv-color-pane-background, #fff);
  stroke: var(--tv-color-platform-background, #e0e3eb);
}
html.theme-dark .container-Wp9adlfh .background-Wp9adlfh {
  stroke: var(--tv-color-platform-background, #2a2e39);
  fill: var(--tv-color-pane-background, #131722);
}
.container-Wp9adlfh .arrow-Wp9adlfh,
html.theme-dark .container-Wp9adlfh .arrow-Wp9adlfh {
  stroke: #b2b5be;
}
@media (any-hover: hover) {
  .container-Wp9adlfh:hover .background-Wp9adlfh {
    fill: var(--tv-color-toolbar-toggle-button-background-active, #2962ff);
  }
  .container-Wp9adlfh:hover .background-Wp9adlfh,
  html.theme-dark .container-Wp9adlfh:hover .background-Wp9adlfh {
    stroke: var(
      --tv-color-toolbar-toggle-button-background-active-hover,
      #1e53e5
    );
  }
  html.theme-dark .container-Wp9adlfh:hover .background-Wp9adlfh {
    fill: var(--tv-color-toolbar-toggle-button-background-active, #2962ff);
  }
  .container-Wp9adlfh:hover .arrow-Wp9adlfh {
    stroke: var(--tv-color-pane-background, #fff);
  }
  html.theme-dark .container-Wp9adlfh:hover .arrow-Wp9adlfh {
    stroke: var(--tv-color-pane-background, #131722);
  }
}
