.actionButton-k53vexPa {
  margin: 0 6px;
}
.actionButton-k53vexPa:first-child {
  margin-right: 0;
}
.actionButton-k53vexPa:last-child {
  margin-left: 0;
}
.actionButton-k53vexPa.small-k53vexPa {
  margin: 6px 0;
}
.actionButton-k53vexPa.small-k53vexPa:first-child {
  margin-top: 0;
}
.actionButton-k53vexPa.small-k53vexPa:last-child {
  margin-bottom: 0;
}
.hiddenTitle-k53vexPa {
  visibility: hidden;
}
.popupDialog-B02UUUN3 {
  max-height: calc(100% - 20px);
  max-width: 480px;
  width: calc(100% - 20px);
}
.wrap-B02UUUN3 {
  cursor: default;
  display: flex;
  overflow: hidden;
}
.main-B02UUUN3 {
  color: #131722;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 40px 0 40px 40px;
}
html.theme-dark .main-B02UUUN3 {
  color: #d1d4dc;
}
.main-B02UUUN3.small-B02UUUN3 {
  margin: 20px 0 20px 20px;
}
.title-B02UUUN3 {
  --ui-lib-typography-line-height: 28px;
  --ui-lib-typography-font-size: 20px;
  align-items: center;
  display: flex;
  flex: none;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--ui-lib-typography-line-height);
  margin-bottom: 8px;
  width: calc(100% - 9px);
  word-break: break-word;
}
.title-B02UUUN3.small-B02UUUN3 {
  width: calc(100% - 29px);
}
.content-B02UUUN3 {
  --ui-lib-typography-line-height: 24px;
  --ui-lib-typography-font-size: 16px;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-lib-typography-line-height);
  margin: 0 -40px;
  min-height: 145px;
  min-height: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 8px 40px;
  scrollbar-color: #9598a1 #0000;
  scrollbar-width: thin;
  white-space: pre-wrap;
  word-break: break-word;
}
html.theme-dark .content-B02UUUN3 {
  scrollbar-color: #363a45 #0000;
}
@media screen and (max-height: 290px) {
  .content-B02UUUN3 {
    min-height: auto;
  }
}
.content-B02UUUN3::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.content-B02UUUN3::-webkit-scrollbar-thumb {
  background-color: #9598a1;
  border: 1px solid #f0f3fa;
  border-radius: 3px;
}
html.theme-dark .content-B02UUUN3::-webkit-scrollbar-thumb {
  background-color: #363a45;
  border-color: #1e222d;
}
.content-B02UUUN3::-webkit-scrollbar-track {
  background-color: initial;
  border-radius: 3px;
}
.content-B02UUUN3::-webkit-scrollbar-corner {
  display: none;
}
.content-B02UUUN3.small-B02UUUN3 {
  margin: 0 -20px;
  padding: 8px 20px;
}
.content-B02UUUN3.html-B02UUUN3 {
  display: block;
}
.content-B02UUUN3 a,
html.theme-dark .content-B02UUUN3 a {
  color: #2962ff;
}
.footer-B02UUUN3 {
  display: flex;
  flex: none;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-top: 16px;
}
.footer-B02UUUN3.small-B02UUUN3 {
  flex-direction: column;
}
.close-B02UUUN3 {
  align-items: center;
  border-radius: 2px;
  color: #131722;
  cursor: default;
  display: flex;
  flex: none;
  height: 34px;
  justify-content: center;
  margin: 8px 8px 0 -2px;
  width: 34px;
}
html.theme-dark .close-B02UUUN3 {
  color: #d1d4dc;
}
@media (any-hover: hover) {
  .close-B02UUUN3:hover {
    background-color: #f0f3fa;
  }
  html.theme-dark .close-B02UUUN3:hover {
    background-color: #2a2e39;
  }
}
.close-B02UUUN3.small-B02UUUN3 {
  margin-left: -22px;
}
.marginWithoutCloseButton-B02UUUN3 {
  margin-right: 40px;
}
.marginWithoutCloseButton-B02UUUN3.small-B02UUUN3 {
  margin-right: 20px;
}
.label-nb7ji1l2 {
  color: #6a6d78;
  font-size: 14px;
  line-height: 21px;
}
html.theme-dark .label-nb7ji1l2 {
  color: #868993;
}
