.menuWrap-Kq3ruQo8 {
  background-color: var(--tv-color-popup-background, #fff);
  border-radius: 6px;
  box-shadow: 0 2px 4px #0003;
  box-sizing: border-box;
  text-align: right;
  -webkit-user-select: none;
  user-select: none;
  z-index: 100;
}
html.theme-dark .menuWrap-Kq3ruQo8 {
  background-color: var(--tv-color-popup-background, #1e222d);
  box-shadow: 0 2px 4px #0006;
}
.menuWrap-Kq3ruQo8.isMeasuring-Kq3ruQo8 {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  visibility: hidden;
}
.menuWrap-Kq3ruQo8:focus {
  outline: none;
}
.scrollWrap-Kq3ruQo8 {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.scrollWrap-Kq3ruQo8.momentumBased-Kq3ruQo8 {
  -webkit-overflow-scrolling: touch;
}
.scrollWrap-Kq3ruQo8::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.scrollWrap-Kq3ruQo8::-webkit-scrollbar-thumb {
  background-color: #9598a1;
  border: 1px solid #f0f3fa;
  border-radius: 3px;
}
html.theme-dark .scrollWrap-Kq3ruQo8::-webkit-scrollbar-thumb {
  background-color: #363a45;
  border-color: #1e222d;
}
.scrollWrap-Kq3ruQo8::-webkit-scrollbar-track {
  background-color: initial;
  border-radius: 3px;
}
.scrollWrap-Kq3ruQo8::-webkit-scrollbar-corner {
  display: none;
}
.menuBox-Kq3ruQo8 {
  padding: 6px 0;
}
.isHidden-Kq3ruQo8 {
  display: none;
}
