.button-iLKiGOdQ {
  align-items: center;
  background-color: var(--tv-list-item-button-background-color);
  border-radius: 4px;
  color: var(--tv-color-popup-element-toolbox-text, grey);
  display: inline-flex;
  font-size: 0;
  height: 22px;
  justify-content: center;
  min-width: 22px;
  width: 22px;
}
.button-iLKiGOdQ.hovered-iLKiGOdQ,
.button-iLKiGOdQ:active {
  background-color: var(
    --tv-color-popup-element-toolbox-background-hover,
    var(
      --tv-list-item-button-background-hover-color,
      var(--themed-color-container-fill-primary-neutral-normal, #dbdbdb)
    )
  );
  color: var(
    --tv-color-popup-element-toolbox-text-hover,
    var(--themed-color-popup-element-toolbox-text-hover, #1a1a1a)
  );
}
@media (any-hover: hover) {
  .button-iLKiGOdQ:hover {
    background-color: var(
      --tv-color-popup-element-toolbox-background-hover,
      var(
        --tv-list-item-button-background-hover-color,
        var(--themed-color-container-fill-primary-neutral-normal, #dbdbdb)
      )
    );
    color: var(
      --tv-color-popup-element-toolbox-text-hover,
      var(--themed-color-popup-element-toolbox-text-hover, #1a1a1a)
    );
  }
}
html.theme-dark .button-iLKiGOdQ.hovered-iLKiGOdQ,
html.theme-dark .button-iLKiGOdQ:active {
  background-color: var(
    --tv-color-popup-element-toolbox-background-hover,
    var(
      --tv-list-item-button-background-hover-color,
      var(--themed-color-container-fill-primary-neutral-normal, #4a4a4a)
    )
  );
}
@media (any-hover: hover) {
  html.theme-dark .button-iLKiGOdQ:hover {
    background-color: var(
      --tv-color-popup-element-toolbox-background-hover,
      var(
        --tv-list-item-button-background-hover-color,
        var(--themed-color-container-fill-primary-neutral-normal, #4a4a4a)
      )
    );
  }
}
html.theme-dark .button-iLKiGOdQ.hovered-iLKiGOdQ,
html.theme-dark .button-iLKiGOdQ:active {
  color: var(
    --tv-color-popup-element-toolbox-text-hover,
    var(--themed-color-popup-element-toolbox-text-hover, #dbdbdb)
  );
}
@media (any-hover: hover) {
  html.theme-dark .button-iLKiGOdQ:hover {
    color: var(
      --tv-color-popup-element-toolbox-text-hover,
      var(--themed-color-popup-element-toolbox-text-hover, #dbdbdb)
    );
  }
}
.button-iLKiGOdQ.disabled-iLKiGOdQ,
.button-iLKiGOdQ.disabled-iLKiGOdQ:active {
  background-color: var(
    --tv-list-item-button-disabled-background-color,
    var(--themed-color-force-transparent, #0000)
  );
}
@media (any-hover: hover) {
  .button-iLKiGOdQ.disabled-iLKiGOdQ:hover {
    background-color: var(
      --tv-list-item-button-disabled-background-color,
      var(--themed-color-force-transparent, #0000)
    );
  }
}
html.theme-dark .button-iLKiGOdQ.disabled-iLKiGOdQ,
html.theme-dark .button-iLKiGOdQ.disabled-iLKiGOdQ:active {
  background-color: var(
    --tv-list-item-button-disabled-background-color,
    var(--themed-color-force-transparent, #0000)
  );
}
@media (any-hover: hover) {
  html.theme-dark .button-iLKiGOdQ.disabled-iLKiGOdQ:hover {
    background-color: var(
      --tv-list-item-button-disabled-background-color,
      var(--themed-color-force-transparent, #0000)
    );
  }
}
.button-iLKiGOdQ {
  outline: none;
  overflow: visible;
  position: relative;
}
.button-iLKiGOdQ:focus {
  outline: none;
}
.button-iLKiGOdQ:focus-visible {
  outline: none;
}
.button-iLKiGOdQ:after {
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  content: "";
  display: none;
  height: calc(100% + 4px);
  pointer-events: none;
  position: absolute;
  right: -2px;
  top: -2px;
  width: calc(100% + 4px);
  z-index: 1;
}
.button-iLKiGOdQ:after,
html.theme-dark .button-iLKiGOdQ:after {
  border-color: var(--themed-color-focus-outline-color-blue, #2962ff);
}
.button-iLKiGOdQ:after {
  border-radius: 4px;
}
.button-iLKiGOdQ.focused-iLKiGOdQ:after {
  display: block;
}
.button-iLKiGOdQ.active-iLKiGOdQ {
  color: var(
    --tv-color-popup-element-toolbox-text-active-hover,
    var(--themed-color-content-secondary-inverse, #fff)
  );
}
html.theme-dark .button-iLKiGOdQ.active-iLKiGOdQ {
  color: var(
    --tv-color-popup-element-toolbox-text-active-hover,
    var(--themed-color-content-secondary-inverse, #1a1a1a)
  );
}
.button-iLKiGOdQ.active-iLKiGOdQ.hovered-iLKiGOdQ,
.button-iLKiGOdQ.active-iLKiGOdQ:active {
  background-color: var(
    --tv-color-popup-element-toolbox-background-active-hover,
    var(--themed-color-container-fill-primary-neutral-bold, #4a4a4a)
  );
}
@media (any-hover: hover) {
  .button-iLKiGOdQ.active-iLKiGOdQ:hover {
    background-color: var(
      --tv-color-popup-element-toolbox-background-active-hover,
      var(--themed-color-container-fill-primary-neutral-bold, #4a4a4a)
    );
  }
}
html.theme-dark .button-iLKiGOdQ.active-iLKiGOdQ.hovered-iLKiGOdQ,
html.theme-dark .button-iLKiGOdQ.active-iLKiGOdQ:active {
  background-color: var(
    --tv-color-popup-element-toolbox-background-active-hover,
    var(--themed-color-container-fill-primary-neutral-bold, #dbdbdb)
  );
}
@media (any-hover: hover) {
  html.theme-dark .button-iLKiGOdQ.active-iLKiGOdQ:hover {
    background-color: var(
      --tv-color-popup-element-toolbox-background-active-hover,
      var(--themed-color-container-fill-primary-neutral-bold, #dbdbdb)
    );
  }
}
.hidden-iLKiGOdQ {
  visibility: hidden;
}
