.container-N4SM7hWm {
  background: var(--themed-color-dropzone-bg, #f9f9f9);
  border: 1px dashed var(--themed-color-dropzone-border, #dbdbdb);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
html.theme-dark .container-N4SM7hWm {
  background: var(--themed-color-dropzone-bg, #303030);
  border: 1px dashed var(--themed-color-dropzone-border, #8c8c8c);
}
@media (any-hover: hover) {
  .container-N4SM7hWm:hover .textBlockHeadline-N4SM7hWm,
  html.theme-dark .container-N4SM7hWm:hover .textBlockHeadline-N4SM7hWm {
    color: var(--themed-color-brand, #2962ff);
  }
}
.dropzone-N4SM7hWm {
  display: block;
}
.dropzone-N4SM7hWm,
.textBlock-N4SM7hWm {
  height: 100%;
  position: absolute;
  width: 100%;
}
.textBlock-N4SM7hWm {
  align-items: center;
  color: var(--themed-color-dropzone-text, #9c9c9c);
  display: flex;
  flex-direction: column;
  justify-content: center;
  --ui-lib-typography-line-height: 21px;
  line-height: var(--ui-lib-typography-line-height);
  --ui-lib-typography-font-size: 14px;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 400;
}
html.theme-dark .textBlock-N4SM7hWm {
  color: var(--themed-color-dropzone-text, #b8b8b8);
}
.textBlockHeadline-N4SM7hWm {
  color: var(--themed-color-text-primary, #1a1a1a);
  margin-bottom: 8px;
  padding: 8px;
  text-align: center;
  --ui-lib-typography-line-height: 24px;
  line-height: var(--ui-lib-typography-line-height);
  --ui-lib-typography-font-size: 16px;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 400;
}
html.theme-dark .textBlockHeadline-N4SM7hWm {
  color: var(--themed-color-text-primary, #dbdbdb);
}
.textBlockError-N4SM7hWm,
html.theme-dark .textBlockError-N4SM7hWm {
  color: var(--themed-color-control-intent-danger, #f23645);
}
.img-N4SM7hWm {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
.img-N4SM7hWm,
.remove-N4SM7hWm {
  align-items: center;
  display: flex;
  position: absolute;
}
.remove-N4SM7hWm {
  background-color: var(--themed-color-dropzone-icon-bg, #fff);
  border-radius: 4px;
  color: var(--themed-color-text-primary, #1a1a1a);
  height: 32px;
  justify-content: center;
  right: 6px;
  top: 8px;
  width: 32px;
}
html.theme-dark .remove-N4SM7hWm {
  background-color: var(--themed-color-dropzone-icon-bg, #636363);
  color: var(--themed-color-text-primary, #dbdbdb);
}
.backdrop-N4SM7hWm {
  align-items: center;
  background-color: var(--themed-color-preview-backdrop-background, #f2f2f2);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
html.theme-dark .backdrop-N4SM7hWm {
  background-color: var(--themed-color-preview-backdrop-background, #4a4a4a);
}
.mainText-N4SM7hWm {
  color: var(--themed-color-preview-main-text, #1a1a1a);
  font-size: 16px;
  margin-bottom: 0;
}
html.theme-dark .mainText-N4SM7hWm {
  color: var(--themed-color-preview-main-text, #dbdbdb);
}
.dialog-Rg1Vw_8R {
  height: 100%;
  justify-content: space-between;
}
.transparencyTitle-Rg1Vw_8R {
  align-content: flex-start;
  font-size: 14px;
  margin-right: auto;
}
.transparencyControl-Rg1Vw_8R {
  align-content: flex-end;
  font-size: 14px;
  margin-left: auto;
  width: 180px;
}
.transparencyWrap-Rg1Vw_8R {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 24px;
  padding: 10px 0;
  width: 100%;
}
.column-Rg1Vw_8R {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.dropzone-Rg1Vw_8R {
  height: 190px;
  margin-top: 8px;
  max-width: 340px;
}
.content-Rg1Vw_8R {
  height: 100%;
  overflow: auto;
  padding: 0 20px;
}
@media (pointer: fine) {
  @supports (-moz-appearance: none) {
    .content-Rg1Vw_8R {
      scrollbar-color: var(--themed-color-scroll-bg, #9c9c9c) #0000;
      scrollbar-width: thin;
    }
    html.theme-dark .content-Rg1Vw_8R {
      scrollbar-color: var(--themed-color-scroll-bg, #3d3d3d) #0000;
    }
  }
  .content-Rg1Vw_8R::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  .content-Rg1Vw_8R::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: var(
      --tv-color-scrollbar-thumb-background,
      var(--themed-color-scroll-bg, #9c9c9c)
    );
    border: 1px solid #0000;
    border-radius: 3px;
  }
  html.theme-dark .content-Rg1Vw_8R::-webkit-scrollbar-thumb {
    background-color: var(
      --tv-color-scrollbar-thumb-background,
      var(--themed-color-scroll-bg, #3d3d3d)
    );
  }
  .content-Rg1Vw_8R::-webkit-scrollbar-track {
    background-color: initial;
    border-radius: 3px;
  }
  .content-Rg1Vw_8R::-webkit-scrollbar-corner {
    display: none;
  }
}
