.button-Rc93kXa8 {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  color: #6a6d78;
  font-size: 12px;
  height: 22px;
  padding-left: 8px;
  padding-right: 8px;
  white-space: nowrap;
}
html.theme-dark .button-Rc93kXa8 {
  background-color: #1e222d;
  color: #868993;
}
@media (any-hover: hover) {
  .button-Rc93kXa8:hover {
    background-color: #e0e3eb;
    color: #131722;
  }
  html.theme-dark .button-Rc93kXa8:hover {
    background-color: #5d606b;
    color: #d1d4dc;
  }
}
.button-Rc93kXa8.bordersVisible-Rc93kXa8 {
  border: 1px solid #e0e3eb;
  padding: 0 7px;
}
html.theme-dark .button-Rc93kXa8.bordersVisible-Rc93kXa8 {
  border: 1px solid #363a45;
}
.button-Rc93kXa8.selected-Rc93kXa8 {
  background-color: #90bff9;
  color: #131722;
}
html.theme-dark .button-Rc93kXa8.selected-Rc93kXa8 {
  background-color: #143a87;
  color: #d1d4dc;
}
.button-Rc93kXa8 + .button-Rc93kXa8 {
  margin-left: 8px;
}
.wrap-oc7l8ZQg {
  align-items: center;
  border-bottom: 1px solid #f0f3fa;
  display: flex;
  height: 52px;
  padding-right: 20px;
}
html.theme-dark .wrap-oc7l8ZQg {
  border-bottom-color: #2a2e39;
}
.header-oc7l8ZQg {
  color: #6a6d78;
  font-size: 11px;
  line-height: 16px;
  margin-top: 2px;
  padding: 8px 20px;
  text-transform: uppercase;
}
html.theme-dark .header-oc7l8ZQg {
  color: #868993;
}
.item-oc7l8ZQg {
  box-sizing: border-box;
  color: #131722;
  font-size: 16px;
  height: 40px;
  line-height: 24px;
  padding: 10px 16px;
}
html.theme-dark .item-oc7l8ZQg {
  color: #d1d4dc;
}
.item-oc7l8ZQg:active {
  background-color: #2962ff;
  color: #fff;
}
html.theme-dark .item-oc7l8ZQg:active {
  background-color: #2962ff;
  color: #d1d4dc;
}
.scrollable-sXALjK1u {
  -webkit-overflow-scrolling: touch;
  flex: 1 1 auto;
  height: 100%;
  min-height: 145px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: #9598a1 #0000;
  scrollbar-width: thin;
}
html.theme-dark .scrollable-sXALjK1u {
  scrollbar-color: #363a45 #0000;
}
@media screen and (max-height: 290px) {
  .scrollable-sXALjK1u {
    min-height: auto;
  }
}
.scrollable-sXALjK1u::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.scrollable-sXALjK1u::-webkit-scrollbar-thumb {
  background-color: #9598a1;
  border: 1px solid #f0f3fa;
  border-radius: 3px;
}
html.theme-dark .scrollable-sXALjK1u::-webkit-scrollbar-thumb {
  background-color: #363a45;
  border-color: #1e222d;
}
.scrollable-sXALjK1u::-webkit-scrollbar-track {
  background-color: initial;
  border-radius: 3px;
}
.scrollable-sXALjK1u::-webkit-scrollbar-corner {
  display: none;
}
.spinnerWrap-sXALjK1u {
  height: 100%;
  width: 100%;
}
.item-sXALjK1u:first-child {
  margin-top: 6px;
}
.item-sXALjK1u:last-child {
  margin-bottom: 6px;
}
.heading-sXALjK1u {
  color: #6a6d78;
  font-size: 11px;
  line-height: 16px;
  padding: 16px 20px 8px;
  text-transform: uppercase;
}
html.theme-dark .heading-sXALjK1u {
  color: #868993;
}
.checkboxWrap-sXALjK1u {
  padding-right: 8px;
}
.checkbox-sXALjK1u {
  align-items: baseline;
  display: flex;
  height: 28px;
  justify-content: center;
  padding: 0;
  width: 28px;
}
.emptyState-sXALjK1u {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
}
.emptyState-sXALjK1u .image-sXALjK1u {
  align-items: center;
  display: flex;
  height: 120px;
}
.emptyState-sXALjK1u .text-sXALjK1u {
  color: #131722;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}
html.theme-dark .emptyState-sXALjK1u .text-sXALjK1u {
  color: #d1d4dc;
}
.dialog-IKuIIugL {
  height: 565px;
  overflow: hidden;
  width: 100%;
}
.tabletDialog-IKuIIugL {
  max-width: 560px;
}
.desktopDialog-IKuIIugL {
  max-width: 840px;
  min-width: 719px;
  width: 100%;
}
@media (max-width: 768px) {
  .desktopDialog-IKuIIugL {
    max-width: 640px;
    min-width: 480px;
  }
}
@media (max-width: 519px) {
  .desktopDialog-IKuIIugL {
    max-width: 479px;
    min-width: 380px;
  }
}
.label-lVJKBKVk {
  margin-left: 8px;
}
