.box-ywH2tsV_ {
  align-items: center;
  border: 1px solid
    var(--themed-color-container-fill-primary-neutral-extra-bold, #303030);
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  height: 18px;
  justify-content: center;
  position: relative;
  transition: background-color .35s ease;
  width: 18px;
}
html.theme-dark .box-ywH2tsV_ {
  border: 1px solid
    var(--themed-color-container-fill-primary-neutral-extra-bold, #f2f2f2);
}
.box-ywH2tsV_:before {
  border: 2px solid #2962ff;
  border-radius: 6px;
  box-sizing: border-box;
  content: "";
  height: 26px;
  left: -5px;
  opacity: 0;
  position: absolute;
  top: -5px;
  transform: scale(0.69231);
  width: 26px;
}
.box-ywH2tsV_.noOutline-ywH2tsV_:before {
  content: none;
}
.box-ywH2tsV_:after {
  background-color: initial;
  border-radius: 50%;
  content: "";
  height: 6px;
  left: calc(50% - 3px);
  position: absolute;
  top: calc(50% - 3px);
  width: 6px;
}
@media (any-hover: hover) {
  .box-ywH2tsV_:hover:not(:focus):not(.disabled-ywH2tsV_):not(:active):not(
      .intent-danger-ywH2tsV_
    ) {
    border-color: var(
      --themed-color-container-fill-primary-neutral-bold,
      #4a4a4a
    );
  }
  html.theme-dark
    .box-ywH2tsV_:hover:not(:focus):not(.disabled-ywH2tsV_):not(:active):not(
      .intent-danger-ywH2tsV_
    ) {
    border-color: var(
      --themed-color-container-fill-primary-neutral-bold,
      #dbdbdb
    );
  }
  .box-ywH2tsV_:hover.checked-ywH2tsV_:not(:focus):not(.disabled-ywH2tsV_):not(
      .intent-danger-ywH2tsV_
    ) {
    background-color: var(
      --ui-lib-checkboxView-color,
      var(--themed-color-container-fill-primary-neutral-bold, #4a4a4a)
    );
    border-color: var(
      --ui-lib-checkboxView-color,
      var(--themed-color-container-fill-primary-neutral-bold, #4a4a4a)
    );
  }
  html.theme-dark
    .box-ywH2tsV_:hover.checked-ywH2tsV_:not(:focus):not(
      .disabled-ywH2tsV_
    ):not(.intent-danger-ywH2tsV_) {
    background-color: var(
      --ui-lib-checkboxView-color,
      var(--themed-color-container-fill-primary-neutral-bold, #dbdbdb)
    );
    border-color: var(
      --ui-lib-checkboxView-color,
      var(--themed-color-container-fill-primary-neutral-bold, #dbdbdb)
    );
  }
}
.box-ywH2tsV_.checked-ywH2tsV_ {
  background-color: var(
    --ui-lib-checkboxView-color,
    var(--themed-color-container-fill-primary-neutral-extra-bold, #303030)
  );
  border-color: var(
    --ui-lib-checkboxView-color,
    var(--themed-color-container-fill-primary-neutral-extra-bold, #303030)
  );
}
html.theme-dark .box-ywH2tsV_.checked-ywH2tsV_ {
  background-color: var(
    --ui-lib-checkboxView-color,
    var(--themed-color-container-fill-primary-neutral-extra-bold, #f2f2f2)
  );
  border-color: var(
    --ui-lib-checkboxView-color,
    var(--themed-color-container-fill-primary-neutral-extra-bold, #f2f2f2)
  );
}
.box-ywH2tsV_.checked-ywH2tsV_.check-ywH2tsV_ .icon-ywH2tsV_ {
  color: var(
    --ui-lib-checkboxView-mark-color,
    var(--themed-color-container-fill-quinary-inverse, #fff)
  );
}
html.theme-dark .box-ywH2tsV_.checked-ywH2tsV_.check-ywH2tsV_ .icon-ywH2tsV_ {
  color: var(
    --ui-lib-checkboxView-mark-color,
    var(--themed-color-container-fill-quinary-inverse, #303030)
  );
}
.box-ywH2tsV_.checked-ywH2tsV_.dot-ywH2tsV_:after {
  background-color: var(
    --ui-lib-checkboxView-mark-color,
    var(--themed-color-container-fill-quinary-inverse, #fff)
  );
}
html.theme-dark .box-ywH2tsV_.checked-ywH2tsV_.dot-ywH2tsV_:after {
  background-color: var(
    --ui-lib-checkboxView-mark-color,
    var(--themed-color-container-fill-quinary-inverse, #303030)
  );
}
.box-ywH2tsV_.disabled-ywH2tsV_ {
  opacity: 0.3;
}
.box-ywH2tsV_:active:not(.disabled-ywH2tsV_):not(
    .disableActiveStyles-ywH2tsV_
  ):active {
  border-color: var(
    --ui-lib-checkboxView-color,
    var(--themed-color-container-fill-primary-neutral-medium, #707070)
  );
}
html.theme-dark
  .box-ywH2tsV_:active:not(.disabled-ywH2tsV_):not(
    .disableActiveStyles-ywH2tsV_
  ):active {
  border-color: var(
    --ui-lib-checkboxView-color,
    var(--themed-color-container-fill-primary-neutral-medium, #8c8c8c)
  );
}
.box-ywH2tsV_.checked-ywH2tsV_:active:not(.disabled-ywH2tsV_):active {
  background-color: var(
    --ui-lib-checkboxView-color,
    var(--themed-color-container-fill-primary-neutral-medium, #707070)
  );
}
html.theme-dark
  .box-ywH2tsV_.checked-ywH2tsV_:active:not(.disabled-ywH2tsV_):active {
  background-color: var(
    --ui-lib-checkboxView-color,
    var(--themed-color-container-fill-primary-neutral-medium, #8c8c8c)
  );
}
.box-ywH2tsV_.intent-danger-ywH2tsV_,
html.theme-dark .box-ywH2tsV_.intent-danger-ywH2tsV_ {
  border-color: var(--themed-color-control-intent-danger, #f23645);
}
.icon-ywH2tsV_ {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
}
.icon-ywH2tsV_,
.icon-ywH2tsV_ svg {
  height: 9px;
  width: 11px;
}
.wrapper-GZajBGIm {
  display: inline-block;
  flex: none;
  height: 18px;
  position: relative;
  width: 18px;
  --ui-lib-checkboxView-mark-color: var(--ui-lib-checkboxInput-mark-color);
  --ui-lib-checkboxView-color: var(--ui-lib-checkboxInput-color);
}
.input-GZajBGIm {
  cursor: inherit;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.input-GZajBGIm:focus + .view-GZajBGIm:before {
  opacity: 1;
  transform: scale(1);
}
.input-GZajBGIm:focus-visible + .view-GZajBGIm:before {
  opacity: 1;
  transform: scale(1);
}
.input-GZajBGIm:focus:not(:focus-visible) + .view-GZajBGIm:before {
  opacity: 0;
  transform: scale(0.69231);
}
@media (any-hover: hover) {
  .input-GZajBGIm:hover:not(:focus):not(:disabled):not(.danger-GZajBGIm)
    ~ .view-GZajBGIm {
    border-color: var(
      --themed-color-container-fill-primary-neutral-bold,
      #4a4a4a
    );
  }
  html.theme-dark
    .input-GZajBGIm:hover:not(:focus):not(:disabled):not(.danger-GZajBGIm)
    ~ .view-GZajBGIm {
    border-color: var(
      --themed-color-container-fill-primary-neutral-bold,
      #dbdbdb
    );
  }
  .input-GZajBGIm:hover:checked:not(:focus):not(:disabled):not(.danger-GZajBGIm)
    ~ .view-GZajBGIm {
    background-color: var(
      --ui-lib-checkboxInput-color,
      var(--themed-color-container-fill-primary-neutral-bold, #4a4a4a)
    );
    border-color: var(
      --ui-lib-checkboxInput-color,
      var(--themed-color-container-fill-primary-neutral-bold, #4a4a4a)
    );
  }
  html.theme-dark
    .input-GZajBGIm:hover:checked:not(:focus):not(:disabled):not(
      .danger-GZajBGIm
    )
    ~ .view-GZajBGIm {
    background-color: var(
      --ui-lib-checkboxInput-color,
      var(--themed-color-container-fill-primary-neutral-bold, #dbdbdb)
    );
    border-color: var(
      --ui-lib-checkboxInput-color,
      var(--themed-color-container-fill-primary-neutral-bold, #dbdbdb)
    );
  }
}
.input-GZajBGIm:active:not(:disabled):not(.danger-GZajBGIm):active
  ~ .view-GZajBGIm {
  border-color: var(
    --ui-lib-checkboxInput-color,
    var(--themed-color-container-fill-primary-neutral-medium, #707070)
  );
}
html.theme-dark
  .input-GZajBGIm:active:not(:disabled):not(.danger-GZajBGIm):active
  ~ .view-GZajBGIm {
  border-color: var(
    --ui-lib-checkboxInput-color,
    var(--themed-color-container-fill-primary-neutral-medium, #8c8c8c)
  );
}
.input-GZajBGIm:checked:active:not(:disabled):not(.danger-GZajBGIm):active
  ~ .view-GZajBGIm {
  background-color: var(
    --ui-lib-checkboxInput-color,
    var(--themed-color-container-fill-primary-neutral-medium, #707070)
  );
}
html.theme-dark
  .input-GZajBGIm:checked:active:not(:disabled):not(.danger-GZajBGIm):active
  ~ .view-GZajBGIm {
  background-color: var(
    --ui-lib-checkboxInput-color,
    var(--themed-color-container-fill-primary-neutral-medium, #8c8c8c)
  );
}
