.priceScaleModeButton-okRV4Kjm {
  --priceScaleModeButtons-color: #1a1a1a;
  --priceScaleModeButtons-background-hover: #f2f2f2;
  --priceScaleModeButtons-border-hover: #ebebeb;
  --priceScaleModeButtons-background-active: #ebebeb;
  --priceScaleModeButtons-border-active: #ebebeb;
  --priceScaleModeButtons-border: #ebebeb;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-feature-settings: "tnum" on, "lnum" on;
  font-style: normal;
  --ui-lib-typography-font-size: 14px;
  font-size: var(--ui-lib-typography-font-size);
  font-weight: 400;
  --ui-lib-typography-line-height: 18px;
  background-color: initial;
  border: 1px solid var(--priceScaleModeButtons-border);
  border-radius: 4px;
  color: var(--priceScaleModeButtons-color);
  display: flex;
  justify-content: center;
  line-height: var(--ui-lib-typography-line-height);
  padding: 1px 0;
  width: 20px;
}
.theme-dark .priceScaleModeButton-okRV4Kjm {
  --priceScaleModeButtons-color: #dbdbdb;
  --priceScaleModeButtons-background-hover: #303030;
  --priceScaleModeButtons-border-hover: #4a4a4a;
  --priceScaleModeButtons-background-active: #3d3d3d;
  --priceScaleModeButtons-border-active: #4a4a4a;
  --priceScaleModeButtons-border: #4a4a4a;
}
@media (any-hover: hover) {
  .priceScaleModeButton-okRV4Kjm:hover {
    background-color: var(--priceScaleModeButtons-background-hover);
    border-color: var(--priceScaleModeButtons-border-hover);
  }
}
.priceScaleModeButton-okRV4Kjm:active {
  background-color: var(--priceScaleModeButtons-background-active);
  border-color: var(--priceScaleModeButtons-border-active);
}
.priceScaleModeButton_activated-okRV4Kjm {
  background-color: #2962ff;
  border-color: #2962ff;
  color: #fff;
}
@media (any-hover: hover) {
  .priceScaleModeButton_activated-okRV4Kjm:hover {
    background-color: #1e53e5;
    border-color: #1e53e5;
  }
}
.priceScaleModeButtons-PEm49B2T {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
}
.priceScaleModeButtons__buttonWrapper-PEm49B2T {
  display: flex;
  flex: 1 1;
  padding: 4px;
}
.priceScaleModeButtons__buttonWrapper-PEm49B2T:first-child {
  justify-content: flex-end;
  padding-right: 2px;
}
.priceScaleModeButtons__buttonWrapper-PEm49B2T:last-child {
  justify-content: flex-start;
  padding-left: 2px;
}
.chart-widget__bottom--themed-light .priceScaleModeButtons__button-PEm49B2T {
  --priceScaleModeButtons-color: #1a1a1a;
  --priceScaleModeButtons-background-hover: #f2f2f2;
  --priceScaleModeButtons-border-hover: #ebebeb;
  --priceScaleModeButtons-background-active: #ebebeb;
  --priceScaleModeButtons-border-active: #ebebeb;
  --priceScaleModeButtons-border: #ebebeb;
}
.chart-widget__bottom--themed-dark .priceScaleModeButtons__button-PEm49B2T {
  --priceScaleModeButtons-color: #dbdbdb;
  --priceScaleModeButtons-background-hover: #303030;
  --priceScaleModeButtons-border-hover: #4a4a4a;
  --priceScaleModeButtons-background-active: #3d3d3d;
  --priceScaleModeButtons-border-active: #4a4a4a;
  --priceScaleModeButtons-border: #4a4a4a;
}
