.container-yrIMi47q {
  cursor: default;
  text-align: center;
  width: 100%;
}
.title-yrIMi47q {
  font-feature-settings: "tnum" on, "lnum" on;
  --ui-lib-typography-line-height: 28px;
  --ui-lib-typography-font-size: 24px;
  color: #131722;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-lib-typography-line-height);
  margin-bottom: 12px;
}
html.theme-dark .title-yrIMi47q {
  color: #d1d4dc;
}
.title_normal-yrIMi47q {
  font-feature-settings: "tnum" on, "lnum" on;
  --ui-lib-typography-line-height: 24px;
  --ui-lib-typography-font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--ui-lib-typography-line-height);
}
.icon-yrIMi47q {
  display: inline-block;
  margin-bottom: 16px;
}
@media screen and (max-height: 430px) and (orientation: landscape) {
  .icon-yrIMi47q {
    display: none;
  }
}
.text-yrIMi47q {
  --ui-lib-typography-line-height: 21px;
  --ui-lib-typography-font-size: 14px;
  color: #131722;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-lib-typography-line-height);
  overflow-wrap: break-word;
}
html.theme-dark .text-yrIMi47q {
  color: #d1d4dc;
}
.text_large-yrIMi47q {
  --ui-lib-typography-line-height: 24px;
  --ui-lib-typography-font-size: 16px;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-lib-typography-line-height);
}
.action-yrIMi47q {
  margin-top: 24px;
}
