.separator-QjUlCDId {
  background-color: var(--tv-color-popup-element-divider-background, #e0e3eb);
  flex-shrink: 0;
  height: 1px;
  margin: 6px 0;
}
html.theme-dark .separator-QjUlCDId {
  background-color: var(--tv-color-popup-element-divider-background, #434651);
}
.small-QjUlCDId {
  margin-bottom: 4px;
  margin-top: 4px;
}
.normal-QjUlCDId {
  margin-bottom: 6px;
  margin-top: 6px;
}
.large-QjUlCDId {
  margin-bottom: 8px;
  margin-top: 8px;
}
