.container-TCHLKPuQ {
  font-feature-settings: "tnum" on, "lnum" on;
  --ui-lib-typography-line-height: 18px;
  --ui-lib-typography-font-size: 14px;
  align-items: flex-start;
  background: #fff;
  border: 1px solid;
  border-radius: 8px;
  color: #131722;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 400;
  justify-content: space-between;
  line-height: var(--ui-lib-typography-line-height);
  padding: 11px 12px;
}
html.theme-dark .container-TCHLKPuQ {
  background: #1e222d;
  color: #d1d4dc;
}
.container-TCHLKPuQ.container-danger-TCHLKPuQ {
  background-color: #fff;
  border-color: #f23645;
}
html.theme-dark .container-TCHLKPuQ.container-danger-TCHLKPuQ {
  background-color: #1e222d;
  border-color: #f23645;
}
.container-TCHLKPuQ.container-danger-TCHLKPuQ .light-title-TCHLKPuQ {
  font-feature-settings: "tnum" on, "lnum" on;
  --ui-lib-typography-line-height: 16px;
  --ui-lib-typography-font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--ui-lib-typography-line-height);
  margin-bottom: 2px;
}
.container-TCHLKPuQ.container-danger-TCHLKPuQ .light-icon-TCHLKPuQ {
  margin-right: 4px;
}
.container-TCHLKPuQ.container-danger-TCHLKPuQ .header-TCHLKPuQ,
.container-TCHLKPuQ.container-danger-TCHLKPuQ .icon-TCHLKPuQ {
  color: #f23645;
}
.container-TCHLKPuQ.light-container-danger-TCHLKPuQ {
  font-feature-settings: "tnum" on, "lnum" on;
  --ui-lib-typography-line-height: 16px;
  --ui-lib-typography-font-size: 12px;
  background: #ffebec;
  border: none;
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-lib-typography-line-height);
  padding: 8px;
}
html.theme-dark .container-TCHLKPuQ.light-container-danger-TCHLKPuQ {
  background: #331f20;
}
.container-TCHLKPuQ.container-warning-TCHLKPuQ {
  background-color: #fff;
  border-color: #ff9800;
}
html.theme-dark .container-TCHLKPuQ.container-warning-TCHLKPuQ {
  background-color: #1e222d;
  border-color: #ff9800;
}
.container-TCHLKPuQ.container-warning-TCHLKPuQ .light-title-TCHLKPuQ {
  font-feature-settings: "tnum" on, "lnum" on;
  --ui-lib-typography-line-height: 16px;
  --ui-lib-typography-font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--ui-lib-typography-line-height);
  margin-bottom: 2px;
}
.container-TCHLKPuQ.container-warning-TCHLKPuQ .light-icon-TCHLKPuQ {
  margin-right: 4px;
}
.container-TCHLKPuQ.container-warning-TCHLKPuQ .header-TCHLKPuQ,
.container-TCHLKPuQ.container-warning-TCHLKPuQ .icon-TCHLKPuQ {
  color: #ff9800;
}
.container-TCHLKPuQ.light-container-warning-TCHLKPuQ {
  font-feature-settings: "tnum" on, "lnum" on;
  --ui-lib-typography-line-height: 16px;
  --ui-lib-typography-font-size: 12px;
  background: #fff3e0;
  border: none;
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-lib-typography-line-height);
  padding: 8px;
}
html.theme-dark .container-TCHLKPuQ.light-container-warning-TCHLKPuQ {
  background: #33261a;
}
.container-TCHLKPuQ.container-success-TCHLKPuQ {
  background-color: #fff;
  border-color: #089981;
}
html.theme-dark .container-TCHLKPuQ.container-success-TCHLKPuQ {
  background-color: #1e222d;
  border-color: #089981;
}
.container-TCHLKPuQ.container-success-TCHLKPuQ .light-title-TCHLKPuQ {
  font-feature-settings: "tnum" on, "lnum" on;
  --ui-lib-typography-line-height: 16px;
  --ui-lib-typography-font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--ui-lib-typography-line-height);
  margin-bottom: 2px;
}
.container-TCHLKPuQ.container-success-TCHLKPuQ .light-icon-TCHLKPuQ {
  margin-right: 4px;
}
.container-TCHLKPuQ.container-success-TCHLKPuQ .header-TCHLKPuQ,
.container-TCHLKPuQ.container-success-TCHLKPuQ .icon-TCHLKPuQ {
  color: #089981;
}
.container-TCHLKPuQ.light-container-success-TCHLKPuQ {
  font-feature-settings: "tnum" on, "lnum" on;
  --ui-lib-typography-line-height: 16px;
  --ui-lib-typography-font-size: 12px;
  background: #daf2ee;
  border: none;
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-lib-typography-line-height);
  padding: 8px;
}
html.theme-dark .container-TCHLKPuQ.light-container-success-TCHLKPuQ {
  background: #082621;
}
.container-TCHLKPuQ.container-default-TCHLKPuQ {
  background-color: #fff;
  border-color: #e0e3eb;
}
html.theme-dark .container-TCHLKPuQ.container-default-TCHLKPuQ {
  background-color: #1e222d;
  border-color: #434651;
}
.container-TCHLKPuQ.container-default-TCHLKPuQ .light-title-TCHLKPuQ {
  font-feature-settings: "tnum" on, "lnum" on;
  --ui-lib-typography-line-height: 16px;
  --ui-lib-typography-font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--ui-lib-typography-line-height);
  margin-bottom: 2px;
}
.container-TCHLKPuQ.container-default-TCHLKPuQ .light-icon-TCHLKPuQ {
  margin-right: 4px;
}
.container-TCHLKPuQ.container-default-TCHLKPuQ .header-TCHLKPuQ,
.container-TCHLKPuQ.container-default-TCHLKPuQ .icon-TCHLKPuQ {
  color: #6a6d78;
}
html.theme-dark .container-TCHLKPuQ.container-default-TCHLKPuQ .header-TCHLKPuQ,
html.theme-dark .container-TCHLKPuQ.container-default-TCHLKPuQ .icon-TCHLKPuQ {
  color: #868993;
}
.container-TCHLKPuQ.light-container-default-TCHLKPuQ {
  font-feature-settings: "tnum" on, "lnum" on;
  --ui-lib-typography-line-height: 16px;
  --ui-lib-typography-font-size: 12px;
  background: #f0f3fa;
  border: none;
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-lib-typography-line-height);
  padding: 8px;
}
html.theme-dark .container-TCHLKPuQ.light-container-default-TCHLKPuQ {
  background: #2a2e39;
}
.container-TCHLKPuQ .icon-TCHLKPuQ {
  display: flex;
  margin-right: 8px;
}
.container-TCHLKPuQ .text-wrap-TCHLKPuQ {
  align-self: center;
  margin-right: 4px;
  white-space: pre-line;
  word-break: break-word;
}
.container-TCHLKPuQ .light-text-wrap-TCHLKPuQ {
  margin-right: 8px;
}
.container-TCHLKPuQ .header-TCHLKPuQ {
  font-feature-settings: "tnum" on, "lnum" on;
  --ui-lib-typography-line-height: 18px;
  --ui-lib-typography-font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--ui-lib-typography-line-height);
}
.close-button-TCHLKPuQ {
  flex-shrink: 0;
  padding: 4px;
}
.light-close-button-TCHLKPuQ {
  padding: 0;
}
.informerBody-TCHLKPuQ {
  display: flex;
  flex-direction: column;
}
.mainProblem-TCHLKPuQ {
  display: flex;
}
.header-inline-TCHLKPuQ {
  display: inline;
}
.header-new-line-TCHLKPuQ {
  display: block;
  margin-bottom: 4px;
}
