.container-hrZZtP0J {
  height: 100%;
  min-width: 0;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.title-cIIj4HrJ {
  color: #131722;
  font-size: 14px;
  margin-right: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html.theme-dark .title-cIIj4HrJ {
  color: #d1d4dc;
}
.title-cIIj4HrJ.disabled-cIIj4HrJ {
  color: #b2b5be;
}
html.theme-dark .title-cIIj4HrJ.disabled-cIIj4HrJ {
  color: #50535e;
}
.icon-cIIj4HrJ {
  font-size: 0;
  margin-right: 4px;
}
.icon-cIIj4HrJ.locked-cIIj4HrJ {
  color: #f7525f;
}
.icon-cIIj4HrJ.open-cIIj4HrJ {
  color: #22ab94;
}
.actionIcon-cIIj4HrJ + .actionIcon-cIIj4HrJ {
  margin-right: 4px;
}
.actionIcon-cIIj4HrJ.selected-cIIj4HrJ {
  --tv-list-item-button-background-hover-color: #90bff9;
}
html.theme-dark .actionIcon-cIIj4HrJ.selected-cIIj4HrJ {
  --tv-list-item-button-background-hover-color: #143a87;
}
@media screen and (max-height: 445px), screen and (max-width: 567px) {
  .codeIcon-cIIj4HrJ {
    display: none;
  }
}
.solutionIcon-cIIj4HrJ {
  color: #d1d4dc;
}
.solutionIcon-cIIj4HrJ,
html.theme-dark .solutionIcon-cIIj4HrJ {
  --tv-list-item-button-background-hover-color: #0000;
}
html.theme-dark .solutionIcon-cIIj4HrJ {
  color: #50535e;
}
.solutionIcon-cIIj4HrJ.selected-cIIj4HrJ,
html.theme-dark .solutionIcon-cIIj4HrJ.selected-cIIj4HrJ {
  --tv-list-item-button-background-hover-color: #0000;
}
@media (any-hover: hover) {
  .solutionIcon-cIIj4HrJ:hover {
    color: #6a6d78;
  }
  html.theme-dark .solutionIcon-cIIj4HrJ:hover {
    color: #868993;
  }
}
@keyframes highlight-animation-theme-light-WeNdU0sq {
  0% {
    background-color: initial;
  }
  30% {
    background-color: #e3effd;
  }
  60% {
    background-color: initial;
  }
  to {
    background-color: #e3effd;
  }
}
@keyframes highlight-animation-theme-dark-WeNdU0sq {
  0% {
    background-color: initial;
  }
  30% {
    background-color: #132042;
  }
  60% {
    background-color: initial;
  }
  to {
    background-color: #132042;
  }
}
.container-WeNdU0sq {
  align-items: center;
  box-sizing: border-box;
  cursor: default;
  display: flex;
  height: 32px;
  padding-left: 16px;
  padding-right: 6px;
}
.container-WeNdU0sq.selected-WeNdU0sq {
  background-color: #e3effd;
}
html.theme-dark .container-WeNdU0sq.selected-WeNdU0sq {
  background-color: #132042;
}
@media (any-hover: hover) {
  .container-WeNdU0sq:not(.disabled-WeNdU0sq):hover {
    background-color: #f0f3fa;
  }
  html.theme-dark .container-WeNdU0sq:not(.disabled-WeNdU0sq):hover {
    background-color: #2a2e39;
  }
  .container-WeNdU0sq:not(.disabled-WeNdU0sq):hover.selected-WeNdU0sq {
    background-color: #e3effd;
  }
  html.theme-dark
    .container-WeNdU0sq:not(.disabled-WeNdU0sq):hover.selected-WeNdU0sq {
    background-color: #132042;
  }
  .container-WeNdU0sq:not(.disabled-WeNdU0sq):hover.selected-WeNdU0sq
    .favorite-WeNdU0sq:hover {
    background-color: #90bff9;
  }
  html.theme-dark
    .container-WeNdU0sq:not(.disabled-WeNdU0sq):hover.selected-WeNdU0sq
    .favorite-WeNdU0sq:hover {
    background-color: #143a87;
  }
}
.container-WeNdU0sq.highlighted-WeNdU0sq {
  animation-duration: .8s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.container-WeNdU0sq.highlighted-WeNdU0sq.light-WeNdU0sq {
  animation-name: highlight-animation-theme-light-WeNdU0sq;
}
.container-WeNdU0sq.highlighted-WeNdU0sq.dark-WeNdU0sq {
  animation-name: highlight-animation-theme-dark-WeNdU0sq;
}
@media screen and (max-width: 430px) {
  .container-WeNdU0sq {
    height: 40px;
  }
}
.badge-WeNdU0sq {
  margin-right: 4px;
}
.main-WeNdU0sq {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  margin-left: auto;
  min-width: 0;
}
.main-WeNdU0sq.paddingLeft-WeNdU0sq {
  padding-right: 22px;
}
.author-WeNdU0sq {
  color: #2962ff;
  cursor: default;
  flex-basis: 100px;
  margin-right: 24px;
  min-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html.theme-dark .author-WeNdU0sq {
  color: #2962ff;
}
.likes-WeNdU0sq {
  color: #131722;
  flex-basis: 50px;
  margin-right: 24px;
  min-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html.theme-dark .likes-WeNdU0sq {
  color: #d1d4dc;
}
.actions-WeNdU0sq {
  display: flex;
  flex-basis: 44px;
  justify-content: flex-end;
  margin-right: 24px;
  min-width: 44px;
}
@media (any-hover: hover) {
  .container-WeNdU0sq.disabled-WeNdU0sq .actions-WeNdU0sq,
  .container-WeNdU0sq.disabled-WeNdU0sq
    .favorite-WeNdU0sq:not(.isActive-WeNdU0sq),
  .container-WeNdU0sq:not(:hover) .actions-WeNdU0sq,
  .container-WeNdU0sq:not(:hover) .favorite-WeNdU0sq:not(.isActive-WeNdU0sq) {
    visibility: hidden;
  }
}
.title-z9fs4j4t {
  color: #6a6d78;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: .4px;
  line-height: 16px;
  margin: 0;
  text-transform: uppercase;
  white-space: nowrap;
}
html.theme-dark .title-z9fs4j4t {
  color: #868993;
}
.title-z9fs4j4t:first-child {
  margin-left: auto;
}
.title-z9fs4j4t + .title-z9fs4j4t {
  margin-right: 24px;
}
.title-z9fs4j4t.small-z9fs4j4t {
  width: 50px;
}
.title-z9fs4j4t.normal-z9fs4j4t {
  width: 100px;
}
.title-z9fs4j4t.large-z9fs4j4t {
  width: 150px;
}
.container-XOHpda28 {
  box-sizing: border-box;
  cursor: default;
  display: flex;
  padding: 16px 32px 8px 84px;
}
.container-QcG0kDOU {
  align-items: center;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media screen and (max-height: 430px) and (orientation: landscape) {
  .container-QcG0kDOU {
    justify-content: flex-start;
  }
}
.image-QcG0kDOU {
  margin-bottom: 12px;
}
@media screen and (max-height: 430px) and (orientation: landscape) {
  .image-QcG0kDOU {
    display: none;
  }
}
.title-QcG0kDOU {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 16px;
}
html.theme-dark .title-QcG0kDOU {
  color: #b2b5be;
}
.description-QcG0kDOU {
  color: #131722;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
html.theme-dark .description-QcG0kDOU {
  color: #d1d4dc;
}
.button-QcG0kDOU {
  cursor: default;
  margin-top: 24px;
}
.dialog-I087YV6b {
  height: 600px;
  max-width: 840px;
  width: calc(100% - 20px);
}
.dialogLibrary-I087YV6b {
  height: 600px;
}
.contentContainer-I087YV6b {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: auto;
  width: 100%;
}
.listContainer-I087YV6b::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.listContainer-I087YV6b::-webkit-scrollbar-thumb {
  background-color: #9598a1;
  border: 1px solid #f0f3fa;
  border-radius: 3px;
}
html.theme-dark .listContainer-I087YV6b::-webkit-scrollbar-thumb {
  background-color: #363a45;
  border-color: #1e222d;
}
.listContainer-I087YV6b::-webkit-scrollbar-track {
  background-color: initial;
  border-radius: 3px;
}
.listContainer-I087YV6b::-webkit-scrollbar-corner {
  display: none;
}
.scroll-I087YV6b::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.scroll-I087YV6b::-webkit-scrollbar-thumb {
  background-color: #9598a1;
  border: 1px solid #f0f3fa;
  border-radius: 3px;
}
html.theme-dark .scroll-I087YV6b::-webkit-scrollbar-thumb {
  background-color: #363a45;
  border-color: #1e222d;
}
.scroll-I087YV6b::-webkit-scrollbar-track {
  background-color: initial;
  border-radius: 3px;
}
.scroll-I087YV6b::-webkit-scrollbar-corner {
  display: none;
}
@media screen and (max-width: 430px) {
  .scroll-I087YV6b {
    box-sizing: border-box;
    padding-bottom: 6px;
  }
}
.sidebarContainer-I087YV6b {
  padding-bottom: 6px;
  padding-top: 6px;
}
.noContentBlock-I087YV6b {
  box-sizing: border-box;
  min-height: 100%;
  padding: 24px 40px 60px;
}
.tabWithHint-I087YV6b {
  height: 0;
  position: relative;
  top: 20px;
}
@media screen and (max-width: 430px) {
  .tabWithHint-I087YV6b {
    top: 56px;
  }
}
.solution-I087YV6b {
  margin-right: 5px;
}
