.title-uNZ8yW1y {
  align-items: center;
  color: #131722;
  cursor: default;
  display: flex;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 600;
  justify-content: space-between;
  line-height: 24px;
  overflow: hidden;
  padding: 5px 7px 5px 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html.theme-dark .title-uNZ8yW1y {
  color: #d1d4dc;
}
.title-uNZ8yW1y.withoutIcon-uNZ8yW1y {
  padding: 12px 16px;
}
.buttons-uNZ8yW1y {
  align-items: center;
  border-bottom: 1px solid #e0e3eb;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  padding: 0 8px;
}
html.theme-dark .buttons-uNZ8yW1y {
  border-bottom: 1px solid #363a45;
}
.button-uNZ8yW1y {
  flex: none;
  height: 38px;
  justify-content: center;
  padding: 0;
  transition: none;
  width: 38px;
}
.button-uNZ8yW1y.disabled-uNZ8yW1y {
  opacity: 0.3;
}
.button-uNZ8yW1y.disabled-uNZ8yW1y,
.button-uNZ8yW1y.disabled-uNZ8yW1y:active,
.button-uNZ8yW1y.disabled-uNZ8yW1y:before {
  background-color: #fff;
}
@media (any-hover: hover) {
  .button-uNZ8yW1y.disabled-uNZ8yW1y:hover {
    background-color: #fff;
  }
}
html.theme-dark .button-uNZ8yW1y.disabled-uNZ8yW1y,
html.theme-dark .button-uNZ8yW1y.disabled-uNZ8yW1y:active,
html.theme-dark .button-uNZ8yW1y.disabled-uNZ8yW1y:before {
  background-color: #131722;
}
@media (any-hover: hover) {
  html.theme-dark .button-uNZ8yW1y.disabled-uNZ8yW1y:hover {
    background-color: #131722;
  }
}
.spacing-uNZ8yW1y {
  flex-grow: 1;
}
.toolbar-uNZ8yW1y {
  display: contents;
}
.wrap-ukH4sVzT {
  display: flex;
  flex-direction: column;
  height: 100%;
  touch-action: manipulation;
}
.wrap-ukH4sVzT .space-ukH4sVzT {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 0;
}
.wrap-ukH4sVzT .tree-ukH4sVzT {
  overflow-y: auto;
}
.wrap-C8ln3wvp {
  align-items: center;
  background-color: inherit;
  display: flex;
  flex: none;
  padding: 5px 8px 5px 22px;
}
.wrap-C8ln3wvp.dialog-C8ln3wvp {
  background-color: #fff;
}
html.theme-dark .wrap-C8ln3wvp.dialog-C8ln3wvp {
  background-color: #1e222d;
}
.wrap-C8ln3wvp.offset-C8ln3wvp {
  padding-left: 48px;
}
.wrap-C8ln3wvp .title-C8ln3wvp {
  color: #131722;
  margin-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html.theme-dark .wrap-C8ln3wvp .title-C8ln3wvp {
  color: #d1d4dc;
}
.wrap-C8ln3wvp .title-C8ln3wvp.main-C8ln3wvp {
  font-weight: 600;
}
.wrap-C8ln3wvp .title-C8ln3wvp.disabled-C8ln3wvp {
  color: #b2b5be;
}
html.theme-dark .wrap-C8ln3wvp .title-C8ln3wvp.disabled-C8ln3wvp {
  color: #50535e;
}
.wrap-C8ln3wvp .icon-C8ln3wvp {
  color: #131722;
  flex-shrink: 0;
  height: 28px;
  line-height: 28px;
  width: 28px;
}
html.theme-dark .wrap-C8ln3wvp .icon-C8ln3wvp {
  color: #d1d4dc;
}
.wrap-C8ln3wvp .pathIcon-C8ln3wvp {
  align-items: center;
  display: flex;
  height: 24px;
  justify-content: center;
  padding: 2px;
  text-align: center;
  width: 24px;
}
.wrap-C8ln3wvp .syncIconWrap-C8ln3wvp {
  background-color: inherit;
  height: 28px;
  position: relative;
  width: 0;
}
.wrap-C8ln3wvp .syncIcon-C8ln3wvp {
  align-items: flex-end;
  background-color: inherit;
  border-radius: 4px;
  bottom: 0;
  color: #6a6d78;
  display: flex;
  height: 14px;
  justify-content: flex-end;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 14px;
}
html.theme-dark .wrap-C8ln3wvp .syncIcon-C8ln3wvp {
  color: #868993;
}
.wrap-C8ln3wvp .rightButtons-C8ln3wvp {
  display: flex;
  flex: none;
  height: 22px;
  margin-left: auto;
  position: relative;
}
.wrap-C8ln3wvp.hover-C8ln3wvp {
  background-color: #f0f3fa;
}
html.theme-dark .wrap-C8ln3wvp.hover-C8ln3wvp {
  background-color: #2a2e39;
}
.wrap-C8ln3wvp.disabled-C8ln3wvp {
  --tv-list-item-button-background-hover-color: #f0f3fa;
}
html.theme-dark .wrap-C8ln3wvp.disabled-C8ln3wvp {
  --tv-list-item-button-background-hover-color: #2a2e39;
}
.wrap-C8ln3wvp.disabled-C8ln3wvp .button-C8ln3wvp,
.wrap-C8ln3wvp.disabled-C8ln3wvp .expandHandle-C8ln3wvp,
.wrap-C8ln3wvp.disabled-C8ln3wvp .icon-C8ln3wvp,
.wrap-C8ln3wvp.disabled-C8ln3wvp .syncIcon-C8ln3wvp,
.wrap-C8ln3wvp.disabled-C8ln3wvp .title-C8ln3wvp {
  color: #b2b5be;
}
html.theme-dark .wrap-C8ln3wvp.disabled-C8ln3wvp .button-C8ln3wvp,
html.theme-dark .wrap-C8ln3wvp.disabled-C8ln3wvp .expandHandle-C8ln3wvp,
html.theme-dark .wrap-C8ln3wvp.disabled-C8ln3wvp .icon-C8ln3wvp,
html.theme-dark .wrap-C8ln3wvp.disabled-C8ln3wvp .syncIcon-C8ln3wvp,
html.theme-dark .wrap-C8ln3wvp.disabled-C8ln3wvp .title-C8ln3wvp {
  color: #50535e;
}
.wrap-C8ln3wvp.selected-C8ln3wvp .rightButtons-C8ln3wvp .button-C8ln3wvp {
  --tv-list-item-button-background-hover-color: #90bff9;
}
html.theme-dark
  .wrap-C8ln3wvp.selected-C8ln3wvp
  .rightButtons-C8ln3wvp
  .button-C8ln3wvp {
  --tv-list-item-button-background-hover-color: #143a87;
}
.wrap-C8ln3wvp.childOfSelected-C8ln3wvp
  .rightButtons-C8ln3wvp
  .button-C8ln3wvp {
  --tv-list-item-button-background-hover-color: #bbd9fb;
}
html.theme-dark
  .wrap-C8ln3wvp.childOfSelected-C8ln3wvp
  .rightButtons-C8ln3wvp
  .button-C8ln3wvp {
  --tv-list-item-button-background-hover-color: #142e61;
}
.wrap-C8ln3wvp .renameInput-C8ln3wvp {
  background-color: #fff;
  height: 28px;
  margin-left: 3px;
  width: 100%;
}
html.theme-dark .wrap-C8ln3wvp .renameInput-C8ln3wvp {
  background-color: #2a2e39;
}
.wrap-C8ln3wvp .renameInput-C8ln3wvp[draggable="true"] {
  -webkit-user-select: text;
  user-select: text;
}
.button-C8ln3wvp {
  --tv-list-item-button-background-hover-color: #e0e3eb;
  display: none;
  margin-left: 8px;
  visibility: hidden;
}
html.theme-dark .button-C8ln3wvp {
  --tv-list-item-button-background-hover-color: #363a45;
}
.button-C8ln3wvp.warn-C8ln3wvp,
.button-C8ln3wvp.warn-C8ln3wvp:active,
html.theme-dark .button-C8ln3wvp.warn-C8ln3wvp {
  color: #fb8c00;
}
@media (any-hover: hover) {
  .button-C8ln3wvp.warn-C8ln3wvp:hover {
    color: #fb8c00;
  }
}
html.theme-dark .button-C8ln3wvp.warn-C8ln3wvp:active {
  color: #fb8c00;
}
@media (any-hover: hover) {
  html.theme-dark .button-C8ln3wvp.warn-C8ln3wvp:hover {
    color: #fb8c00;
  }
}
.button-C8ln3wvp.visible-C8ln3wvp {
  display: inline-flex;
  visibility: visible;
}
.button-C8ln3wvp.visible-C8ln3wvp ~ .button-C8ln3wvp {
  display: inline-flex;
}
