.errors-bghR31WL {
  background-color: #2a2e39;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  opacity: 0;
  padding: 10px 15px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  z-index: 2;
}
html.theme-dark .errors-bghR31WL {
  background-color: #363a45;
}
.errors-bghR31WL:empty {
  display: none;
}
.errors-bghR31WL.show-bghR31WL {
  opacity: 1;
}
.errors-bghR31WL .error-bghR31WL {
  font-size: 12px;
  line-height: 1.4;
  margin-top: 10px;
  text-transform: none;
  word-break: break-word;
}
.errors-bghR31WL .error-bghR31WL:first-child {
  margin-top: 0;
}
.visually-hidden-bghR31WL {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.error-icon-UhKAouIg {
  display: inline-flex;
}
.error-icon-UhKAouIg.intent-danger-UhKAouIg,
html.theme-dark .error-icon-UhKAouIg.intent-danger-UhKAouIg {
  color: #f23645;
}
.error-icon-UhKAouIg.intent-warning-UhKAouIg,
html.theme-dark .error-icon-UhKAouIg.intent-warning-UhKAouIg {
  color: #ff9800;
}
.static-messages-cF4vS9J8 {
  --ui-lib-typography-line-height: 17px;
  --ui-lib-typography-font-size: 12px;
  flex-flow: column nowrap;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-lib-typography-line-height);
}
.static-messages-cF4vS9J8.errors-cF4vS9J8,
html.theme-dark .static-messages-cF4vS9J8.errors-cF4vS9J8 {
  color: #f23645;
}
.static-messages-cF4vS9J8.warnings-cF4vS9J8,
html.theme-dark .static-messages-cF4vS9J8.warnings-cF4vS9J8 {
  color: #ff9800;
}
.static-messages-cF4vS9J8.success-mesages-cF4vS9J8,
html.theme-dark .static-messages-cF4vS9J8.success-mesages-cF4vS9J8 {
  color: #089981;
}
.static-messages-cF4vS9J8.input-description-cF4vS9J8 {
  color: #6a6d78;
}
html.theme-dark .static-messages-cF4vS9J8.input-description-cF4vS9J8 {
  color: #868993;
}
.static-messages-cF4vS9J8 .message-cF4vS9J8 {
  margin: 0;
}
.calendar-N6r5jhbE {
  background-color: #fff;
  box-sizing: border-box;
  color: #131722;
  cursor: default;
  direction: ltr;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  min-height: 332px;
  padding: 12px;
  -webkit-user-select: none;
  user-select: none;
  width: 286px;
}
html.theme-dark .calendar-N6r5jhbE {
  background-color: #1e222d;
  color: #d1d4dc;
}
.popupStyle-N6r5jhbE {
  background-color: var(--tv-color-popup-background, #fff);
  border-radius: 6px;
  box-shadow: 0 2px 4px #0003;
}
html.theme-dark .popupStyle-N6r5jhbE {
  background-color: var(--tv-color-popup-background, #1e222d);
  box-shadow: 0 2px 4px #0006;
}
.header-N6r5jhbE {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 3px;
  padding-right: 3px;
}
.flip-horizontal-N6r5jhbE > * {
  transform: scale(-1);
}
.sub-header-N6r5jhbE {
  font-feature-settings: "tnum" on, "lnum" on;
  --ui-lib-typography-line-height: 18px;
  --ui-lib-typography-font-size: 14px;
  align-items: center;
  background-color: #f8f9fd;
  border-radius: 6px;
  color: #6a6d78;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 400;
  justify-content: space-around;
  line-height: var(--ui-lib-typography-line-height);
  margin: 12px 0;
  padding-bottom: 2px;
  padding-top: 2px;
}
html.theme-dark .sub-header-N6r5jhbE {
  background-color: #2a2e39;
  color: #868993;
}
.view-decades-N6r5jhbE,
.view-month-N6r5jhbE,
.view-year-N6r5jhbE {
  height: 226px;
}
.view-month-N6r5jhbE,
.view-month-N6r5jhbE .weeks-N6r5jhbE {
  display: flex;
  flex-direction: column;
}
.view-month-N6r5jhbE .weeks-N6r5jhbE .week-N6r5jhbE {
  display: flex;
  justify-content: space-between;
}
.view-month-N6r5jhbE
  .weeks-N6r5jhbE
  .week-N6r5jhbE:first-child
  .day-N6r5jhbE
  + .day-N6r5jhbE,
.view-month-N6r5jhbE
  .weeks-N6r5jhbE
  .week-N6r5jhbE:last-child
  .day-N6r5jhbE
  + .day-N6r5jhbE {
  margin-left: 4px;
}
.view-month-N6r5jhbE .weeks-N6r5jhbE .week-N6r5jhbE:first-child {
  justify-content: flex-end;
}
.view-month-N6r5jhbE .weeks-N6r5jhbE .week-N6r5jhbE:last-child {
  justify-content: flex-start;
}
.view-month-N6r5jhbE .weeks-N6r5jhbE .week-N6r5jhbE + .week-N6r5jhbE {
  margin-top: 4px;
}
.view-month-N6r5jhbE .weeks-N6r5jhbE .week-N6r5jhbE .day-N6r5jhbE {
  padding: 0;
}
.view-month-N6r5jhbE
  .weeks-N6r5jhbE
  .week-N6r5jhbE
  .day-N6r5jhbE.accent-color-N6r5jhbE {
  --ui-lib-light-button-color-content: #fff;
  --ui-lib-light-button-color-bg: #2962ff;
  --ui-lib-light-button-color-border: #2962ff;
}
html.theme-dark
  .view-month-N6r5jhbE
  .weeks-N6r5jhbE
  .week-N6r5jhbE
  .day-N6r5jhbE.accent-color-N6r5jhbE {
  --ui-lib-light-button-color-border: #2962ff;
  --ui-lib-light-button-color-bg: #2962ff;
  --ui-lib-light-button-color-content: #f0f3fa;
}
.view-month-N6r5jhbE
  .weeks-N6r5jhbE
  .week-N6r5jhbE
  .day-N6r5jhbE.current-day-N6r5jhbE {
  position: relative;
}
.view-month-N6r5jhbE
  .weeks-N6r5jhbE
  .week-N6r5jhbE
  .day-N6r5jhbE.current-day-N6r5jhbE:before {
  background: currentColor;
  border-radius: 1px;
  content: "";
  height: 2px;
  left: 6px;
  margin-top: -6px;
  position: absolute;
  right: 6px;
  top: 100%;
}
.view-year-N6r5jhbE {
  gap: 30px 3px;
  grid-template-columns: repeat(3, auto);
}
.view-decades-N6r5jhbE,
.view-year-N6r5jhbE {
  display: grid;
  grid-template-rows: repeat(5, auto);
}
.view-decades-N6r5jhbE {
  gap: 14px 3px;
  grid-template-columns: repeat(4, auto);
}
.slot-wrapper-N6r5jhbE:not(:empty) {
  margin-top: 12px;
}
.hide-focus-ring-N6r5jhbE:focus-visible:after {
  display: none;
}
.decade-button-N6r5jhbE {
  padding: 0 4px;
}
.visually-hidden-N6r5jhbE {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.pickerInput-P2cJzZdH {
  position: relative;
}
.pickerInput-P2cJzZdH .icon-P2cJzZdH {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  opacity: 0.5;
  padding: 0 6px;
}
.pickerInput-P2cJzZdH .icon-P2cJzZdH svg {
  fill: #6a6d78;
  height: 16px;
  width: 16px;
}
html.theme-dark .pickerInput-P2cJzZdH .icon-P2cJzZdH svg {
  fill: #868993;
}
.pickerInput-P2cJzZdH .icon-P2cJzZdH.disabled-P2cJzZdH {
  opacity: 0.1;
}
.picker-P2cJzZdH {
  transition: opacity .2625s ease;
  z-index: 99;
}
.fixed-P2cJzZdH {
  position: fixed;
}
.absolute-P2cJzZdH {
  position: absolute;
}
.nativePicker-P2cJzZdH {
  bottom: 0;
  left: 0;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
}
.icon-Rubz29lH {
  display: flex;
}
.tooltip-RU08GcsY {
  background-color: #2a2e39;
  border-radius: 2px;
  color: #f0f3fa;
  padding: 4px 8px;
  white-space: nowrap;
}
html.theme-dark .tooltip-RU08GcsY {
  background-color: #434651;
}
.wrap-NsE0FV0Z {
  position: relative;
}
.input-NsE0FV0Z {
  bottom: 0;
  left: 0;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
}
.container-PNiXwSz6 {
  display: inline-block;
  position: relative;
}
.icon-PNiXwSz6 {
  color: var(--ui-lib-control-default-slot-color, currentColor);
  font-size: 0;
}
.tooltip-PNiXwSz6 {
  bottom: calc(100% + 4px);
  left: 50%;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
}
.date-PNiXwSz6 {
  max-width: 150px;
}
.time-PNiXwSz6 {
  max-width: 100px;
}
