.footer-dwINHZFL {
  align-items: center;
  background-color: #f8f9fd;
  border-radius: 0 0 6px 6px;
  box-sizing: border-box;
  color: #6a6d78;
  cursor: default;
  display: flex;
  flex: 0 0 auto;
  font-size: 13px;
  justify-content: center;
  line-height: 17px;
  max-height: 65px;
  min-height: 40px;
  padding: 9px 20px;
  text-align: center;
}
html.theme-dark .footer-dwINHZFL {
  background-color: #2a2e39;
  color: #868993;
}
