.wrapper-nGEmjtaX {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  overflow: hidden;
}
.container-nGEmjtaX {
  -webkit-overflow-scrolling: touch;
  border-right: 1px solid #e0e3eb;
  display: flex;
  flex: 1 1 auto;
  flex: none;
  flex-direction: column;
  min-height: 145px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 6px;
  padding-top: 6px;
  scrollbar-color: #9598a1 #0000;
  scrollbar-width: thin;
  width: 200px;
}
html.theme-dark .container-nGEmjtaX {
  border-right: 1px solid #434651;
  scrollbar-color: #363a45 #0000;
}
@media screen and (max-height: 290px) {
  .container-nGEmjtaX {
    min-height: auto;
  }
}
.container-nGEmjtaX::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.container-nGEmjtaX::-webkit-scrollbar-thumb {
  background-color: #9598a1;
  border: 1px solid #f0f3fa;
  border-radius: 3px;
}
html.theme-dark .container-nGEmjtaX::-webkit-scrollbar-thumb {
  background-color: #363a45;
  border-color: #1e222d;
}
.container-nGEmjtaX::-webkit-scrollbar-track {
  background-color: initial;
  border-radius: 3px;
}
.container-nGEmjtaX::-webkit-scrollbar-corner {
  display: none;
}
.tab-nGEmjtaX {
  align-items: center;
  box-sizing: border-box;
  color: #131722;
  display: flex;
  flex-shrink: 0;
  height: 40px;
  padding: 6px 0 6px 20px;
}
html.theme-dark .tab-nGEmjtaX {
  color: #d1d4dc;
}
@media (any-hover: hover) {
  .tab-nGEmjtaX:hover {
    background-color: #f0f3fa;
  }
  html.theme-dark .tab-nGEmjtaX:hover {
    background-color: #2a2e39;
  }
}
.tab-nGEmjtaX.active-nGEmjtaX {
  background-color: #f0f3fa;
}
html.theme-dark .tab-nGEmjtaX.active-nGEmjtaX {
  background-color: #2a2e39;
}
.tab-nGEmjtaX.active-nGEmjtaX .icon-nGEmjtaX,
.tab-nGEmjtaX.active-nGEmjtaX .title-nGEmjtaX {
  font-feature-settings: "tnum" on, "lnum" on;
  --ui-lib-typography-line-height: 18px;
  --ui-lib-typography-font-size: 14px;
  color: #131722;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--ui-lib-typography-line-height);
}
html.theme-dark .tab-nGEmjtaX.active-nGEmjtaX .icon-nGEmjtaX,
html.theme-dark .tab-nGEmjtaX.active-nGEmjtaX .title-nGEmjtaX {
  color: #fff;
}
.icon-nGEmjtaX {
  height: 28px;
  width: 28px;
}
.title-nGEmjtaX {
  --ui-lib-typography-line-height: 21px;
  --ui-lib-typography-font-size: 14px;
  cursor: default;
  display: flex;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-lib-typography-line-height);
  margin-left: 8px;
  min-width: 0;
  white-space: nowrap;
}
.title-nGEmjtaX.withoutIcon-nGEmjtaX {
  margin-left: 0;
}
.titleText-nGEmjtaX {
  flex: 0 100%;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nested-nGEmjtaX {
  align-items: center;
  color: #6a6d78;
  display: flex;
  flex: 1 1 auto;
  height: 0;
  justify-content: flex-end;
  padding-right: 8px;
}
html.theme-dark .nested-nGEmjtaX {
  color: #868993;
}
.isTablet-nGEmjtaX.container-nGEmjtaX {
  width: 48px;
}
.isTablet-nGEmjtaX.tab-nGEmjtaX {
  height: auto;
  justify-content: center;
  padding-left: 0;
}
.isMobile-nGEmjtaX.container-nGEmjtaX {
  width: 100%;
}
.isMobile-nGEmjtaX.tab-nGEmjtaX {
  height: auto;
  justify-content: flex-start;
  padding: 0 0 0 20px;
}
.isMobile-nGEmjtaX.tab-nGEmjtaX:last-child .title-nGEmjtaX {
  border-bottom-width: 0;
}
.isMobile-nGEmjtaX.tab-nGEmjtaX.active-nGEmjtaX .title-nGEmjtaX {
  font-feature-settings: "tnum" on, "lnum" on;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-weight: 600;
}
.isMobile-nGEmjtaX .title-nGEmjtaX,
.isMobile-nGEmjtaX.tab-nGEmjtaX.active-nGEmjtaX .title-nGEmjtaX {
  --ui-lib-typography-line-height: 24px;
  --ui-lib-typography-font-size: 16px;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  line-height: var(--ui-lib-typography-line-height);
}
.isMobile-nGEmjtaX .title-nGEmjtaX {
  align-items: center;
  border-bottom: 1px solid #e0e3eb;
  display: flex;
  flex: 1 1 auto;
  font-weight: 400;
  padding-bottom: 17px;
  padding-top: 17px;
}
html.theme-dark .isMobile-nGEmjtaX .title-nGEmjtaX {
  border-bottom-color: #434651;
}
.accessible-nGEmjtaX {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  color: #131722;
  display: flex;
  flex-shrink: 0;
  height: 40px;
  padding: 6px 0 6px 20px;
}
html.theme-dark .accessible-nGEmjtaX {
  color: #d1d4dc;
}
@media (any-hover: hover) {
  .accessible-nGEmjtaX:hover {
    background-color: #f0f3fa;
  }
  html.theme-dark .accessible-nGEmjtaX:hover {
    background-color: #2a2e39;
  }
}
.accessible-nGEmjtaX.active-nGEmjtaX {
  background-color: #f0f3fa;
}
html.theme-dark .accessible-nGEmjtaX.active-nGEmjtaX {
  background-color: #2a2e39;
}
.accessible-nGEmjtaX.active-nGEmjtaX .icon-nGEmjtaX,
.accessible-nGEmjtaX.active-nGEmjtaX .title-nGEmjtaX {
  font-feature-settings: "tnum" on, "lnum" on;
  --ui-lib-typography-line-height: 18px;
  --ui-lib-typography-font-size: 14px;
  color: #131722;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  font-size: var(--ui-lib-typography-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--ui-lib-typography-line-height);
}
html.theme-dark .accessible-nGEmjtaX.active-nGEmjtaX .icon-nGEmjtaX,
html.theme-dark .accessible-nGEmjtaX.active-nGEmjtaX .title-nGEmjtaX {
  color: #fff;
}
.accessible-nGEmjtaX {
  outline: none;
  overflow: visible;
  position: relative;
}
.accessible-nGEmjtaX:focus {
  outline: none;
}
.accessible-nGEmjtaX:focus-visible {
  outline: none;
}
.accessible-nGEmjtaX:after {
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  content: "";
  display: none;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.accessible-nGEmjtaX:focus:after {
  display: block;
}
.accessible-nGEmjtaX:focus-visible:after {
  display: block;
}
.accessible-nGEmjtaX:focus:not(:focus-visible):after {
  display: none;
}
.accessible-nGEmjtaX:after {
  border-color: #2962ff;
  border-radius: 6px;
}
