.defaultsButtonText-zcLkuEMM {
  color: #131722;
  font-size: 16px;
  width: 100px;
}
html.theme-dark .defaultsButtonText-zcLkuEMM {
  color: #d1d4dc;
}
.defaultsButtonItem-zcLkuEMM {
  min-width: 100px;
}
.defaultsButtonIcon-zcLkuEMM {
  display: flex;
}
.themesButtonText-AeBgp7zz {
  color: #131722;
  font-size: 14px;
  width: 100px;
}
html.theme-dark .themesButtonText-AeBgp7zz {
  color: #d1d4dc;
}
.themesButtonIcon-AeBgp7zz {
  display: flex;
}
.defaultsButtonText-AeBgp7zz {
  color: #131722;
  font-size: 16px;
  width: 100px;
}
html.theme-dark .defaultsButtonText-AeBgp7zz {
  color: #d1d4dc;
}
.defaultsButtonItem-AeBgp7zz {
  min-width: 100px;
}
