.dialog-lmxpCvnK {
  display: flex;
  min-height: 300px;
  min-width: 380px;
}
.dialogWrapper-lmxpCvnK {
  flex-grow: 1;
}
.wrap-lmxpCvnK {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
  scrollbar-color: #9598a1 #0000;
  scrollbar-width: thin;
}
html.theme-dark .wrap-lmxpCvnK {
  scrollbar-color: #363a45 #0000;
}
.wrap-lmxpCvnK::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.wrap-lmxpCvnK::-webkit-scrollbar-thumb {
  background-color: #9598a1;
  border: 1px solid #f0f3fa;
  border-radius: 3px;
}
html.theme-dark .wrap-lmxpCvnK::-webkit-scrollbar-thumb {
  background-color: #363a45;
  border-color: #1e222d;
}
.wrap-lmxpCvnK::-webkit-scrollbar-track {
  background-color: initial;
  border-radius: 3px;
}
.wrap-lmxpCvnK::-webkit-scrollbar-corner {
  display: none;
}
