.themesButtonText-w7kgghoW {
  color: #131722;
  font-size: 14px;
  width: 100px;
}
html.theme-dark .themesButtonText-w7kgghoW {
  color: #d1d4dc;
}
.themesButtonIcon-w7kgghoW {
  display: flex;
}
.defaultsButtonText-w7kgghoW {
  color: #131722;
  font-size: 16px;
  width: 100px;
}
html.theme-dark .defaultsButtonText-w7kgghoW {
  color: #d1d4dc;
}
.defaultsButtonItem-w7kgghoW {
  min-width: 100px;
}
.defaultsButtonItem-w7kgghoW:focus-within .remove-w7kgghoW {
  visibility: visible;
}
.backButton-yMMXpYEB {
  margin-left: -3px;
  margin-right: 17px;
}
.withSidebar-F0WBLDV5 {
  display: block;
  max-width: 750px;
  min-width: 610px;
  width: auto;
}
@media screen and (max-width: 768px) {
  .withSidebar-F0WBLDV5 {
    max-width: 610px;
    min-width: 420px;
    width: auto;
  }
}
@media screen and (max-width: 430px) {
  .withSidebar-F0WBLDV5 {
    min-height: auto;
    min-width: 100%;
  }
}
.withSidebar-F0WBLDV5 .content-F0WBLDV5 {
  border-top: 1px solid #e0e3eb;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  overflow: hidden;
}
html.theme-dark .withSidebar-F0WBLDV5 .content-F0WBLDV5 {
  border-top: 1px solid #434651;
}
.withSidebar-F0WBLDV5 .tabContent-F0WBLDV5 {
  -webkit-overflow-scrolling: touch;
  flex: 1 1 auto;
  min-height: 145px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: #9598a1 #0000;
  scrollbar-width: thin;
  width: auto;
}
html.theme-dark .withSidebar-F0WBLDV5 .tabContent-F0WBLDV5 {
  scrollbar-color: #363a45 #0000;
}
@media screen and (max-height: 290px) {
  .withSidebar-F0WBLDV5 .tabContent-F0WBLDV5 {
    min-height: auto;
  }
}
.withSidebar-F0WBLDV5 .tabContent-F0WBLDV5::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.withSidebar-F0WBLDV5 .tabContent-F0WBLDV5::-webkit-scrollbar-thumb {
  background-color: #9598a1;
  border: 1px solid #f0f3fa;
  border-radius: 3px;
}
html.theme-dark
  .withSidebar-F0WBLDV5
  .tabContent-F0WBLDV5::-webkit-scrollbar-thumb {
  background-color: #363a45;
  border-color: #1e222d;
}
.withSidebar-F0WBLDV5 .tabContent-F0WBLDV5::-webkit-scrollbar-track {
  background-color: initial;
  border-radius: 3px;
}
.withSidebar-F0WBLDV5 .tabContent-F0WBLDV5::-webkit-scrollbar-corner {
  display: none;
}
.withSidebar-F0WBLDV5 .applyToAllButton-F0WBLDV5 {
  padding-right: 12px;
}
