.container-BZKENkhT {
  align-items: center;
  cursor: default;
  display: flex;
  flex: 0 0 auto;
  padding: 0 20px;
}
.unsetAlign-BZKENkhT {
  align-items: stretch;
}
.title-BZKENkhT {
  color: #131722;
  flex-grow: 1;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  min-width: 0;
  padding: 17px 0;
}
html.theme-dark .title-BZKENkhT {
  color: #d1d4dc;
}
@media screen and (max-height: 360px) {
  .title-BZKENkhT {
    padding: 10px 0;
  }
}
.subtitle-BZKENkhT {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 8px 0 3px;
}
.textWrap-BZKENkhT {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 28px;
  max-height: 56px;
  overflow: hidden;
}
.ellipsis-BZKENkhT {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.close-BZKENkhT {
  margin: 17px 0 17px -3px;
}
@media screen and (max-height: 360px) {
  .close-BZKENkhT {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
.icon-BZKENkhT {
  height: 17px;
}
.dialog-b8SxMnzX {
  display: block;
  max-width: 550px;
  min-width: 380px;
  width: auto;
}
@media screen and (max-width: 379px) {
  .dialog-b8SxMnzX {
    min-height: auto;
    min-width: 100%;
  }
}
.wrapper-b8SxMnzX {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.dialog-b8SxMnzX .separator-b8SxMnzX {
  flex: none;
  margin: 0 0 2px;
}
.bounded-b8SxMnzX {
  box-shadow: 0 0 0 1px #e0e3eb;
}
html.theme-dark .bounded-b8SxMnzX {
  box-shadow: 0 0 0 1px #434651;
}
