.wrapper-k5swolgQ {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 31px 24px 0;
  width: 100%;
}
.text-k5swolgQ {
  color: #131722;
  font-size: 16px;
  line-height: 24px;
  max-width: 540px;
}
html.theme-dark .text-k5swolgQ {
  color: #d1d4dc;
}
@media screen and (max-width: 767px) {
  .text-k5swolgQ {
    font-size: 14px;
    line-height: 21px;
  }
}
