.swatches-sfn7Lezv {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -3px 6px;
}
.swatch-sfn7Lezv {
  all: unset;
  background-color: currentColor;
  border: 1px solid;
  border-radius: 2px;
  flex: 0 0 15px;
  height: 15px;
  margin: 3px;
  position: relative;
  width: 15px;
}
.swatch-sfn7Lezv:after {
  border: 2px solid #0000;
  border-radius: 6px;
  box-sizing: initial;
  content: "";
  height: 100%;
  left: -5px;
  padding: 3px;
  position: absolute;
  top: -5px;
  transition: border-color .35s ease;
  width: 100%;
}
.swatch-sfn7Lezv.hover-sfn7Lezv:after {
  border-color: var(--themed-color-swatch-border-hover, #dbdbdb);
}
@media (any-hover: hover) {
  .swatch-sfn7Lezv:hover:after {
    border-color: var(--themed-color-swatch-border-hover, #dbdbdb);
  }
}
html.theme-dark .swatch-sfn7Lezv.hover-sfn7Lezv:after {
  border-color: var(--themed-color-swatch-border-hover, #575757);
}
@media (any-hover: hover) {
  html.theme-dark .swatch-sfn7Lezv:hover:after {
    border-color: var(--themed-color-swatch-border-hover, #575757);
  }
}
.swatch-sfn7Lezv.empty-sfn7Lezv {
  background-color: initial;
  border-color: var(--themed-color-empty-border, #000);
}
html.theme-dark .swatch-sfn7Lezv.empty-sfn7Lezv {
  border-color: var(--themed-color-empty-border, #fff);
}
.swatch-sfn7Lezv.empty-sfn7Lezv:before {
  content: "";
  height: 21px;
  left: 7px;
  position: absolute;
  top: -3px;
  transform: rotate(45deg);
  width: 1px;
}
.swatch-sfn7Lezv.empty-sfn7Lezv:before,
html.theme-dark .swatch-sfn7Lezv.empty-sfn7Lezv:before {
  background-color: var(--themed-color-empty-line, #f7525f);
}
.swatch-sfn7Lezv.white-sfn7Lezv {
  border-color: var(--themed-color-white-border, #dbdbdb);
}
html.theme-dark .swatch-sfn7Lezv.white-sfn7Lezv {
  border-color: var(--themed-color-white-border, #0000);
}
.swatch-sfn7Lezv.selected-sfn7Lezv:after {
  border-color: var(--themed-color-selected-border, #1a1a1a);
  z-index: 1;
}
html.theme-dark .swatch-sfn7Lezv.selected-sfn7Lezv:after {
  border-color: var(--themed-color-selected-border, #dbdbdb);
}
.swatch-sfn7Lezv:focus-visible:after {
  border-color: var(--themed-color-brand, #2962ff);
}
html.theme-dark .swatch-sfn7Lezv:focus-visible:after {
  border-color: var(--themed-color-brand, #2962ff);
}
.contextItem-sfn7Lezv {
  box-sizing: border-box;
  height: 32px;
}
.row-sfn7Lezv {
  display: flex;
}
.saturation-NFNfqP2w {
  border-radius: 2px;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 0;
}
.saturation-NFNfqP2w:after,
.saturation-NFNfqP2w:before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.saturation-NFNfqP2w:before {
  background-image: linear-gradient(90deg, #fff, #fff0);
}
.saturation-NFNfqP2w:after {
  background-image: linear-gradient(0deg, #000, #0000);
}
.saturation-NFNfqP2w .pointer-NFNfqP2w {
  background-color: initial;
  border: 2px solid var(--themed-color-border-primary-neutral-extra-heavy, #000);
  border-radius: 50%;
  box-shadow: 0 1px 2px #00000080;
  height: 10px;
  margin: -6px 0 0 -6px;
  position: absolute;
  transition: left .1s, top .1s;
  width: 10px;
  z-index: 1;
}
html.theme-dark .saturation-NFNfqP2w .pointer-NFNfqP2w {
  border: 2px solid var(--themed-color-border-primary-neutral-extra-heavy, #fff);
}
.accessible-NFNfqP2w {
  outline: none;
  overflow: visible;
  position: relative;
}
.accessible-NFNfqP2w:focus {
  outline: none;
}
.accessible-NFNfqP2w:focus-visible {
  outline: none;
}
.accessible-NFNfqP2w:after {
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  content: "";
  display: none;
  height: calc(100% + 8px);
  left: -4px;
  pointer-events: none;
  position: absolute;
  top: -4px;
  width: calc(100% + 8px);
  z-index: 1;
}
.accessible-NFNfqP2w:focus:after {
  display: block;
}
.accessible-NFNfqP2w:focus-visible:after {
  display: block;
}
.accessible-NFNfqP2w:focus:not(:focus-visible):after {
  display: none;
}
.accessible-NFNfqP2w:after {
  border-color: #2962ff;
  border-radius: 6px;
}
.hue-r4uo5Wn6 {
  align-items: stretch;
  background-image: linear-gradient(
    180deg,
    red 0,
    #ff0 17%,
    #0f0 33%,
    #0ff 50%,
    #00f 67%,
    #f0f 83%,
    red
  );
  border-radius: 2px;
  display: flex;
}
.hue-r4uo5Wn6 .pointer-r4uo5Wn6 {
  background-color: initial;
  border: 2px solid var(--themed-color-border-primary-neutral-extra-heavy, #000);
  border-radius: 2px;
  box-shadow: 0 1px 2px #00000080;
  height: 5px;
  margin: -4px 0 0 -2px;
  position: absolute;
  transition: left .1s, top .1s;
  width: 100%;
}
html.theme-dark .hue-r4uo5Wn6 .pointer-r4uo5Wn6 {
  border: 2px solid var(--themed-color-border-primary-neutral-extra-heavy, #fff);
}
.hue-r4uo5Wn6.accessible-r4uo5Wn6 {
  outline: none;
  overflow: visible;
  position: relative;
}
.hue-r4uo5Wn6.accessible-r4uo5Wn6:focus {
  outline: none;
}
.hue-r4uo5Wn6.accessible-r4uo5Wn6:focus-visible {
  outline: none;
}
.hue-r4uo5Wn6.accessible-r4uo5Wn6:after {
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  content: "";
  display: none;
  height: calc(100% + 8px);
  left: -4px;
  pointer-events: none;
  position: absolute;
  top: -4px;
  width: calc(100% + 8px);
  z-index: 1;
}
.hue-r4uo5Wn6.accessible-r4uo5Wn6:focus:after {
  display: block;
}
.hue-r4uo5Wn6.accessible-r4uo5Wn6:focus-visible:after {
  display: block;
}
.hue-r4uo5Wn6.accessible-r4uo5Wn6:focus:not(:focus-visible):after {
  display: none;
}
.hue-r4uo5Wn6.accessible-r4uo5Wn6:after {
  border-color: #2962ff;
  border-radius: 6px;
}
.pointerContainer-r4uo5Wn6 {
  margin: 3px 0;
  position: relative;
  width: 100%;
}
.container-iiEYaqPD {
  padding: 6px 12px;
  width: 224px;
}
.form-iiEYaqPD {
  display: flex;
  margin-bottom: 12px;
}
.swatch-iiEYaqPD {
  border-radius: 4px;
  box-sizing: border-box;
  height: 26px;
  width: 26px;
}
.swatch-iiEYaqPD.white-iiEYaqPD {
  border: 1px solid var(--themed-color-white-border, #dbdbdb);
}
html.theme-dark .swatch-iiEYaqPD.white-iiEYaqPD {
  border: 1px solid var(--themed-color-white-border, #0000);
}
.inputWrap-iiEYaqPD {
  align-items: center;
  color: var(--themed-color-input-text, #1a1a1a);
  display: flex;
  position: relative;
}
html.theme-dark .inputWrap-iiEYaqPD {
  color: var(--themed-color-input-text, #dbdbdb);
}
.inputHash-iiEYaqPD {
  pointer-events: none;
  position: absolute;
  text-align: right;
  top: 5px;
  width: 21px;
}
.input-iiEYaqPD {
  background-color: initial;
  border: 1px solid var(--themed-color-input-border, #dbdbdb);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  height: 26px;
  line-height: 24px;
  margin-left: 8px;
  padding: 0 5px 0 12px;
  width: 68px;
}
html.theme-dark .input-iiEYaqPD {
  border: 1px solid var(--themed-color-input-border, #575757);
}
.input-iiEYaqPD:focus,
html.theme-dark .input-iiEYaqPD:focus {
  border-color: var(--themed-color-brand, #2962ff);
}
.buttonWrap-iiEYaqPD {
  height: 26px;
  margin-left: auto;
}
.hueSaturationWrap-iiEYaqPD {
  display: flex;
  height: 184px;
}
.saturation-iiEYaqPD {
  margin-right: 7px;
  width: 200px;
}
.hue-iiEYaqPD {
  height: 100%;
  width: 17px;
}
.container-mdcOkvbj {
  padding: 6px 12px;
  width: 224px;
}
.sectionTitle-mdcOkvbj {
  color: var(--themed-color-default-gray, #707070);
  font-size: 12px;
  line-height: 14px;
  margin: 12px 0 4px;
}
html.theme-dark .sectionTitle-mdcOkvbj {
  color: var(--themed-color-default-gray, #8c8c8c);
}
.separator-mdcOkvbj {
  background-color: var(--themed-color-separator, #dbdbdb);
  height: 1px;
  margin: 12px 0;
}
html.theme-dark .separator-mdcOkvbj {
  background-color: var(--themed-color-separator, #4a4a4a);
}
.separator-mdcOkvbj:last-child {
  display: none;
}
.customButton-mdcOkvbj {
  align-items: center;
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  height: 17px;
  justify-content: center;
  margin: 3px;
  position: relative;
  transition: background-color .35s;
  width: 17px;
}
@media (any-hover: hover) {
  .customButton-mdcOkvbj:hover {
    background-color: var(--themed-color-custom-button-hover, #f2f2f2);
  }
  html.theme-dark .customButton-mdcOkvbj:hover {
    background-color: var(--themed-color-custom-button-hover, #303030);
  }
}
.customButton-mdcOkvbj:after,
.customButton-mdcOkvbj:before {
  background-color: var(--themed-color-custom-button, #1a1a1a);
  content: "";
  position: absolute;
}
html.theme-dark .customButton-mdcOkvbj:after,
html.theme-dark .customButton-mdcOkvbj:before {
  background-color: var(--themed-color-custom-button, #dbdbdb);
}
.customButton-mdcOkvbj:before {
  height: 13px;
  left: calc(50% - .5px);
  top: calc(50% - 6.5px);
  width: 1px;
}
.customButton-mdcOkvbj:after {
  height: 1px;
  left: calc(50% - 6.5px);
  top: calc(50% - .5px);
  width: 13px;
}
.accessible-mdcOkvbj {
  all: unset;
  align-items: center;
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  height: 17px;
  justify-content: center;
  margin: 3px;
  position: relative;
  transition: background-color .35s;
  width: 17px;
}
@media (any-hover: hover) {
  .accessible-mdcOkvbj:hover {
    background-color: var(--themed-color-custom-button-hover, #f2f2f2);
  }
  html.theme-dark .accessible-mdcOkvbj:hover {
    background-color: var(--themed-color-custom-button-hover, #303030);
  }
}
.accessible-mdcOkvbj:after,
.accessible-mdcOkvbj:before {
  background-color: var(--themed-color-custom-button, #1a1a1a);
  content: "";
  position: absolute;
}
html.theme-dark .accessible-mdcOkvbj:after,
html.theme-dark .accessible-mdcOkvbj:before {
  background-color: var(--themed-color-custom-button, #dbdbdb);
}
.accessible-mdcOkvbj:before {
  height: 13px;
  left: calc(50% - .5px);
  top: calc(50% - 6.5px);
  width: 1px;
}
.accessible-mdcOkvbj:after {
  height: 1px;
  left: calc(50% - 6.5px);
  top: calc(50% - .5px);
  width: 13px;
}
.accessible-mdcOkvbj:focus-visible {
  border: 2px solid #2962ff;
  border-radius: 4px;
}
