.item-jFqVJoPk {
  align-items: center;
  background-color: var(
    --tv-color-popup-background,
    var(--themed-color-popup-background, #fff)
  );
  border: 0;
  box-sizing: border-box;
  color: var(
    --tv-color-popup-element-text,
    var(--themed-color-popup-element-text, #1a1a1a)
  );
  cursor: default;
  display: flex;
  flex-flow: row nowrap;
  font-size: 14px;
  padding: 2px 8px 2px 10px;
  transition-property: none;
  white-space: nowrap;
  width: 100%;
}
html.theme-dark .item-jFqVJoPk {
  background-color: var(
    --tv-color-popup-background,
    var(--themed-color-popup-background, #262626)
  );
  color: var(
    --tv-color-popup-element-text,
    var(--themed-color-popup-element-text, #dbdbdb)
  );
}
.item-jFqVJoPk.hovered-jFqVJoPk,
.item-jFqVJoPk:active {
  color: var(
    --tv-color-popup-element-text-hover,
    var(--themed-color-popup-element-text-hover, #1a1a1a)
  );
}
@media (any-hover: hover) {
  .item-jFqVJoPk:hover {
    color: var(
      --tv-color-popup-element-text-hover,
      var(--themed-color-popup-element-text-hover, #1a1a1a)
    );
  }
}
html.theme-dark .item-jFqVJoPk.hovered-jFqVJoPk,
html.theme-dark .item-jFqVJoPk:active {
  color: var(
    --tv-color-popup-element-text-hover,
    var(--themed-color-popup-element-text-hover, #c9c9c9)
  );
}
@media (any-hover: hover) {
  html.theme-dark .item-jFqVJoPk:hover {
    color: var(
      --tv-color-popup-element-text-hover,
      var(--themed-color-popup-element-text-hover, #c9c9c9)
    );
  }
}
.item-jFqVJoPk.hovered-jFqVJoPk,
.item-jFqVJoPk:active {
  background-color: var(
    --tv-color-popup-element-background-hover,
    var(--themed-color-popup-element-background-hover, #f2f2f2)
  );
}
@media (any-hover: hover) {
  .item-jFqVJoPk:hover {
    background-color: var(
      --tv-color-popup-element-background-hover,
      var(--themed-color-popup-element-background-hover, #f2f2f2)
    );
  }
}
html.theme-dark .item-jFqVJoPk.hovered-jFqVJoPk,
html.theme-dark .item-jFqVJoPk:active {
  background-color: var(
    --tv-color-popup-element-background-hover,
    var(--themed-color-popup-element-background-hover, #303030)
  );
}
@media (any-hover: hover) {
  html.theme-dark .item-jFqVJoPk:hover {
    background-color: var(
      --tv-color-popup-element-background-hover,
      var(--themed-color-popup-element-background-hover, #303030)
    );
  }
}
.item-jFqVJoPk {
  outline: none;
  overflow: visible;
  position: relative;
}
.item-jFqVJoPk:focus {
  outline: none;
}
.item-jFqVJoPk:focus-visible {
  outline: none;
}
.item-jFqVJoPk:after {
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  content: "";
  display: none;
  height: calc(100% - 4px);
  pointer-events: none;
  position: absolute;
  right: 2px;
  top: 2px;
  width: calc(100% - 4px);
  z-index: 1;
}
.item-jFqVJoPk:focus:after {
  display: block;
}
.item-jFqVJoPk:focus-visible:after {
  display: block;
}
.item-jFqVJoPk:focus:not(:focus-visible):after {
  display: none;
}
.item-jFqVJoPk:after {
  border-radius: 9px;
}
.item-jFqVJoPk:after,
html.theme-dark .item-jFqVJoPk:after,
html.theme-dark html.theme-dark .item-jFqVJoPk:after {
  border-color: var(--themed-color-focus-outline-color-blue, #2962ff);
}
.item-jFqVJoPk.isDisabled-jFqVJoPk {
  cursor: default;
  opacity: 0.5;
}
.item-jFqVJoPk.isDisabled-jFqVJoPk,
.item-jFqVJoPk.isDisabled-jFqVJoPk:active {
  background-color: var(
    --tv-color-popup-background,
    var(--themed-color-popup-background, #fff)
  );
  color: var(
    --tv-color-popup-element-text,
    var(--themed-color-popup-element-text, #1a1a1a)
  );
}
@media (any-hover: hover) {
  .item-jFqVJoPk.isDisabled-jFqVJoPk:hover {
    background-color: var(
      --tv-color-popup-background,
      var(--themed-color-popup-background, #fff)
    );
    color: var(
      --tv-color-popup-element-text,
      var(--themed-color-popup-element-text, #1a1a1a)
    );
  }
}
html.theme-dark .item-jFqVJoPk.isDisabled-jFqVJoPk,
html.theme-dark .item-jFqVJoPk.isDisabled-jFqVJoPk:active {
  background-color: var(
    --tv-color-popup-background,
    var(--themed-color-popup-background, #262626)
  );
}
@media (any-hover: hover) {
  html.theme-dark .item-jFqVJoPk.isDisabled-jFqVJoPk:hover {
    background-color: var(
      --tv-color-popup-background,
      var(--themed-color-popup-background, #262626)
    );
  }
}
html.theme-dark .item-jFqVJoPk.isDisabled-jFqVJoPk,
html.theme-dark .item-jFqVJoPk.isDisabled-jFqVJoPk:active {
  color: var(
    --tv-color-popup-element-text,
    var(--themed-color-popup-element-text, #dbdbdb)
  );
}
@media (any-hover: hover) {
  html.theme-dark .item-jFqVJoPk.isDisabled-jFqVJoPk:hover {
    color: var(
      --tv-color-popup-element-text,
      var(--themed-color-popup-element-text, #dbdbdb)
    );
  }
}
.item-jFqVJoPk.isActive-jFqVJoPk:after {
  border-color: var(--themed-color-border-primary-inverse, #fff);
}
html.theme-dark .item-jFqVJoPk.isActive-jFqVJoPk:after {
  border-color: var(--themed-color-border-primary-inverse, #000);
}
.item-jFqVJoPk.isActive-jFqVJoPk,
.item-jFqVJoPk.isActive-jFqVJoPk:active {
  background-color: var(
    --tv-color-popup-element-background-active,
    var(--themed-color-container-fill-primary-neutral-extra-bold, #303030)
  );
  color: var(
    --tv-color-popup-element-text-active,
    var(--themed-color-content-primary-inverse, #fff)
  );
}
@media (any-hover: hover) {
  .item-jFqVJoPk.isActive-jFqVJoPk:hover {
    background-color: var(
      --tv-color-popup-element-background-active,
      var(--themed-color-container-fill-primary-neutral-extra-bold, #303030)
    );
    color: var(
      --tv-color-popup-element-text-active,
      var(--themed-color-content-primary-inverse, #fff)
    );
  }
}
html.theme-dark .item-jFqVJoPk.isActive-jFqVJoPk,
html.theme-dark .item-jFqVJoPk.isActive-jFqVJoPk:active {
  background-color: var(
    --tv-color-popup-element-background-active,
    var(--themed-color-container-fill-primary-neutral-extra-bold, #f2f2f2)
  );
}
@media (any-hover: hover) {
  html.theme-dark .item-jFqVJoPk.isActive-jFqVJoPk:hover {
    background-color: var(
      --tv-color-popup-element-background-active,
      var(--themed-color-container-fill-primary-neutral-extra-bold, #f2f2f2)
    );
  }
}
html.theme-dark .item-jFqVJoPk.isActive-jFqVJoPk,
html.theme-dark .item-jFqVJoPk.isActive-jFqVJoPk:active {
  color: var(
    --tv-color-popup-element-text-active,
    var(--themed-color-content-primary-inverse, #000)
  );
}
@media (any-hover: hover) {
  html.theme-dark .item-jFqVJoPk.isActive-jFqVJoPk:hover {
    color: var(
      --tv-color-popup-element-text-active,
      var(--themed-color-content-primary-inverse, #000)
    );
  }
}
.item-jFqVJoPk.isActive-jFqVJoPk .shortcut-jFqVJoPk,
.item-jFqVJoPk.isActive-jFqVJoPk:active .shortcut-jFqVJoPk {
  color: var(--themed-color-content-secondary-inverse, #fff);
}
@media (any-hover: hover) {
  .item-jFqVJoPk.isActive-jFqVJoPk:hover .shortcut-jFqVJoPk {
    color: var(--themed-color-content-secondary-inverse, #fff);
  }
}
html.theme-dark .item-jFqVJoPk.isActive-jFqVJoPk .shortcut-jFqVJoPk,
html.theme-dark .item-jFqVJoPk.isActive-jFqVJoPk:active .shortcut-jFqVJoPk {
  color: var(--themed-color-content-secondary-inverse, #1a1a1a);
}
@media (any-hover: hover) {
  html.theme-dark .item-jFqVJoPk.isActive-jFqVJoPk:hover .shortcut-jFqVJoPk {
    color: var(--themed-color-content-secondary-inverse, #1a1a1a);
  }
}
.item-jFqVJoPk.isActive-jFqVJoPk .toolbox-jFqVJoPk.toolbox-jFqVJoPk,
.item-jFqVJoPk.isActive-jFqVJoPk:active .toolbox-jFqVJoPk.toolbox-jFqVJoPk {
  color: var(--themed-color-content-secondary-inverse, #fff);
}
@media (any-hover: hover) {
  .item-jFqVJoPk.isActive-jFqVJoPk:hover .toolbox-jFqVJoPk.toolbox-jFqVJoPk {
    color: var(--themed-color-content-secondary-inverse, #fff);
  }
}
html.theme-dark
  .item-jFqVJoPk.isActive-jFqVJoPk
  .toolbox-jFqVJoPk.toolbox-jFqVJoPk,
html.theme-dark
  .item-jFqVJoPk.isActive-jFqVJoPk:active
  .toolbox-jFqVJoPk.toolbox-jFqVJoPk {
  color: var(--themed-color-content-secondary-inverse, #1a1a1a);
}
@media (any-hover: hover) {
  html.theme-dark
    .item-jFqVJoPk.isActive-jFqVJoPk:hover
    .toolbox-jFqVJoPk.toolbox-jFqVJoPk {
    color: var(--themed-color-content-secondary-inverse, #1a1a1a);
  }
}
.item-jFqVJoPk:before {
  content: " ";
  display: block;
  height: 28px;
}
.withIcon-jFqVJoPk {
  padding-bottom: 6px;
  padding-top: 6px;
}
.round-icon-jFqVJoPk {
  border-radius: 50%;
  overflow: hidden;
}
.icon-jFqVJoPk {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin-left: 6px;
  max-height: 28px;
  max-width: 28px;
}
.icon-jFqVJoPk svg {
  display: block;
}
.labelRow-jFqVJoPk {
  align-items: baseline;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  min-width: 0;
  padding-left: 12px;
}
.labelRow-jFqVJoPk:first-child {
  padding-right: 4px;
}
.labelRow-jFqVJoPk:last-child {
  padding-left: 4px;
}
.label-jFqVJoPk {
  display: flex;
  flex: 0 0 auto;
  max-width: 100%;
  overflow: hidden;
}
.shortcut-jFqVJoPk {
  font-size: 12px;
  margin-left: 5px;
  margin-right: 58px;
  text-align: left;
}
.item-jFqVJoPk.item-jFqVJoPk:not(.isActive-jFqVJoPk) .shortcut-jFqVJoPk {
  color: var(
    --tv-color-popup-element-hint-text,
    var(--themed-color-content-primary-neutral, #707070)
  );
}
html.theme-dark
  .item-jFqVJoPk.item-jFqVJoPk:not(.isActive-jFqVJoPk)
  .shortcut-jFqVJoPk {
  color: var(
    --tv-color-popup-element-hint-text,
    var(--themed-color-content-primary-neutral, #8c8c8c)
  );
}
.item-jFqVJoPk.item-jFqVJoPk.isActive-jFqVJoPk .shortcut-jFqVJoPk {
  color: var(
    --tv-color-popup-element-hint-text,
    var(--themed-color-content-secondary-inverse, #fff)
  );
}
html.theme-dark
  .item-jFqVJoPk.item-jFqVJoPk.isActive-jFqVJoPk
  .shortcut-jFqVJoPk {
  color: var(
    --tv-color-popup-element-hint-text,
    var(--themed-color-content-secondary-inverse, #1a1a1a)
  );
}
.toolbox-jFqVJoPk {
  align-items: center;
  color: var(--themed-color-default-gray, #707070);
  display: flex;
  position: relative;
}
html.theme-dark .toolbox-jFqVJoPk {
  color: var(--themed-color-default-gray, #8c8c8c);
}
.feature-no-touch .toolbox-jFqVJoPk.showOnHover-jFqVJoPk {
  opacity: 0;
}
.toolbox-jFqVJoPk > :not(:last-child) {
  margin-left: 4px;
}
@media (max-width: 440px) {
  .toolbox-jFqVJoPk > :not(:last-child) {
    margin-left: 8px;
  }
}
.disclosure-item-circle-logo-jFqVJoPk {
  flex-shrink: 0;
  margin-inline-end: 6px;
}
.feature-no-touch
  .item-jFqVJoPk:focus-visible
  .toolbox-jFqVJoPk.showOnFocus-jFqVJoPk {
  opacity: 1;
}
@media (any-hover: hover) {
  .feature-no-touch
    .item-jFqVJoPk:hover
    .toolbox-jFqVJoPk.showOnHover-jFqVJoPk {
    opacity: 1;
  }
}
.feature-no-touch
  .item-jFqVJoPk:has(:focus-visible)
  .toolbox-jFqVJoPk.showOnFocus-jFqVJoPk {
  opacity: 1;
}
