.wrapper-mz0866M2 {
  align-items: center;
  border-radius: 4px;
  color: var(
    --tv-color-popup-element-text,
    var(--themed-color-popup-element-text, #1a1a1a)
  );
  display: flex;
  height: 38px;
  justify-content: center;
  width: 38px;
}
html.theme-dark .wrapper-mz0866M2 {
  color: var(
    --tv-color-popup-element-text,
    var(--themed-color-popup-element-text, #dbdbdb)
  );
}
.wrapper-mz0866M2.hovered-mz0866M2,
.wrapper-mz0866M2:active {
  background-color: var(
    --tv-color-popup-element-background-hover,
    var(--themed-color-popup-element-background-hover, #f2f2f2)
  );
}
@media (any-hover: hover) {
  .wrapper-mz0866M2:hover {
    background-color: var(
      --tv-color-popup-element-background-hover,
      var(--themed-color-popup-element-background-hover, #f2f2f2)
    );
  }
}
html.theme-dark .wrapper-mz0866M2.hovered-mz0866M2,
html.theme-dark .wrapper-mz0866M2:active {
  background-color: var(
    --tv-color-popup-element-background-hover,
    var(--themed-color-popup-element-background-hover, #303030)
  );
}
@media (any-hover: hover) {
  html.theme-dark .wrapper-mz0866M2:hover {
    background-color: var(
      --tv-color-popup-element-background-hover,
      var(--themed-color-popup-element-background-hover, #303030)
    );
  }
}
.emoji-BsERGcZ1 {
  display: block;
}
.clearButton-BsERGcZ1 {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.clearButton-BsERGcZ1,
.emoji-BsERGcZ1 {
  -webkit-touch-callout: none;
}
