.container-QcG0kDOU {
  align-items: center;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media (max-height: 440px) and (orientation: landscape) {
  .container-QcG0kDOU {
    justify-content: flex-start;
  }
}
.image-QcG0kDOU {
  margin-bottom: 12px;
}
@media (max-height: 440px) and (orientation: landscape) {
  .image-QcG0kDOU {
    display: none;
  }
}
.title-QcG0kDOU {
  color: var(--themed-color-icon, #000);
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 16px;
}
html.theme-dark .title-QcG0kDOU {
  color: var(--themed-color-icon, #b8b8b8);
}
.description-QcG0kDOU {
  color: var(--themed-color-text-primary, #1a1a1a);
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
html.theme-dark .description-QcG0kDOU {
  color: var(--themed-color-text-primary, #dbdbdb);
}
.button-QcG0kDOU {
  cursor: default;
  margin-top: 24px;
}
