NEXT_TELEMETRY_DISABLED=1
BLOG_URL="http://localhost:3001"
ACADEMY_URL="http://localhost:3002"

# Partner
TOKEN_LIST_PR_WEBHOOK_URL=
OCTOKIT_KEY=

NEXT_PUBLIC_ALCHEMY_ID=
ALCHEMY_ID=
NEXT_PUBLIC_INFURA_ID=
INFURA_ID=
DRPC_ID=

SUSHI_DATA_API_HOST=
NEXT_PUBLIC_SUSHI_DATA_API_HOST=

NODE_OPTIONS=--inspect

# Tron
NEXT_PUBLIC_TRON_PRO_API_KEY=''
BITQUERY_API_KEY=''
BITQUERY_BEARER_TOKEN=''

AUTH_SESSION_SECRET=""
ZITADEL_ISSUER=""
ZITADEL_SA_TOKEN=""

BLADE_API_V2_KEY=""