.chart-page.unselectable.on-widget {
  background-color: var(--background-color) !important;
}
.chart-page.unselectable.on-widget .chart-container-border {
  background-color: var(--background-color) !important;
}

:root {
  --tv-color-popup-element-text-active: #ffffff;
  --tv-color-popup-element-background-active: #349BFE;

  --themed-color-background-selected: #349BFE;
  --themed-color-background-special-secondary: #349BFE;

  --tv-color-toolbar-button-text: #535263;
  --tv-color-popup-background: white;
  --tv-color-popup-element-background-hover: #f4f6f8;

  .button-GwQQdU8S.isInteractive-GwQQdU8S.isActive-GwQQdU8S:before {
    background-color: transparent !important;
  }

  .button-GwQQdU8S.isInteractive-GwQQdU8S.isActive-GwQQdU8S {
    color: var(
      --tv-color-toolbar-button-text-active,
      var(--themed-color-toolbar-button-text-active, #349BFE)
    );
  }

  .button-GwQQdU8S.isInteractive-GwQQdU8S.isActive-GwQQdU8S:hover {
    color: var(
      --tv-color-toolbar-button-text-active-hover,
      var(--themed-color-toolbar-button-text-active-hover, #349BFE)
    );
    background-color: var(--tv-color-toolbar-button-background-active-hover);
  }
}

.theme-dark:root {
  --tv-color-popup-element-text-active: #ffffff;
  --tv-color-popup-element-background-active: #349BFE;

  --themed-color-background-selected: #349BFE;
  --themed-color-background-special-secondary: #349BFE;

  --tv-color-toolbar-button-text: #fff5fa;

  --tv-color-popup-background: #0D1217;
  --tv-color-popup-element-background-hover: #1c242d;

  .noWrap-l31H9iuA .valuesWrapper-l31H9iuA, .series-l31H9iuA .valuesWrapper-l31H9iuA{
    background-color: transparent !important;
  }

  .button-l31H9iuA, .statusesWrapper-l31H9iuA, .titlesWrapper-l31H9iuA, .valueItem-l31H9iuA{
    background-color: transparent !important;
  }
  .inner-BfVZxb4b{
    background-color: transparent !important;
  }
}
