.chart-page.unselectable.on-widget {
  background-color: var(--background-color) !important;
}
.chart-page.unselectable.on-widget .chart-container-border {
  background-color: var(--background-color) !important;
}

[data-name="custom-tradingview-styled-button"][data-tooltip="Toggle price and market cap"] {
  border-left: 1px solid rgb(19 23 34 / 25%);
  border-radius: 0;
  border-right: 1px solid rgb(19 23 34 / 25%);
  height: 28px;
  padding: 0 14px;
}

[data-name="custom-tradingview-styled-button"][data-tooltip="Toggle price and market cap"]
  .js-button-text {
  color: #131722;
  font-size: 15px;
  line-height: 20px;
}

[data-name="custom-tradingview-styled-button"][data-tooltip="Toggle price and market cap"]
  .js-button-text::before,
[data-name="custom-tradingview-styled-button"][data-tooltip="Toggle price and market cap"]
  .js-button-text::after {
  font-size: 15px;
  line-height: 20px;
}

[data-name="custom-tradingview-styled-button"][data-tooltip="Toggle price and market cap"]
  .js-button-text::before {
  color: #131722;
  content: "Price";
  font-weight: 400;
  margin-right: 4px;
}

[data-name="custom-tradingview-styled-button"][data-tooltip="Toggle price and market cap"]
  .js-button-text::after {
  color: #4777ff;
  content: "Mcap";
  font-weight: 600;
  margin-left: 4px;
}

html:has([aria-label*=":PRICE,"])
  [data-name="custom-tradingview-styled-button"][data-tooltip="Toggle price and market cap"]
  .js-button-text::before {
  color: #4777ff;
  font-weight: 600;
}

html:has([aria-label*=":PRICE,"])
  [data-name="custom-tradingview-styled-button"][data-tooltip="Toggle price and market cap"]
  .js-button-text::after {
  color: #131722;
  font-weight: 400;
}

.theme-dark
  [data-name="custom-tradingview-styled-button"][data-tooltip="Toggle price and market cap"]
  .js-button-text,
.theme-dark
  [data-name="custom-tradingview-styled-button"][data-tooltip="Toggle price and market cap"]
  .js-button-text::before,
.theme-dark:has([aria-label*=":PRICE,"])
  [data-name="custom-tradingview-styled-button"][data-tooltip="Toggle price and market cap"]
  .js-button-text::after {
  color: #d1d4dc;
}

:root {
  --tv-color-popup-element-text-active: #ffffff;
  --tv-color-popup-element-background-active: #349bfe;

  --themed-color-background-selected: #349bfe;
  --themed-color-background-special-secondary: #349bfe;

  --tv-color-toolbar-button-text: #535263;
  --tv-color-popup-background: white;
  --tv-color-popup-element-background-hover: #f4f6f8;

  .button-GwQQdU8S.isInteractive-GwQQdU8S.isActive-GwQQdU8S:before {
    background-color: transparent !important;
  }

  .button-GwQQdU8S.isInteractive-GwQQdU8S.isActive-GwQQdU8S {
    color: var(
      --tv-color-toolbar-button-text-active,
      var(--themed-color-toolbar-button-text-active, #349bfe)
    );
  }

  .button-GwQQdU8S.isInteractive-GwQQdU8S.isActive-GwQQdU8S:hover {
    color: var(
      --tv-color-toolbar-button-text-active-hover,
      var(--themed-color-toolbar-button-text-active-hover, #349bfe)
    );
    background-color: var(--tv-color-toolbar-button-background-active-hover);
  }
}

.theme-dark:root {
  --tv-color-popup-element-text-active: #ffffff;
  --tv-color-popup-element-background-active: #349bfe;

  --themed-color-background-selected: #349bfe;
  --themed-color-background-special-secondary: #349bfe;

  --tv-color-toolbar-button-text: #fff5fa;

  --tv-color-popup-background: #0d1217;
  --tv-color-popup-element-background-hover: #1c242d;

  .noWrap-l31H9iuA .valuesWrapper-l31H9iuA,
  .series-l31H9iuA .valuesWrapper-l31H9iuA {
    background-color: transparent !important;
  }

  .button-l31H9iuA,
  .statusesWrapper-l31H9iuA,
  .titlesWrapper-l31H9iuA,
  .valueItem-l31H9iuA {
    background-color: transparent !important;
  }
  .inner-BfVZxb4b {
    background-color: transparent !important;
  }
}
