.chart-page.unselectable.on-widget {
  background-color: var(--background-color) !important;
}
.chart-page.unselectable.on-widget .chart-container-border {
  background-color: var(--background-color) !important;
}

:root {
  --tv-color-popup-element-text-active: #ffffff;
  --tv-color-popup-element-background-active: #3b82f6;

  --themed-color-background-selected: #3b82f6;
  --themed-color-background-special-secondary: #3b82f6;

  --tv-color-toolbar-button-text: #535263;
  --tv-color-popup-background: white;
  --tv-color-popup-element-background-hover: #f4f6f8;

  .button-GwQQdU8S.isInteractive-GwQQdU8S.isActive-GwQQdU8S:before {
    background-color: transparent !important;
  }

  .button-GwQQdU8S.isInteractive-GwQQdU8S.isActive-GwQQdU8S {
    color: var(
      --tv-color-toolbar-button-text-active,
      var(--themed-color-toolbar-button-text-active, #3b82f6)
    );
  }

  .button-GwQQdU8S.isInteractive-GwQQdU8S.isActive-GwQQdU8S:hover {
    color: var(
      --tv-color-toolbar-button-text-active-hover,
      var(--themed-color-toolbar-button-text-active-hover, #3b82f6)
    );
    background-color: var(--tv-color-toolbar-button-background-active-hover);
  }
}

.theme-dark:root {
  --tv-color-popup-element-text-active: #ffffff;
  --tv-color-popup-element-background-active: #3b82f6;

  --themed-color-background-selected: #3b82f6;
  --themed-color-background-special-secondary: #3b82f6;

  --tv-color-toolbar-button-text: #fff5fa;

  --tv-color-popup-background: #0f172a;
  --tv-color-popup-element-background-hover: #1e293b;
}
