dist
.next
.graphclient
node_modules
generated
typechain
coverage
exports

# workers
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

soljson-v0.6.12+commit.27d51765.js
soljson-v0.8.10+commit.fc410830.js
soljson-v0.8.11+commit.d7f03943.js