tsconfig.tsbuildinfo

/node_modules

.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
.vercel
.next

public/sw.js
public/sw.js.map
public/workbox*.js
public/workbox*.js.map

/locale

.env

coverage
