# Changeset
.changeset

# GitHub
.github

# Visual Studio Code
.vscode

# Vercel output
.vercel

# Next.js output
.next

# Compiled output
dist

# Generated
.mesh
.graphclient
generated
typechain
deployments
artifacts

# Node modules
node_modules

# Solidity compilers
soljson-v0.6.12+commit.27d51765.js
soljson-v0.8.10+commit.fc410830.js
soljson-v0.8.11+commit.d7f03943.js

# Storybook
storybook-static

# Playwright
playwright-report

# PNPM
pnpm-lock.yaml