html.theme-dark .chart-page .chart-container-border {
  background-color: rgb(255 255 255) !important;
}
/* Disabled instant orders placement control */
div[data-section-name="tradingConfirmEnabled"] {
  display: none;
}
div[data-section-name="tradingSoundEnabled"] {
  display: none;
}
div[data-section-name="tradingRejectionNotifications"] {
  display: none;
}
div[data-section-name="positionPLDisplay"] {
  display: none !important;
}
div[data-section-name="reverseButton"] {
  display: none;
}
div[data-section-name="appearanceVisibilityGroup"] {
  display: none;
}
div[data-section-name="tradingPositions"] {
  display: none;
}
div[data-section-name="tradingOrders"] {
  display: none;
}
div[data-section-name="tradingExecutions"] {
  display: none;
}
div[data-section-name="extendLeftTradingLine"] {
  display: none;
}
/* instant order placement control style*/
.loading-indicator {
  font-family: Trebuchet MS, roboto, ubuntu, sans-serif;
}
.wrapper-3X2QgaDd {
  flex-direction: row-reverse;
}
.buyButton-3X2QgaDd {
  background-color: var(--up) !important;
  border-color: var(--up) !important;
  color: var(--white-1) !important;
}
.sellButton-3X2QgaDd {
  background-color: var(--down) !important;
  border-color: var(--down) !important;
  color: var(--white-1) !important;
}
.loaderItem-18GTjpi- {
  background-color: var(--white-1) !important;
}
.calculator-3AwNSLGC .calculator__input-3AwNSLGC {
  display: flex !important;
}

/* .fadeTop-Z4M3tWHb,
.fadeBot-Z4M3tWHb {
  display: none !important;
} */

.chart-page.unselectable.on-widget {
  background-color: var(--background-color) !important;
}

.chart-page.unselectable.on-widget .chart-container-border {
  background-color: var(--background-color) !important;
}

:root {
  --tv-color-popup-element-text-active: #ffffff;
  --tv-color-popup-element-background-active: #4217ff;

  --themed-color-background-selected: #4217ff;
  --themed-color-background-special-secondary: #4217ff;

  --tv-color-toolbar-button-text: #535263;

  .button-GwQQdU8S.isInteractive-GwQQdU8S.isActive-GwQQdU8S:before {
    background-color: transparent !important;
  }

  .button-GwQQdU8S.isInteractive-GwQQdU8S.isActive-GwQQdU8S {
    color: var(
      --tv-color-toolbar-button-text-active,
      var(--themed-color-toolbar-button-text-active, #4217ff)
    );
  }

  .button-GwQQdU8S.isInteractive-GwQQdU8S.isActive-GwQQdU8S:hover {
    color: var(
      --tv-color-toolbar-button-text-active-hover,
      var(--themed-color-toolbar-button-text-active-hover, #4217ff)
    );
    background-color: var(--tv-color-toolbar-button-background-active-hover);
  }

  .scrollTop-Z4M3tWHb,
  .scrollBot-Z4M3tWHb {
    background-color: rgba(66, 23, 255, .1);
    color: black;
  }
  
}

.theme-dark:root {
  --tv-color-popup-element-text-active: #ffffff;
  --tv-color-popup-element-background-active: #2962ff;

  --themed-color-background-selected: #2962ff;
  --themed-color-background-special-secondary: #2962ff;

  --tv-color-toolbar-button-text: #fff5fa;

  .button-GwQQdU8S.isInteractive-GwQQdU8S.isActive-GwQQdU8S {
    color: var(
      --tv-color-toolbar-button-text-active,
      var(--themed-color-toolbar-button-text-active, #2962ff)
    );
  }

  .button-GwQQdU8S.isInteractive-GwQQdU8S.isActive-GwQQdU8S:hover {
    color: var(
      --tv-color-toolbar-button-text-active-hover,
      var(--themed-color-toolbar-button-text-active-hover, #2962ff)
    );
    background-color: var(--tv-color-toolbar-button-background-active-hover);
  }

  .scrollTop-Z4M3tWHb,
  .scrollBot-Z4M3tWHb {
    background-color: rgba(61, 177, 255, .1);
    color: white;
  }
}


/* Default (light mode) */
.common-tooltip__body-EJBD96zX {
  background-color: #ffffff !important;
  color: #000000 !important;
}

/* Dark mode override */
@media (prefers-color-scheme: dark) {
  .common-tooltip__body-EJBD96zX {
    background-color: #000000 !important;
    color: #ffffff !important;
  }
}
