/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

html,
body,
canvas,
input,
button,
span {
  font-family: "Manrope", roboto, ubuntu, sans-serif !important;
  font-weight: 600;
  letter-spacing: 0.03em;
}
.theme-dark:root {
  --tv-color-pane-background: rgb(255 255 255);
  --tv-color-platform-background: rgb(255 255 255);
  --up: #008676;
  --down: #d92d6b;
  --white-1: rgba(255, 255, 255, 0.98);
  --tv-color-toolbar-button-text-active: #3a3778;
  --tv-color-toolbar-toggle-button-background-active: #3a3778;
  --tv-color-toolbar-toggle-button-background-active-hover: #3a3778;
}

html.theme-dark .chart-page .chart-container-border {
  background-color: rgb(255 255 255) !important;
}
/* Disabled instant orders placement control */
div[data-section-name="tradingConfirmEnabled"] {
  display: none;
}
div[data-section-name="tradingSoundEnabled"] {
  display: none;
}
div[data-section-name="tradingRejectionNotifications"] {
  display: none;
}
div[data-section-name="positionPLDisplay"] {
  display: none !important;
}
div[data-section-name="reverseButton"] {
  display: none;
}
div[data-section-name="appearanceVisibilityGroup"] {
  display: none;
}
div[data-section-name="tradingPositions"] {
  display: none;
}
div[data-section-name="tradingOrders"] {
  display: none;
}
div[data-section-name="tradingExecutions"] {
  display: none;
}
div[data-section-name="extendLeftTradingLine"] {
  display: none;
}
/* instant order placement control style*/
.loading-indicator {
  font-family: Trebuchet MS, roboto, ubuntu, sans-serif;
}
.wrapper-3X2QgaDd {
  flex-direction: row-reverse;
}
.buyButton-3X2QgaDd {
  background-color: var(--up) !important;
  border-color: var(--up) !important;
  color: var(--white-1) !important;
}
.sellButton-3X2QgaDd {
  background-color: var(--down) !important;
  border-color: var(--down) !important;
  color: var(--white-1) !important;
}
.loaderItem-18GTjpi- {
  background-color: var(--white-1) !important;
}
.calculator-3AwNSLGC .calculator__input-3AwNSLGC {
  display: flex !important;
}


/* .fadeTop-Z4M3tWHb,
.fadeBot-Z4M3tWHb {
  display: none !important;
} */

.chart-page.unselectable.on-widget {
  background-color: var(--background-color) !important;
}

.chart-page.unselectable.on-widget .chart-container-border {
  background-color: var(--background-color) !important;
}

:root {  
  --tv-color-pane-background: #F3F2F4;
  --tv-color-platform-background: #F3F2F4;

  --tv-color-popup-element-text-active: #ffffff;
  --tv-color-popup-element-background-active: #4217ff;
  /* --tv-color-toolbar-button-text: #4217ff; */
  --themed-color-background-selected: #4217ff;
  --themed-color-background-special-secondary: #4217ff;

}

.theme-dark:root {
  --tv-color-pane-background: #0C0C23;
  --tv-color-platform-background: #0C0C23;

  --tv-color-popup-element-text-active: #ffffff;
  --tv-color-popup-element-background-active: #3b83f6;
  /* --tv-color-toolbar-button-text: #3b83f6; */
  --themed-color-background-selected: #3b83f6;
  --themed-color-background-special-secondary: #3b83f6
}
