@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --secondary: #0000000a;
        --muted: #0000000f;
        --muted-foreground: #6b7280;
        --accent: #00000014;
        --accent-foreground: #111827;
    }

    .dark {
        --secondary: #ffffff0a;
        --muted: #ffffff0f;
        --muted-foreground: 215.4 16.3% 56.9%;
        --accent: #ffffff14;
        --accent-foreground: 210 40% 98%;
    }
}
