@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --muted: #0000000a;
        --muted-foreground: #6b7280;
        --accent: #0000000a;
        --accent-foreground: #111827;
    }

    .dark {
        --muted: 223 47% 11%;
        --muted-foreground: 215.4 16.3% 56.9%;
        --accent: 216 34% 17%;
        --accent-foreground: 210 40% 98%;
    }
}
