:root,
::before,
::after {
  --font-sans: 'Inter Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color-scheme: light;
  --background-color: #f4f5f6;
  --color: #000;
}

.dark:root,
.dark::before,
.dark::after {
  color-scheme: dark;
  --background-color: #0f172a;
  --color: #ffffff;
}