html {
    font-size: 16px;
}

@media (min-width:420px) {
    html {
        font-size: 14px;
    }
}

.bg-noise {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(15, 23, 42, 1) 0%, rgba(15, 23, 42, 1) 30%, rgba(112, 26, 117, 0.15) 100%);
    background-blend-mode: overlay;
}
