@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables.css";

*,
*:before,
*:after {
  box-sizing: inherit;
}


html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

li {
  list-style: none;
}

html,
body {
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--color);
  overscroll-behavior-x: none;
}
