:root,
::before,
::after {
  --font-sans: "InterVariable",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  --background-color: #0f172a;
  --color: #ffffff;
}

:root {
  color-scheme: dark;
}
