.wallet-button {
  color: #fff;
}
.wallet-connect-button-text {
  color: #000;
}
.wallet-menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wallet-name-wrapper {
  display: flex;
  align-items: center;
}
.swap-container .wallet-button {
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  transition-property: all;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #2563eb;
  gap: 0.5rem;
  height: 52px;
  border: 0;
}
.swap-container .wallet-button:hover {
  background-color: #2563eb;
  color: #fff;
}

.Toastify__close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
