@tailwind components;

@layer components {
    .arrow,
    .arrow::before {
        position: absolute;
        width: 20px;
        height: 20px;
        z-index: -1;
    }

    .arrow::before {
        content: '';
        transform: rotate(45deg);
        border-radius: 3px;
        @apply bg-slate-700
    }

    .tooltip[data-popper-placement^='top'] > .arrow {
        bottom: -4px
    }

    .tooltip[data-popper-placement^='bottom'] > .arrow {
        top: -4px
    }

    .tooltip[data-popper-placement^='left'] > .arrow {
        right: -4px
    }

    .tooltip[data-popper-placement^='right'] > .arrow {
        left: -4px
    }
}
