name: Sushi - apps / earn

on:
  push:
    branches: ["master"]
    paths:
      - "apps/earn/**"
  pull_request:
    types: [opened, synchronize]
    paths:
      - "apps/earn/**"

concurrency: ${{ github.workflow }}-${{ github.ref }}

env:
  CI: true
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

jobs:
  ci:
      name: Continuous integration
      timeout-minutes: 30
      runs-on: ubuntu-latest
      env:
        # TURBO
        TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
        TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
        # RPC
        NEXT_PUBLIC_INFURA_ID: ${{ secrets.NEXT_PUBLIC_INFURA_ID }}
        NEXT_PUBLIC_ALCHEMY_ID: ${{ secrets.NEXT_PUBLIC_ALCHEMY_ID }}
        INFURA_ID: ${{ secrets.NEXT_PUBLIC_INFURA_ID }}
        ALCHEMY_ID: ${{ secrets.NEXT_PUBLIC_ALCHEMY_ID }}
      steps:
        - name: Check out
          uses: actions/checkout@v3
          with:
            fetch-depth: 2
 
        - uses: pnpm/action-setup@v2
          with:
            version: 7
 
        - name: Setup Node.js
          uses: actions/setup-node@v3
          with:
            node-version: 16
            cache: 'pnpm'
 
        - name: Install dependencies
          run: pnpm install

        # - name: Lint earn app
        #   run: pnpm lint-earn-app

        - name: Build earn app
          run: pnpm build-earn-app

        # Here's the first place where next-bundle-analysis' own script is used
        # This step pulls the raw bundle stats for the current bundle
        - name: Analyze bundle
          run: cd ./apps/earn && npx -p nextjs-bundle-analysis report

        - name: Upload bundle
          uses: actions/upload-artifact@v2
          with:
            name: bundle
            path: ./apps/earn/.next/analyze/__bundle_analysis.json

        - name: Download base branch bundle stats
          uses: dawidd6/action-download-artifact@v2
          if: success() && github.event.number
          with:
            workflow: nextjs_bundle_analysis.yml
            branch: ${{ github.event.pull_request.base.ref }}
            path: ./apps/earn/.next/analyze/base

        # And here's the second place - this runs after we have both the current and
        # base branch bundle stats, and will compare them to determine what changed.
        # There are two configurable arguments that come from package.json:
        #
        # - budget: optional, set a budget (bytes) against which size changes are measured
        #           it's set to 350kb here by default, as informed by the following piece:
        #           https://infrequently.org/2021/03/the-performance-inequality-gap/
        #
        # - red-status-percentage: sets the percent size increase where you get a red
        #                          status indicator, defaults to 20%
        #
        # Either of these arguments can be changed or removed by editing the `nextBundleAnalysis`
        # entry in your package.json file.
        - name: Compare with base branch bundle
          if: success() && github.event.number
          run: ls -laR ./apps/earn/.next/analyze/base && cd ./apps/earn &&  npx -p nextjs-bundle-analysis compare

        - name: Get comment body
          id: get-comment-body
          if: success() && github.event.number
          run: |
            body=$(cat ./apps/earn/.next/analyze/__bundle_analysis_comment.txt)
            body="${body//'%'/'%25'}"
            body="${body//$'\n'/'%0A'}"
            body="${body//$'\r'/'%0D'}"
            echo ::set-output name=body::$body

        - name: Find Comment
          uses: peter-evans/find-comment@v1
          if: success() && github.event.number
          id: fc
          with:
            issue-number: ${{ github.event.number }}
            body-includes: '<!-- __NEXTJS_BUNDLE -->'

        - name: Create Comment
          uses: peter-evans/create-or-update-comment@v1.4.4
          if: success() && github.event.number && steps.fc.outputs.comment-id == 0
          with:
            issue-number: ${{ github.event.number }}
            body: ${{ steps.get-comment-body.outputs.body }}

        - name: Update Comment
          uses: peter-evans/create-or-update-comment@v1.4.4
          if: success() && github.event.number && steps.fc.outputs.comment-id != 0
          with:
            issue-number: ${{ github.event.number }}
            body: ${{ steps.get-comment-body.outputs.body }}
            comment-id: ${{ steps.fc.outputs.comment-id }}
            edit-mode: replace