name: Sushi - type checking
on:
  pull_request:
    types: [opened, synchronize]
    paths:
      - ".github/workflows/check.yml"
      - "apis/**"
      - "apps/**"
      - "jobs/**"
      - "config/**"
      - "packages/**"
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [18]
    steps:
    - uses: actions/checkout@v3
    - uses: pnpm/action-setup@v2
      with:
        version: 7.9.5
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'
    - name: Install dependencies
      run: pnpm install
    - name: Check types
      run: pnpm check